[2015-07-07 20:25] jdanyow opened #1 "focus considerations"
(moved from https://github.com/aurelia/framework/issues/142)
1. [`.autofocus`](https://github.com/BlueSpire/Durandal/blob/master/src/plugins/js/dialog.js#L502) / [`autofocus`](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms_in_HTML#The_autofocus_attribute):
2. [preventing users from tabbing off modals onto the underlying page](https://github.com/angular-ui/bootstrap/issues/738#issuec

[2015-07-07 23:03] PWKad opened #2 "Architecture / Design considerations"
Here is a conglomerate post of the design discussions we've (@Aaike and I) had so far -

Right now for the gooy/dialog-service there is a dependency on the https://github.com/gooy/aurelia-compiler  to create new dialogs from a VM.

We should have the ability to switch between templates (bs vs foundation, etc...) do you have any ideas for how we can do this without having multiple repos or branches

[2015-07-07 23:08] PWKad commented on #2
So in addition to that discussion there's the question of whether it is best to have a single hook in the `app.html` or somewhere so the author can specify their own entry position for the modal that the other view-models and such bind to to change the content or always add and remove the modal from the DOM completely?

ex of using hooks -
[code]

[2015-07-07 23:10] PWKad opened #3 "Allow user to override the standard templates with their own templates"
This is to allow extending the template much easier.

[2015-07-17 05:14] EisenbergEffect commented on #3
I think we can do this by creating a custom view strategy. Let's call it a ConfigurableViewStrategy. By default it will use the provided view, but it can also tie into some plugin configuration that lets the end developer provide an alternate html path to load. We could even add this view strategy to the framework core if you think it makes sense.

[2015-08-04 19:01] gregoryagu opened #12 "Sample code needs to be updated in readme"
This line: import {DialogService, Prompt} from 'aurelia/modal';

Shouldbe: import {DialogService, Prompt} from 'aurelia-dialog';

[2015-08-04 21:26] jods4 opened #13 "What's with the arrow effects on Promises?"
I was reading some Aurelia source code and I really couldn't help but notice those terrible pyramids of `Promise`. Look for instance at `dialog-controller.js` for a short file where the style of coding is obvious.

One (smaller) benefit of the `Promise` API is that we can flatten our code compared to callbacks and put all the `.then()` on the same level:
[code]

I understand that returning the fir

[2015-08-11 18:26] jbellsey opened #15 "Problem with @inject(Element)"
I'm having trouble using `@inject(Element)` to access the DOM inside my dialog. Perhaps this is because the view-model is created dynamically, outside the main framework? I need access to the `<input>` field inside the dialog, and the only way to get it seems to be with "old-fashioned" DOM access, `document.getElementById()`.

Thoughts? Am I doing something wrong here?

[code]
[code]

[2015-08-11 20:43] gregoryagu opened #16 "In IE, Dialog has transparent background"
I don't know if this is the correct fix, but by adding "background: white" to the dialog css class, it resolved the issue.

This fix is not needed for Chrome.

[2015-08-14 15:46] PWKad commented on #12
Fixed by last commit

[2015-08-14 15:46] #12 closed

[2015-08-17 20:25] rzvpopescu opened #19 "Error while using aurelia-dialog"
Hello,

I'm trying to use aurelia-dialog plugin, and if I try the example from the documentation I receive the following error.
I've got the latest aurelia version from gitbub and the error still occurs.

Unhandled promise rejection Error: Error instantiating configure. Check the inner error for details.
You can  check the error at this address : http://notes-popescurazvan.c9.io/
Just hit the Subm

[2015-08-17 20:48] PWKad commented on #19
Sounds like you are using a version before the configuration API was refactored.  Since this repo has not been released yet officially just `jspm install` it from master again.

[2015-08-17 20:51] michaelmalonenz commented on #19
It's due to the fact that even though the code has been updated, the build (in the repository) doesn't match what's there, so it's trying to use the old API.

[2015-08-17 21:12] rzvpopescu commented on #19
I see. So are you planning to fix this issue ? Thanks

[2015-08-17 21:12] #19 closed

[2015-08-19 00:13] michaelmalonenz commented on #19
@rzvpopescu You should be (in the interim) be able to use our fork, which will be kept up-to-date until this aurelia-dialog is released, here: https://github.com/drivesoftware/dialog/releases/tag/0.1.1

[2015-08-19 05:32] PWKad commented on #15
I think that's the case - but what are you expecting to be returned?  The `input` or the entire `dialog`?

[2015-08-19 05:47] PWKad commented on #19
I've committed the proper `dist` files to update.  I've also made the initial release, so please let me know if you are running in to any issues.

[2015-08-19 05:52] PWKad commented on #13
The handling o the promises being resolved appear to be nested properly to show dependency on the parent from my perspective - if there is a less performant we'd welcome a pull request that demonstrates an issue / solution.  A useless return statement isn't less performant as far as I know where as a conditional check with a return to prevent executing a code block would indeed be less performant,

[2015-08-19 05:54] PWKad commented on #1
@jdanyow I believe we have an `attachFocus` behavior that handles the focusing of the dialog now properly to handle this.  I'm going to put together some E2E tests now to validate and if so close this out.

[2015-08-19 05:55] jbellsey commented on #15
I would have expected the injected `element` to be the root dialog, as with any other Aurelia  view. Normally I would want to call `querySelector()` on the wrapper DOM element, to access the other elements inside the dialog, like the `input`.

In this case, I have to resort to using an ID to retrieve any DOM elements in this view. This is not ideal, even though I can work around the limitation for

[2015-08-19 07:56] jods4 commented on #13
The most important aspect of this in my opinion is that this is not idiomatic JS and it makes for really hard to read/understand code.

As a poster child example, of course the useless `return` on L44 has no impact on perf whether you remove it or not. But it is highly misleading. For a reader like me it implies that you are returning the promise with possible intention to chain it. But in reality

[2015-08-19 14:19] EisenbergEffect commented on #15
We can fix this up. It's probably just an oversight.

[2015-08-19 14:36] EisenbergEffect commented on #13
@jods4 We would definitely be interested in a PR to improve this. I wrote that code in haste a month or so ago and hadn't had time to think about it much since. We would appreciate your assistance in improving these issues.

Do you have a resource I can read related to the information you have above? In some of my reading I thought I read that nesting the promises was preferred in order to not los

[2015-08-19 17:40] jods4 commented on #13
@EisenbergEffect I have signed the CLA already. If you take PR for this I might have a look at it when I have some time, but that may not be soon as I have a lot of work right now. <_<

Errors flow through the Promise chain. So if you do `A.then(B).then(C).then(D).catch(X)` you will catch in `X` any error occuring in the chain. More precisely, if say `B` throws, the `.then(B)` promise will reject,

[2015-08-21 04:57] EisenbergEffect commented on #13
@jods4 Thanks for taking time to write up some information. I know you're busy and thank you for being willing to engage and help us make Aurelia better.

[2015-08-26 19:54] Mordred opened #22 "[dialog-controller] Cancel"
`DialogController.cancel()` is not triggering `this._reject`, so that `catch` part of the `dialogService.open()` is never executed.

[2015-08-26 20:00] EisenbergEffect commented on #22
If I recall, that is by design since closing a dialog shouldn't result in throwing an exception.

[2015-08-26 20:23] Mordred commented on #22
So there is no way, how to notify parent, that modal was canceled?

[2015-08-31 17:01] gregoryagu opened #23 "Add d.ts"
There is currently no type definition file.

[2015-09-02 06:18] grischa41277 commented on #22
Hi there,

I also think it's necessary to call reject...if you want to use the dialogservice e.g. within CanDeactivate of a viewmodel, you may want to return the promise. If reject is never called in the controller, the promise is never handled correctly.

Cheers,
Chris

[2015-09-02 17:22] PWKad commented on #22
If we call reject and the developer doesn't handle the promise rejection it will throw an error every time.  We thought that would be a bad experience, perhaps we can revisit whether there is a way to do this without throwing the error.  I'm assuming that if we do allow rejection and it throws that the next issue opened will be on that so will be cognizant of that.

[2015-09-02 17:28] EisenbergEffect commented on #22
Maybe we can return a "promise-like" object with then, catch and cancel chainables?

[2015-09-05 18:21] CharlesPockert commented on #16
Same for Firefox - transparent BG

[2015-09-06 01:52] digizen opened #25 "How to use the aurelia-dialog plugin with Aurelia?"
I'm having trouble setting up the aurelia-dialog plugin (0.2.0) with my test Aurelia app.

Unfortunately, the README.MD file that details how to accomplish this has some serious holes. First, it doesn't mention having to inject the aureliaDialog into your class, so I tried this first:

    @inject(HttpClient, DialogService)
    export class MyClass{
      constructor(http, dialogService) {

[2015-09-06 15:45] CharlesPockert commented on #25
This is an issue in the dialog template, I've submitted a PR for it.

https://github.com/aurelia/dialog/pull/24

[2015-09-06 15:46] CharlesPockert commented on #25
Forgot to ping you :) @digizen

[2015-09-07 18:01] digizen commented on #25
@CharlesPockert  - thanks! It looks like this fixed the issue.

Can I recommend that you add the two missing steps to the README file?
- Adding the plugin to main.js
- Making sure to inject the DialogService into your class

Thanks again,
Greg

[2015-09-07 18:01] #25 closed

[2015-09-09 14:14] samelamin opened #26 "default model failing to load"
I am trying to create a reusable dialog for users to confirm whether they want to do something or not

to do this I am creating a custom element, but how do I know when the confirm button on my custom element is clicked?

To solve this problem I am hoping to use this repo but I am getting this error when loading the default example

ex = Error: Loaders must implement loadModule(id). at Loader.load

[2015-09-10 02:24] digizen commented on #22
If "Cancel" doesn't throw, then the documentation needs to be revised. This is from the docs:

    submit(){
      this.dialogService.open({ viewModel: Prompt, model: 'Good or Bad?'}).then(() =>
      {
         console.log('good');
      }).catch(() => {
         console.log('bad');
     });

Clicking "OK" prints "good" to the console, but the "bad" clause is never executed, regardless what you c

[2015-09-10 03:39] EisenbergEffect commented on #22
@PWKad We definitely need to update the docs, but also what do you think of adding a cancel callback to the promise so that can be used instead of catch when desired? The problem is that rejecting will cause an exception if someone doesn't have a catch handler. We don't want to force that type of api usage, but it could be useful to know when a dialog has been cancelled in some cases, so maybe spe

[2015-09-10 16:55] digizen commented on #22
I think a better approach than cancellable promises is to return a single promise on either "Cancel" or "Ok" events. You can then return an "Result" object as part of the promise that the user can inspect and deal with.

[2015-09-10 18:41] ShawnCholeva commented on #26
I also am running into the same error.  It was working earlier, then I pulled down a commit from my buddy who may have been on a different version, and this error began to happen.  I am using the demonstration on the github page using a viewModel (it also is the same error with the Prompt).

[code]

[2015-09-10 19:54] EisenbergEffect commented on #22
That seems reasonable. So the object my have an `isCanceled` property and an `output` property or something like that. @PWKad What do you think?

[2015-09-10 22:18] Mordred opened #27 "Bundling"
Can you add `imports` to the `index.js` so that bundler will bundle all files? Currenlty only `index.js` is bundled and the rest is loaded on demand.

[2015-09-13 01:05] EisenbergEffect commented on #27
This can be achieved by using our bundling library.

[2015-09-13 01:11] EisenbergEffect commented on #26
This isn't a bug related to the dialog plugin. I would ask this question in the gitter. The error indicates that you don't have the framework properly configured somehow. Perhaps you have version conflicts causing incorrect loading.

[2015-09-13 01:11] #26 closed

[2015-09-14 07:43] Mordred commented on #27
@EisenbergEffect OK, maybe I have to be concrete:

![image](https://cloud.githubusercontent.com/assets/29232/9844626/f3002d24-5ac4-11e5-8445-0d555bcfaa98.png)

I'm using your bundling library.

[2015-09-14 12:48] EisenbergEffect commented on #27
You need to update the bundle config to include those. See the way the existing bundle config is done and then just use a glob pattern for now. I will re-open this to add the export statements.

[2015-09-14 13:06] CharlesPockert opened #28 "IE throws stack overflow when importing Prompt.html resources"
![image](https://cloud.githubusercontent.com/assets/9073518/9850306/ab0351ca-5ae9-11e5-918f-b47440639d2e.png)

Of course I can't really get a stack trace, not had a good look yet, thought I'd log it, I'll PR it if I can figure it out and it helps you lot out :)

Works fine when I remove the dialog dependency (but then my dialogs don't work!)

FYI this works fine on FF/Chrome (as usual!)

[2015-09-14 13:11] EisenbergEffect commented on #28
Two things:

1. @PWKad We need to remove the Prompt class. I designed that only as a simple example of library use and would rather it not be shipped with the library in a way that it can be used in other projects.
2. The actual bug probably relates to a templating bug that we are tracking in that library. When we resolve it (hopefully this week) then that should fix this issue.

[2015-09-14 13:11] #28 closed

[2015-09-14 13:30] CharlesPockert commented on #28
Thanks @EisenbergEffect will wait patiently - my app is pretty much prod ready so I'll let you know how it goes down (it's replacing a SL app which was written using Caliburn.Micro which went down well :))

[2015-09-15 07:31] mrpink76 opened #29 "Problem using dialogue using skeleton-navigation-0.18.1"
* Downloaded the skeleton-navigation-0.18.1 source

* Ran the following commands
npm install
jspm install -y
gulp watch

The Skeleton app was working fine

* Modified the welcome.js as follows:

import {inject} from 'aurelia-framework';
import {DialogService, Prompt} from 'aurelia-dialog';

@inject(DialogService)
export class Welcome{
// ...
  constructor(dialogService){
      this.dialogService =

[2015-09-16 21:15] shannonhorn opened #30 "missing installation steps"
Changing the plugin into the main.js file is missing

.plugin('aurelia-dialog')

Additionally, the installation steps that are provided are a little vague. Thank you.

[2015-09-19 19:36] #30 closed

[2015-09-19 19:41] #27 closed

[2015-09-19 19:41] #2 closed

[2015-09-19 19:43] PWKad commented on #22
Sounds good, let me whip something up and see how it looks

[2015-09-20 18:15] Mordred opened #31 "Scrolling"
Bootstrap modal is setting `.modal-open` class on the `body` element to set `overflow: hidden`. Can you add this behaviour so that scrolling will not scroll page under dialog?

[2015-09-21 09:23] valichek opened #32 "TypeError: 'self' getter called on an object that does not implement interface Window"
Using 0.1.1
When I import Prompt from 'aurelia-dialog' all is fine, dialog opens, but when I copy prompt.js and prompt.html to my project I get an error
[code]

[2015-09-22 04:21] PWKad commented on #22
@digizen @EisenbergEffect I've added this in a `DialogResult` that has two properties -

[code]

This now gets returned on both ok and cancel and populates the output if it was ok.

[2015-09-22 04:23] PWKad commented on #29
Hello - could you please give some more info?  We have removed prompt from the exports as it is only a sample file but you can use it to construct your own application specific version.  If you are still having issues please come back and let me know or drop by our official gitter - http://gitter.im/aurelia/discuss

[2015-09-22 04:23] #29 closed

[2015-09-22 04:27] PWKad commented on #32
Can you please verify this on updated versions of all libraries?  In a pre-beta stage it's not going to be feasible to debug older versions.

[2015-09-22 08:02] shaunmccann-87 opened #34 "First use"
Seem to be getting an error on first use. Fairly blank auerlia project and on click of submit() get
Unhandled promise rejection Error: Loaders must implement loadModule(id).

Any guidance would be welcome?

[2015-09-22 08:12] shaunmccann-87 commented on #34
Ignore me I had fallen behind with package update!

[2015-09-22 08:13] #34 closed

[2015-09-22 10:18] JimmiV opened #35 "Response without properties ?"
I'm trying the simple Prompt example, but response contains the value typed in and no wasCancelled or output properties are found!

[2015-09-22 17:15] Mordred commented on #35
You have to wait for the next release.

[2015-09-23 02:17] #31 closed

[2015-09-23 02:18] PWKad commented on #35
Release is out with this change.

[2015-09-23 02:18] #35 closed

[2015-09-23 02:42] michaelmalonenz commented on #32
I have had issues exactly like this which a conflicting version of core-js.  Once I removed the version I had installed (because of jspm's advice that it wasn't compatible) things started working again.
try `jspm remove core-js` and add a local override (as is in the skeleton app)
[code]

and see if that helps.

[2015-09-23 08:41] Mordred commented on #31
Can you release this?

[2015-09-23 13:44] hlj commented on #28
This problem still exists in 0.3.0 when importing dialog-footer.html.

[2015-09-23 14:42] PWKad commented on #28
@hlj That's correct this bug https://github.com/aurelia/templating/issues/169 is tracking the issue.

[2015-09-24 03:06] PWKad commented on #32
Thanks @michaelmalonenz .  I'm going to close this for now but if someone is able to reproduce on an updated set of libraries please feel free to comment here.

[2015-09-24 03:06] #32 closed

[2015-09-24 11:36] wichert opened #37 "Example in README does not work"
The README uses this in its example:

[code]

This does not work: ``Prompt`` is not exported.

[2015-09-25 10:52] valichek commented on #32
I have updated aurelia libraries but error is still there.
[code]

[2015-09-25 13:34] PWKad commented on #32
@valichek If you can clone the skeleton and reproduce I can try to figure out what the issue you are running in to is.

[2015-09-25 13:35] PWKad commented on #37
Good catch forgot to remove that

[2015-10-05 20:19] xjdesigns commented on #16
@gregoryagu @charlespockert ,
Aurelia dialog uses the html5 dialog element, which been dropped from the html5 spec. So your work around would need to be adding base rules for this element in your css.

Chrome currently still uses the dialog element, see caniuse.com for the list of supported browsers.

[2015-10-05 20:23] EisenbergEffect commented on #16
@PWKad We need to rename our element to `ai-dialog` so it does not conflict with the native element.

[2015-10-05 22:48] #16 closed

[2015-10-05 23:25] PWKad commented on #31
@Mordred I saw an issue on the dialog and realized this commit broke the styling on the modal.  It is now 100% width of the screen.  Are you sure that the PR was working properly?  I'm going to have to back it out I think.  You can see the issue by cloning the repository and running the sample app with `gulp watch`

[2015-10-06 06:52] Mordred commented on #31
@PWKad Can you post some images? Because I don't know what you mean. I've tried your sample it using Chrome and modal has only 300px. What browser are you using?

[2015-10-07 03:48] PWKad commented on #31
Sorry I think the issue was the Chrome styling for a native `dialog` element caused the math introduced in this PR to work but when I switched the name it went crazy.  Sorry for the false alarm.

[2015-10-07 04:21] #37 closed

[2015-10-08 20:37] nano2nd opened #38 "Support for newest version of Aurelia"
Currently not working with newest port of Aurelia

[2015-10-08 21:03] PWKad commented on #38
What versions are you using?  (dialog vs framework)

[2015-10-08 21:13] #38 closed

[2015-10-08 21:13] nano2nd commented on #38
Sorry did not realize I was using an earlier version.

[2015-10-09 09:56] hoangcuongvn commented on #23
I see the package aurelia-dialog does not have the .d.ts file, me too.

If generating the .d.ts file is not difficult, please add it into the package like other Aurelia packages. That will help us much.

[2015-10-12 18:57] nano2nd opened #39 "No dialog-overlay background color showing"
Dialog appears but does not overlay the view underneath. I see the overlay element in the DOM called "dialog-overlay" but appears to be missing a background-color.

[2015-10-14 08:57] heruan opened #40 "Export the Prompt example"
It would be nice to have `Prompt` exported to import it for the most common use-cases.

[2015-10-14 09:02] heruan commented on #40
Or, better, a simple confirmation Yes/No dialog!

[2015-10-14 09:19] heruan opened #41 "Promise rejection on cancel"
Shouldn't the Promise reject when the DialogController `cancel()`s?

[2015-10-14 09:31] Mordred commented on #41
Check #22

[2015-10-14 15:05] heruan commented on #41
Thank you @Mordred!

[2015-10-14 15:05] #41 closed

[2015-10-14 15:53] PWKad commented on #40
We were previously exporting the prompt but it's more of an example - I'll leave this issue open and if we get more interest maybe we can make it as an export again.

[2015-10-14 15:55] EisenbergEffect commented on #40
In my experience, people want to do prompts a little different, even from app to app, so I'm not sure if we should include one out of the box. However, this might be a great way to do some documentation. Basically, create the prompt as part of a docs article on how to use the dialog plugin. Thoughts?

[2015-10-14 20:57] LivesleyWA opened #42 "Error on the plugin declaration"
V0.4.1. - Errors disappears if  _.plugin("aurelia-dialog")_ is removed.

_Declaration_

  aurelia.use
    .standardConfiguration()
    .developmentLogging()
    .plugin("aurelia-dialog")
    .plugin("aurelia-flux");

_SystemJS declaration_

    "github:aurelia/dialog@0.4.1": {
      "aurelia-dependency-injection": "github:aurelia/dependency-injection@0.11.0",
      "aurelia-framework": "github:aur

[2015-10-17 00:46] schuetta92 opened #44 "Issue changing contents of array for repeat"
The following code is what I am using to filter an array, which is what is creating the "Uncaught TypeError: Cannot read property 'length' of undefined" error.

[code]

[code]

Full Error :

[code]

[2015-10-18 14:06] Mule52 commented on #42
I am getting this same error. I have installed 0.4.1, "Up to date - aurelia-dialog as github:aurelia/dialog@^0.4.1 (0.4.1)"

When I uncomment the line registering the plugin below, it no longer receive the error.

export function configure(aurelia) {
  aurelia.use
    .standardConfiguration()
    .developmentLogging()
    .plugin('aurelia-dialog'); // uncommenting this line no longer results in an

[2015-10-18 15:39] Mule52 commented on #42
This can be fixed by getting all of the latest updates for jspm dependencies (config.js). Once I did that, I no longer have this issue.

[2015-10-18 22:28] LivesleyWA commented on #42
This may be fixed as suggested by Mule52. I updated the jspm install and I no longer receive the error. Sadly, I am now receiving other errors but not to do with this module.

[2015-10-18 22:36] Mule52 commented on #42
What errors are you receiving? You may be receiving all the same ones I was.

I had to update all of the dependencies in my config.js under the map section, for each one - jspm aurelia-framework... etc. Then jspm update. I was having issues with too many forks that were relying on older libraries. You want the latest, and for me bootstrap was stuck on 16.0.

[2015-10-18 22:41] LivesleyWA commented on #42
I raised the issue https://github.com/aurelia/router/issues/228 which has the details. If you have a working system.config or other list of versions that work I would be interested to see them. I can also work through to see which is the latest version of each aurelia module.

Seems a little unstable right now which is a bit frustrating but that is the nature of beta releases I suppose!

[2015-10-18 22:44] Mule52 commented on #42
Subject to change...
https://github.com/Mule52/spring-boot-demo/blob/master/src/main/webapp/config.js

[2015-10-18 22:53] LivesleyWA commented on #42
Thanks - I'll give it a try

[2015-10-19 02:12] PWKad commented on #42
Closing - you need to use the latest versions of Aurelia to use the latest releases.  This should ease up a bit after v1.

[2015-10-19 02:12] #42 closed

[2015-10-19 14:04] heruan commented on #22
I think that resolving with an intermediate `DialogResult` object is very confusing: the returned Promise should resolve only with `ok()` and provide its argument, not with `cancel()`; canceling the dialog is a sort of exception: the `openDialog` promised an action but the user canceled. The developer must handle the rejection and there check if the action was canceled or something bad happened.

[2015-10-23 00:00] xjdesigns commented on #32
I know this appears closed but I ran into this today. @valichek , what version of core-js are you running? My issue was I was using 1.2.2 in my map, and a few other spots. When I changed this back down to what the skeleton uses Dialogs were working in FF. I have not tested this yet in EDGE but all other browsers including IE11 it works.

@PWKad Please mind my lack of full understanding, but I am a

[2015-10-23 00:20] PWKad commented on #3
I thought about this more and it's actually not even needed - the developer simply uses their own custom elements instead of the default `ai-` ones when creating a modal -

[code]

[2015-10-23 00:23] PWKad commented on #39
If you want your dialog overlay to have styling or color you can add it in your CSS.  Just add something like -

[code]

[2015-10-23 00:23] #39 closed

[2015-10-23 08:36] valichek commented on #32
@xjdesigns Well, I have __npm:core-js@0.9.18__ as dep for aurelia and __npm:core-js@1.2.1__ as dep for different package (react, fbjs) in my config.js. The exception shows that it is thrown in `core-js@0.9.18/modules/es6.promise.js:193:9 `

[2015-10-23 09:07] xjdesigns commented on #32
@valichek right I think there is something happening with 1.2.2 for core-js. Does your (react,fbjs) need to use 1.2.2, can you change that back to 0.9.18 and try it out? When changing the dep of the skeleton to using 1.2.2 the dialog throws the exception.

[2015-10-23 15:04] xmichaelx opened #45 "Inner template in ai-dialog-footer.html causes Out of stack exception on Internet Explorer (Edge)"
Stack:
[code]

Changing from:

[code]

to

[code]

Can I create a pull request? I haven't tested the issue on the previous versions of IE.

[2015-10-23 17:35] sickboy commented on #32
0.9.18 works here, 1.2.1 and 1.2.3 break.

[2015-10-23 17:55] xjdesigns commented on #32
@sickboy Thank you for verifying this. Problems I am running into is the dl-loader throwing `warn` on this being out of date and to update. @PWKad is there anything I can do to help reopen this ticket to look into?

[2015-10-23 21:47] derekpitt opened #47 "configuring"
It would be kind of cool to pass in a callback to configure some global stuff in the renderer (or anything for that matter).. something like:

     aurelia.use('aurelia-dialog', config => {
       config.renderer.defaultSettings.lock = true;
     });

or something like that, so i don't have to put configuration in each place where I use the controller.

I can whip up an example if you guys would l

[2015-10-24 05:49] #40 closed

[2015-10-25 10:21] devteamexpress opened #48 "Dialog Plugin Broken in latest release"
If i include this line in main.js
    `.plugin('aurelia-dialog') `

my app won't load and i get the exception

Unhandled promise rejection TypeError: Cannot read property 'endsWith' of undefined
    at Function.convertModuleIdToViewUrl (http://localhost:9000/jspm_packages/github/aurelia/templating@0.16.0/aurelia-templating.js:408:24)
    at new ConventionalViewStrategy (http://localhost:9000/jspm_

[2015-10-26 14:36] EisenbergEffect commented on #48
We will need a repro for this.

[2015-10-26 19:43] devteamexpress commented on #48
Seems to be this was as a result of packages not being properly updated through JSPM, after reinstalling all packages again it worked perfectly

[2015-10-26 19:43] #48 closed

[2015-10-27 03:11] PWKad commented on #45
@xmichaelx Are you sure this occurs on the latest set of releases?

[2015-10-27 03:16] PWKad commented on #44
Hi @schuetta92 this issue belong in aurelia-templating - also it looks like you may just not be setting `labels` to an array instance.  Please feel free to re-open this issue on templating if you feel otherwise, else check out our official gitter at http://gitter.im/aurelia/discuss and someone can surely help you get it figured out.

[2015-10-27 03:16] #44 closed

[2015-10-27 03:19] PWKad commented on #47
Seems reasonable enough - creating a todo for this.

[2015-10-27 03:20] PWKad commented on #45
@xmichaelx So far haven't been able to reproduce this in edge so I'm going to close this issue for now - feel free to re-open if you can reproduce on the latest set of releases.

[2015-10-27 03:20] #45 closed

[2015-10-27 03:20] #3 closed

[2015-10-27 04:02] SivaJonnala commented on #39
Hi @PWKad, as you suggested that after styling the css also to "ai-dialog-overlay.active", I am not getting the perfect modal dialog. The background color appears for whole screen it self.
![image](https://cloud.githubusercontent.com/assets/10843991/10749179/7f748536-7c8d-11e5-8910-531f1571bfef.png)
please help me in this concern.

[2015-10-27 06:19] Mordred commented on #39
Can you check z-indexes?

[2015-10-27 06:21] SivaJonnala commented on #39
Hi @Mordred, I checked with Z-indexes. but it wasn't worked for me actually.

[2015-10-28 00:32] iosulfur opened #49 "Ability to close a dialog from the DialogService"
I have this use case:

1. Open one modal for confirmation via `this.dialogService.open`: "Do the update?": [Yes] [No]
2. Open one modal for progress via `this.dialogService.open`: "Progress of the update.": (no buttons)
3. Close the modal via `this.dialogService.close`.
4. Open one modal for progress via `this.dialogService.open`: "Complete. Refresh page.": [Refresh]

I expect to be able to run st

[2015-10-28 05:57] #47 closed

[2015-10-28 05:58] PWKad commented on #49
You really shouldn't have more than one open dialog at a time.  Why not just have a single dialog that composes it's body depending on what step you are on so you can manage the state easier?

[2015-10-28 18:36] chrismbeckett opened #51 "Dialog not re-centered when re-sizing browser"
A quick guess is you are using JavaScript to calculate the margins for the dialog container since they are being added as an inline style?

- the position of the dialog is not being re-centered when you resize the browser
- using JavaScript to get the screen dimensions is gonna cause a world of hurt on mobile browsers (often report incorrect screen sizes and screw up on orientation changes)
- usin

[2015-10-28 20:01] iosulfur commented on #49
I agree. I was trying to rely on the user closing, or the code closing the previous modal before opening another.

Your suggestion is a much better way to handle a changing modal. I have refactored my usage and tested such an implmentation succesfully. Thank you.

I am now:

1. Open one modal for upgrade.
2. Implement buttons that trigger custom methods.
3. Work on the view-model passed to the dia

[2015-10-28 20:01] #49 closed

[2015-10-29 02:12] PWKad commented on #51
@chrismbeckett Thanks for the offer - we actually have a PR currently from Joel to move to a custom flexbox implementation - feel free to take a look and give any feedback [here](https://github.com/aurelia/dialog/pull/50)

I've not reviewed it fully yet so any help is welcome!

[2015-10-29 12:27] sickboy opened #52 "How to implement 'Pressing escape will cancel / close the dialog'"
Would this be a functionality to be built into the dialog component, or up to the app designer?
Any suggestions on how to proceed?

I suppose canDeactivate lifecycle behavior needs to be definable then..

[2015-10-29 14:58] PWKad commented on #52
@sickboy this is already built in functionality for the plugin - if you define that the controller is lock = false as shown in the readme it would allow pressing escape to cancel.  In the future please direct questions to our official gitter - gitter.im/aurelia

[2015-10-29 14:58] #52 closed

[2015-10-29 23:18] jbgarr opened #53 "The dialog positioning does not work correctly when the body of the dialog contains a compose tag"
When creating a custom dialog that uses a `<compose>` tag in the body, the dialog is not positioned correctly when it's opened. So for example, something like the following will result in the dialog being positioned in the lower right of the screen instead of centered vertically and horizontally.

Dialog Content
[code]

myViewModel.html - the view that's being composed in the dialog.
[code]

[2015-10-29 23:30] chrismbeckett commented on #51
@PWKad Thx for the info. Flexbox definitely sounds like the right direction.

[2015-10-29 23:30] #51 closed

[2015-10-30 00:15] rquast opened #54 "Make the stylesheet a configuration option."
The stylesheet is currently hardcoded into the plugin. Would like to see this as an option so the look can be more customizable.

[2015-10-30 00:16] rquast opened #55 "Dialog does not move when screen is resized."
The dialog does not reposition itself when the screen is resized.

[2015-10-30 00:17] rquast opened #56 "Background of dialog is transparent."
There is no background css style for ai-dialog, which causes the background of the dialog to be transparent.

[2015-10-30 00:23] rquast commented on #55
Dupe... flexbox sounds like the best idea. Didn't notice the ticket because it was closed already before the issue was resolved?

https://github.com/aurelia/dialog/issues/51

[2015-10-30 03:08] sujesharukil opened #57 "update dependency versions in bower.json"
bower.json is not up to date with dependency versions compared to config.js. As a result, bower install is causing conflict resolution. I understand adding a resolution section will resolve the issue, but the file should be still updated to match the latest version supported.

[2015-10-30 17:43] chrismbeckett commented on #55
@rquast Sorry, closed the issue as the PR on tap will imho resolve the issue. JavaScript positioning just doesn't work on mobile browsers. I have tested my own JavaScript positioning every which way and finally said it has to be pure css or its gonna break. Orientation changes are just impossible with JavaScript positioning. From that perspective, vertical centering is hard in CSS and you have rea

[2015-11-02 04:31] PWKad commented on #55
@rquast Feel free to move your questions over to the PR.  I believe there was an IE8/9 support option using JS.

As far as supporting browsers that are older than IE9 - Microsoft isn't supporting it much longer so we don't plan to officially support anything older than IE9 either.

[2015-11-02 04:40] #57 closed

[2015-11-03 07:12] PWKad commented on #54
You can actually use your own custom modal and stylesheet very easily - need to rename this issue something like 'Include instructions for a custom modal / dialog'

[2015-11-03 22:55] JoshHarris opened #59 "Dialog errors for Firefox on core-js@1.2.x"
We found that updating core-js to the latest version using `jspm dl-loader --latest` causes the dialog to not work in Firefox.  The semi-hacky fix that we found was to wrap a `try/catch` around the below block of code in `aurelia-metadata.js > origin.js > Origin.get`.  The simple fact of wrapping a `try` around the code seems to allow the getter function to attach, thus not producing an error and

[2015-11-05 07:29] alexmills opened #60 "WrongDocumentError in IE"
Hey guys, got the following error being displayed in IE11/10/9 and is forcing the app to completely crash.

[code]

The issue is not present on any other browser. Is anyone also seeing this?

[2015-11-08 02:05] EisenbergEffect commented on #60
@PWKad Can you check this out?

[2015-11-08 02:18] PWKad commented on #60
IE10/11 is confirmed on the latest release can you please create a repro or give steps to repro?

[2015-11-10 05:39] SivaJonnala commented on #42
Cannot read property 'endsWith' of undefined, This error is coming when I was using plugin aurelia-dialog. Please fix this issue as soon as possible.........

[2015-11-10 16:50] PWKad opened #61 "Make dependencies on pal / pal-browser dev deps"

[2015-11-11 02:10] rquast opened #62 "Create something similar to setDefaultButton"
Not a big issue, but a little bit of code for setDefaultButton would help reduce a few lines of code. Can it be included?

Similar questions with jquery ui dialog: http://stackoverflow.com/questions/2522125/jquery-ui-dialog-make-a-button-in-the-dialog-the-default-action-enter-key

[2015-11-11 04:05] michaelmalonenz commented on #59
Now that the libraries have been upgraded, this is an issue for me too - it also occurs on Edge, but somewhat interestingly, *not* on IE11

[2015-11-11 07:17] michaelmalonenz commented on #56
this is fixed in version 0.4.4

[2015-11-15 17:00] JeroenVinke opened #64 "Bindable bug"
I believe there is a bug in the dialog plugin where `@bindable answer` does not trigger `answerChanged()` when directly in the dialog. @bindables work fine for custom elements inside the modal though

I have reproduced this with the latest skeleton [here](https://github.com/JeroenVinke/dialog-bug). If you remove [this line](https://github.com/JeroenVinke/dialog-bug/blob/master/src/prompt.js#L16) y

[2015-11-15 17:08] JeroenVinke commented on #64
I can't reproduce it in the [plunkr](http://plnkr.co/edit/MMBXIF?p=info) though, but since it uses `0.4.1` and not the latest (`0.4.4`) I believe this may only occur in the latest versions of aurelia-dialog

[2015-11-15 23:02] PWKad commented on #56
Closuing, @michaelmalonenz is correct this issue is fixed.

[2015-11-15 23:02] #56 closed

[2015-11-16 21:09] JeroenVinke commented on #64
OK, I think I traced it down. I'm pretty sure `ensureViewModel` of the `templating` library is not copying the properties array from `context` into the new behavior it creates. this happens [here](https://github.com/aurelia/templating/blob/ac02cb7d5fa1de57bdfe5b0eb480543673a22afb/src/composition-engine.js#L143-L148)

![img4](https://cloud.githubusercontent.com/assets/2189477/11194780/5ea6e7f0-8cae

[2015-11-16 21:19] EisenbergEffect commented on #64
I think that's it! Nice work tracking this down. I'll take this one.

[2015-11-17 23:53] marianc opened #65 "Renaming DialogFooter to AiDialogFooter"
Hi,

In the file 'ai-dialog-footer.js' line 16, I think that 'DialogFooter' should be renamed 'AiDialogFooter'.

[code]

Thank you for this awesome library.

[2015-11-18 23:21] michaelmalonenz commented on #59
As of this morning another person on my team upgraded to the beta and this issue is no longer present.  So either I hadn't upgraded all of the packages that use core-js, someone else updated their dependencies or there has been a bug fix come through.  Either way, we are now able to run our site with core-js v1.2.6

[2015-11-19 00:53] PWKad commented on #59
Cool thanks!

[2015-11-19 00:53] #59 closed

[2015-11-23 13:24] RWOverdijk opened #66 "Passing arguments"
Hello,

I'm trying to pass arguments into my modal, so I can make an update modal. It looks like that's not possible right now. Am I missing something, or is this module missing something?

[2015-11-24 09:16] RWOverdijk commented on #66
I might have figured out what I was doing wrong and... *slowly moves away*.

[2015-11-24 09:16] #66 closed

[2015-11-25 00:48] alexmills commented on #60
Sorry guys, it appears to be an issue with our IIS server encoding as the code works when deployed from an Apache. You may close this bug.

[2015-11-25 00:56] alexmills commented on #54
I'm using custom modals but there is still a stylesheet taking over? Am I missing something?

[2015-11-25 01:10] PWKad commented on #54
@alexmills Can you show an example of your modal implementation with code?  I'll post how and why it doesn't collide and close this issue.

[2015-11-25 01:21] alexmills commented on #54
Configured in main.ts

[code]

Simple Modal HTML (__UploadErrorModal__)

[code]

Called using DialogService (__dialog__)

[code]

But there is CSS inserted at the top of the page which takes over footer buttons

<img width="313" alt="screen shot 2015-11-25 at 9 19 57 am" src="https://cloud.githubusercontent.com/assets/661414/11385640/c7501198-9355-11e5-8525-31b9b060854f.png">

[2015-11-25 01:29] #60 closed

[2015-11-25 09:50] RWOverdijk opened #67 "Using multiple modals"
I might be doing something completely wrong, but I'm having issues with using aurelia-dialog multiple times throughout my application.

### Behavior
What's happening is:

1. I go to page foo, trigger opening a modal: works fine
2. I go to page bar, trigger opening a different modal: It fails with an error (described below)
3. I go back to page foo, trigger opening the modal again, and I get the co

[2015-11-25 09:57] RWOverdijk commented on #67
After debugging a little bit, the element the error is about is one that I define in the template of the modal. This is the create-modal.html:

[code]

It's complaining about the `company-form`. I don't know what this means or how it causes this issue.

[2015-11-26 10:07] RWOverdijk commented on #67
Another update. It looks like the way these elements are being removed is too aggressive. I still can't figure out where this happens though. I expected it to be on destroy, which probably holds true, but I haven't been able to trace it down to the cause yet.

[2015-12-01 21:36] #64 closed

[2015-12-02 07:46] hadrienl opened #68 "Destroy modal only when modalContainer ends its transition"
If your dialog contains any child element which transition at the same time of the dialog closing, the `transitionend` event of this child element will close prematurely the dialog. The dialog is listening to `transitionend` event on `modalContainer` element. This event bubble, so its fired when any of its children ends its transition. The closing event listener should check if target is really `m

[2015-12-02 08:13] Zensavona opened #69 "Dialog doesn't close on link click / navigation away from page"
Using `0.4.4`

For example I have a dialog open with a link inside it, if the link is clicked and the page navigates, the dialog remains open, blocking the page.

Not sure if this is even a bug or the intended behaviour.

[2015-12-02 20:42] JeroenVinke commented on #64
I have just confirmed that the changes in the commit fixes the issue I had, thanks

[2015-12-02 21:17] EisenbergEffect commented on #64
Excellent! Thanks for the confirmation. This will get released today or tomorrow.

[2015-12-02 21:37] EisenbergEffect commented on #69
It's not something we want to provide behavior for now, since it's possible that one may want to navigate without closing the dialog. If you want this behavior, I would recommend adding a custom router pipeline step to close any open modal dialogs after navigation.

[2015-12-02 21:37] #69 closed

[2015-12-03 15:35] PWKad commented on #68
Closed by your PR, thanks!

[2015-12-03 15:35] #68 closed

[2015-12-03 16:05] PWKad commented on #54
The `ai-dialog` custom element and it's children would all use their own styling - if you want to have your own modal implementation you should create your own variation such as `am-dialog` or `my-modal` or whatever you want to name it.  This prevents collision for styling and naming.

[2015-12-03 16:05] #54 closed

[2015-12-03 16:06] PWKad commented on #55
Leaving this open until the styles are updated but planning to close then, just leaving up as a reminder to check it.

[2015-12-03 16:52] #65 closed

[2015-12-03 17:57] CasiOo opened #70 "ai-dialog-open class removed with multiple dialogs"
If you open more than one dialog, then closing just one of them will remove the `ai-dialog-open` css class from body.

The class should not be removed, if there's still a visible dialog.

[2015-12-03 21:56] PWKad opened #71 "Fix the changelog generation"

[2015-12-03 23:38] LivesleyWA commented on #64
Can also confirm this issue is now fixed with 0.5.1 release. Happy days - my dialogs work again!

[2015-12-05 18:18] gregoryagu commented on #23
This is the absolute minimum until a real one is written.
[code]

[2015-12-05 22:04] jods4 opened #72 "Split templating and logic in 2 modules"
UI layout and templating is full of app-driven choices.

I would like to see all the CSS, positioning logic, custom elements and templates moved into a `aurelia-dialog-templating` (or whatever) module.
So that I don't have to take a dependency on them and I could provide my own way of laying out and displaying dialogs.

On the other hand `aurelia-dialog` should still contain all the dialogs logic,

[2015-12-07 16:18] RWOverdijk commented on #67
If you could point me in the right direction that'd be great, too. Then I can debug myself.

[2015-12-09 12:43] jc1001 opened #74 ""settings.lock = false" does not close dialog when clicking ouside dialog"
Hi there,

According to the readme, when the user clicks out of the dialog, it will close and resolve with a cancel.  I can't get this functionality to work (I did confirm that the lock value on the settings object is set to false).

After some digging in dialog-renderer.js (line 66), I found that there is a click event on the modal overlay that will call the cancel method on the controller when l

[2015-12-09 13:31] Markusxmr commented on #74
:+1:

[2015-12-09 13:31] Markusxmr commented on #74
:+1:

[2015-12-09 17:05] jc1001 opened #75 "Repeatable items render at the bottom of the dialog"
Hi there,

It seems that elements that is bound to a repeat.for is not rendering in the correct location.  To illustrate this problem I've extended the person object in the readme example as follows:
[code]
changed to:
[code]
I've changed the dialog template to this:
[code]
When the dialog is displayed, it looks like this:
![renderresultsdialog](https://cloud.githubusercontent.com/assets/15125812/

[2015-12-10 17:52] PWKad commented on #74
@jc1001 If your dialog is covering the entire window there is no area to click on outside of the dialog correct?  Unless I am mis-understanding your explanation it sounds like that is the case.

Perhaps if you could reproduce the issue and let me know steps to recreate the problem I can help take a look if it is indeed an issue or the intended behavior.

[2015-12-10 17:54] PWKad commented on #75
This could be due to a repeater rendered directly inside of a content selector.  For now can you wrap your elements listed in a block-style element (such as a div) and see if that resolves the issue?  We will be upgrading the content selector to the current spec so odds of resolving this issue if it is indeed that are probably lower priority then fixing it in the update spec implementation.

[2015-12-10 17:58] PWKad commented on #72
I'll leave this open in the 'icebox' as we probably won't be splitting this out anytime soon unless there is more requests for this.  Validation is under refactor currently due to heavy requests to be able to use the validation logic on the server side as well and was driven more by community requests, so if we get more here we can re-evaluate.

[2015-12-10 17:59] EisenbergEffect commented on #75
There's a bug in the templating engine that I resolved yesterday that could also be causing this. We'll push out a new release soon and then we can check if it's resolved.

[2015-12-10 18:00] PWKad commented on #67
@RWOverdijk Can you create a repro somewhere?  You can clone the dialog repo and repro in the sample app if you want.

[2015-12-10 22:28] RWOverdijk commented on #67
@PWKad I'll try to do that tomorrow.

[2015-12-11 10:31] RWOverdijk opened #76 "onTransitionEnd not called"
It seems like [this doesn't get called](https://github.com/aurelia/dialog/blob/master/src/dialog-renderer.js#L98) for me. I had to add a resolve at the bottom of the Promise callback, otherwise my modal windows didn't get destroyed.

https://github.com/RWOverdijk/dialog-sample/tree/4b33155c8e84f110f4e8f0bfdf85ce92371fe1e6 here's the app where it's broken (tested in chrome and firefox).

[2015-12-11 10:51] RWOverdijk commented on #76
I found out that the reason for this, is that I didn't RTFM and forgot to add `.plugin('aurelia-dialog')` to main.js. PEBKAC.

[2015-12-11 10:51] #76 closed

[2015-12-11 11:08] RWOverdijk commented on #67
@PWKad I tried, and found that the error lies in my own code. Could you perhaps help me figure out what it is?

I have the following structure:

page > Modal > Form

The Form ViewModel extends Form (https://github.com/SpoonX/aurelia-form/blob/master/src/form.js). As soon as I remove that (extends Form) it works. But I can't see anything wrong in that file.

[2015-12-11 11:43] RWOverdijk commented on #67
@PWKad Here's the example project, with the broken state: https://github.com/RWOverdijk/dialog-sample

- Open modal in one
- Navigate to two
- Open modal in two > **Missing content**
- Navigate back to one
- Open modal in one > **Has the content from modal two**

I found the source of the problem, which is code I wrote, but I don't know what the problem is. It can be fixed by removing `extends For

[2015-12-11 12:31] jc1001 commented on #74
Hi there,

Thanks for getting back to me so soon.  I reproduced the issue by doing the following:
* Downloaded the ES2016 starter kit from your site and ran it with the NodeJS option (http-server -o)
* Installed the aurelia-dialog with jspm and added it as a plugin
* Added the edit-person dialog as outlined on the dialog readme.

When I run the sample, I get the following screen:
![dialog1](https:

[2015-12-11 12:44] jc1001 commented on #75
Thanks for the feedback.  When wrapping the repeater logic in another div (as suggested), it works fine.  I eventually had to go that route anyway (div with overflow), since the list of items that I am displaying was becoming too large.

[2015-12-11 15:01] stsje commented on #74
We're experiencing the same issue across multiple dialogs.
Ended up making our own overlay with click handling.

Could be nice to have this issue fixed though :D

[2015-12-15 14:46] mrpink76 opened #77 "Problem using custom control within <ai-dialog-body>"
Tried to add a custom element inside the "ai-dialog-body" tag to be able to render raw html. Unforturnately this does not seem to work. Is this by design och just not implemented?

Below are two templates. The first one works and the second one does not.

The custom element is called: "messagedialogcontent".

This one works:
***********************
[code]
This one does not:
***********************

[2015-12-15 14:49] EisenbergEffect commented on #77
Would you please describe what happens? Are you requiring the custom element in your view? I don't see the require above.

[2015-12-15 14:55] mrpink76 commented on #77
Sorry for the invalid markdown in the original entry...

The problem is that constructor of MessageDialogContent is never called and the custom element seem to be ignored...

[2015-12-15 15:07] EisenbergEffect commented on #77
Did you add a `require` element to your view? or globalize the element?

[2015-12-15 15:08] EisenbergEffect commented on #77
Ok, your names are incorrect.

[2015-12-15 15:09] EisenbergEffect commented on #77
Because HTML does not respect casing, all class and property names get lower-cased and hyphenated. So, `MessageDialogContent` becomes `message-dialog-content` and `isError` becomes `is-error`.

[2015-12-15 15:09] #77 closed

[2015-12-15 16:46] mrpink76 commented on #77
After your help I changed the template to:

[code]

And the implementation of the custom element to:
[code]

Now the constructor is called and executed without any errors. Unforturnately the only thing visible within the "ai-dialog-body" is:
[code]

Thanks for your help so far. Just sending a followup just in case I've missed something obvious...

[2015-12-17 04:00] Virtual-Machine opened #78 "Issue at plugin startup"
aurelia-dialog 0.5.1
aurelia framework 1.0.0-beta.1.0.4

I may be doing something wrong but I just installed aurelia-dialog via jspm into my project per the README, added .plugin('aurelia-dialog') to my configuration and am now getting 3 duplicate errors on app startup:

Unhandled promise rejection TypeError: config.globalResources is not a function(…) coming from line 1444 in shim.min.js

All of

[2015-12-19 08:26] Virtual-Machine commented on #78
I did an update to the Aurelia framework and this plugin now appears to load as expected. Unfortunately, the update appears to have broken a different plugin I am using paulvanbladel/aurelia-auth. Hopefully I can get the author of the plugin to make the update because simply changing globalizeResources to globalResources in that plugin's index.js results in errors... which seems to indicate the AP

[2015-12-27 21:35] #23 closed

[2015-12-27 21:35] PWKad commented on #23
@gregoryagu Can you please check the new .d.ts file that's distributed for correctness based on your expertise?  I've added to the best of my knowledge.

[2015-12-27 21:37] #78 closed

[2015-12-27 21:38] PWKad commented on #75
@jc1001 This should be fixed on latest can you confirm the issue is resolved before I close it?

[2015-12-28 13:58] RWOverdijk commented on #67
I have worked around this (for now) by not setting the bindables in the parent because I'd otherwise not have made my deadline.. But I'm not happy with it.

Consider this my lengthy bump :)

[2016-01-04 15:21] jc1001 commented on #75
Still does not seem to be working.  I did run 'jspm update' to confirm that I have the latest updates.  I've attached a sample (modified starter project) to illustrate the problem.  Please let me know if you require anything else.
[ES2016.zip](https://github.com/aurelia/dialog/files/77325/ES2016.zip)

[2016-01-07 21:57] jedd-ahyoung commented on #55
Uh...so I just ran into this myself. I see that you guys are manually setting a margin-left to position the modal.

Is there any reason that you aren't simply using `margin: auto` for the width portion? That fixes the problem easily and elegantly, and it should be supported in mobile devices. I believe there may be issues with IE9 (and possibly 10) but I think it might be a better option than Flex

[2016-01-07 22:01] PWKad commented on #55
PR's welcome :)

[2016-01-07 22:04] EisenbergEffect commented on #55
@joelcoxokc Didn't you have a bunch of improvements to the dialog plugin? I've been hesitant to change things because I've been waiting on that.

[2016-01-07 22:13] PWKad commented on #55
@EisenbergEffect The changes he submitted as a PR originally weren't really improvements as much as they are a complete re-write of styling and classes (and also some JavaScript changes) so I think until we have that PR ready to merge if we can make incremental improvements it is probably beneficial, my $0.02.

[2016-01-07 22:15] chrismbeckett commented on #55
FYI - Microsoft is officially dumping support for IE 8/9/10 in one fell swoop next Tuesday - http://www.independent.co.uk/life-style/gadgets-and-tech/news/microsoft-ends-support-internet-explorer-version-8-9-10-a6800881.html.

Woot - maybe now we can just solve this by doing layouts with flexbox?

[2016-01-07 22:18] EisenbergEffect commented on #55
Unfortunately, probably not for a while. We still have customers that need to support those browser. There also may be some mobile scenarios to consider.

[2016-01-07 22:19] EisenbergEffect commented on #55
@PWKad Ok. If we have PRs then keep them rolling in. Joel's work is designed to align the dialog plugin with Aurelia Interface so that it can work correctly across various mobile platforms, etc. We can update it when it's ready. I don't think it will change the api.

[2016-01-07 22:24] joelcoxokc commented on #55
Yeah. You will still be able to use the Existing API. The Dialog will also by nature size itself to the screen, without JS. It also has different sizing properties that can be set.

[2016-01-08 00:28] jedd-ahyoung commented on #55
Putting together a PR for this now. (Only had to remove two lines of code.) Should I include the dist directories or do you guys only do that on a bump? I don't quite remember.

[2016-01-08 01:04] EisenbergEffect commented on #55
Only include the src directories please.

[2016-01-10 15:44] #55 closed

[2016-01-10 15:54] PWKad commented on #75
@jc1001 Thanks for the repro!  I did verify that wrapping the content in a block-style element should be a workaround you can use for now while we look in to this further.

@EisenbergEffect I think my first guess was correct, if you wrap the content of the body in a block-style element such as a div everything works properly because the div acts as the anchor instead of the surrounding template (w

[2016-01-10 16:05] PWKad commented on #74
@benib has a PR to fix this issue that I am going to be merging soon

[2016-01-14 15:39] montymccune opened #81 "DialogController.prototype.close ----- this.viewModel UNDEFINED"
On the fourth line, this.viewModel is undefined. The Dialog opens and is rendered correctly, but when I go to close it down, I get the undefined error. I am following the current Dialog examples.

[code]

[2016-01-14 22:04] PWKad commented on #81
Did you supply a `ViewModel` property when opening the Dialog?

[2016-01-14 22:19] montymccune commented on #81
Yes - actually the Modal opens up exactly like I expect it to - with data and everything. When I go to close it however, the this.viewModel error happens in the close event.

On Jan 14, 2016, at 4:04 PM, Patrick Walters <notifications@github.com<mailto:notifications@github.com>> wrote:

Did you supply a ViewModel property when opening the Dialog?

—
Reply to this email directly or view it on GitHu

[2016-01-21 16:44] montymccune commented on #81
Thoughts on this?  Again the error occurs here:
[code]

...on this line:
return _lifecycle.invokeLifecycle(this.viewModel, 'canDeactivate').then(function (canDeactivate) {

this.viewModel is undefined when it clearly wasn't when it was created due to the fact that my view has repeatable data in it being displayed.

[2016-01-22 08:07] searus opened #82 "aurelia-dialog.d.ts incorrect"
It looks like aurelia-dialog.d.ts doesn't match the source.  For example, the DialogController is defined as follows:
[code]
Here, the methods `ok`, `cancel` and `close` are all expecting the `result` to be of type `DialogResult`, but this is not the case in the source.  `result` should be type `any`.

[2016-01-22 14:56] PWKad commented on #81
Can you create a repro using the basic es6 skeleton?  It would greatly help to see it in action.

[2016-01-26 21:43] EisenbergEffect commented on #67
@RWOverdijk Is this still an issue with the latest?

[2016-01-27 03:59] jedd-ahyoung commented on #82
@searus - to clarify - the `DialogResult` should only be returned by the `open` method of the `DialogService`, but not the `DialogController` methods. The source reflects this, but the typescript definition files do not. Is this correct?

@PWKad, this looks like it might need the bug tag if it's applicable.

[2016-01-27 04:16] PWKad commented on #82
I'm not sure, I'm not an avid TypeScriptist but doesn't this eventually return `DialogResult` from the `ok` method - https://github.com/aurelia/dialog/blob/master/src/dialog-controller.js#L38 ?  The promise inside the controller's close method eventually returns a result from what I can tell.

[2016-01-27 06:22] searus commented on #82
The `open` method of the `DialogService` should return a promise of type `DialogResult`.  The `result` in the `DialogController` methods should be of type `any`.
I'm happy to submit a pull request for the change, but I thought the .d.ts files were auto generated somehow for Aurelia.

[2016-01-27 14:07] ggrimbert opened #83 "Problems bundling an app"
Hi,

I am trying to bundle my app. I call aurelia-dialog during the bundling process and it works, but, when I load my app, there are few .html files that are called (ai-dialog.html,ai-dialog-header.html, ai-dialog-body.html, ai-dialog-footer.html) directly in the jspm_packages folder.

![image](https://cloud.githubusercontent.com/assets/15869188/12615687/73bf092e-c507-11e5-9b45-3f7549094e7f.png)

[2016-01-27 14:28] EisenbergEffect commented on #83
@ahmedshuhel We need a nice way to handle these scenarios. This is a major use case.

[2016-01-27 14:30] ggrimbert commented on #83
I have opened an issue at aurelia-bundler issue referencing this one and another problem : https://github.com/aurelia/bundler/issues/71

[2016-01-27 15:01] RWOverdijk commented on #67
@EisenbergEffect I'll update asap (tomorrow I think) and test.

[2016-01-27 23:49] PWKad commented on #83
I think this is fine to track over there, there shouldn't be any changes for the dialog to support bundler, if there is we can address at that time.

[2016-01-27 23:49] #83 closed

[2016-01-27 23:49] PWKad commented on #82
A PR would be good the  `.d.ts` is generated directly from the code so please PR in that location where those methods are defined.

[2016-01-27 23:50] PWKad commented on #81
@montymccune I am unable to reproduce this issue at the moment so a repro is needed to understand the cause.

[2016-01-27 23:53] #61 closed

[2016-01-27 23:56] PWKad commented on #70
I'm not sure that opening multiple dialogs is a supported use case.  Asking for some feedback from others on this as it's generally a bad UX pattern.

[2016-01-27 23:57] PWKad commented on #67
@EisenbergEffect I believe I spoke with @RWOverdijk  spoke of this and the issue is with extending a class with a class that has bindables.  Templating should already be tracking this and I thought it was a do not fix can you confirm this is the case @RWOverdijk

[2016-01-28 00:03] EisenbergEffect commented on #67
Inheritance is a separate issue we are tracking.

[2016-01-28 00:04] PWKad commented on #75
@jc1001 This should be fixed int he latest release of templating.  Just confirmed with your repro and upgrading to latest releases -

![image](https://cloud.githubusercontent.com/assets/4238393/12632810/6292a28c-c520-11e5-9fb5-a62a2a402a79.png)

[2016-01-28 00:04] #75 closed

[2016-01-28 00:08] PWKad commented on #74
Closed by https://github.com/aurelia/dialog/pull/79

[2016-01-28 00:08] #74 closed

[2016-01-28 14:27] RWOverdijk commented on #67
@EisenbergEffect I checked, and I'm still getting the same:

Here's the map for my config related to aurelia:
[code]

[2016-02-01 11:13] heruan opened #84 "Make active overlay configurable (color/opacity)"
It would be nice to have options to configure the overlay when active, such as `background-color` and `opacity`, to have for example a faded overlay (see image).

![screen shot 2016-02-01 at 12 08 49](https://cloud.githubusercontent.com/assets/851745/12715890/23656750-c8dd-11e5-9e32-4f3325d0bb07.png)

[2016-02-01 17:16] heruan opened #85 "Cancel with ESC key"
It would be very useful a configurable option to enable the `ESC` key to cancel the dialog.

[2016-02-02 03:48] jedd-ahyoung commented on #85
@PWKad This could use the feature tag.

Of note, I believe this actually works at the moment - I'll have to verify it tomorrow in my application, but I thought I'd gotten this behavior without any external tweaks. I may be wrong, though.

[2016-02-02 03:54] jedd-ahyoung commented on #84
This is technically possible by changing the style on the element, as you already have done.

Might it be worth it to consider adding a class binding to the parent element? I've been following this pattern with the custom elements that I create; I provide a default value for the class binding, but as a bindable it's overridable by the user. This means that a developer can create a CSS class declar

[2016-02-04 06:17] chak99 commented on #82
Hi searus, wondering if you would be able to help with AureliaForSharePointApps with router and adding more pages please?

[2016-02-05 15:02] dli04 opened #86 "Typescript kit not working after installing aurelia-dialog 0.5.4"
After downloading the typescript kit and adding in aurelia-dialog 0.5.4, the kit doesn't fire up correctly anymore. The aurelia-bootstrapper is not being loaded; even if I don't use the aurelia-dialog in the configuration setup. I tried the es-2016 kit and it is working fine with aurelia-dialog 0.5.4.

[2016-02-07 12:10] Leonidnei opened #87 "Version 5.0.4 does not work in IE11"
We have some application using aurelia-dialog.

Recently we updated aurelia-dialog from 5.0.3 to 5.0.4 and now it works in Chrome but not in IE.
The dialog is opened but buttons (OK/Cancel) are not clickable and also most of html input fields are not editable.

[2016-02-08 03:41] PWKad commented on #86
Can you give an idea of any errors you are encountering?

[2016-02-08 03:42] PWKad commented on #85
@heruan Does this not work?

[2016-02-08 03:53] PWKad commented on #85
Closing this works exactly as mentioned already when lock is set to false.

[2016-02-08 03:53] #85 closed

[2016-02-08 03:56] PWKad commented on #84
I'm wondering if you would actually want to do this vs just adding CSS to do this for you.  Any feedback welcome.

[2016-02-08 03:57] PWKad commented on #72
Closing this for now as I don't see the value in splitting at this point, welcome any feedback in the future on why we should.

[2016-02-08 03:57] #72 closed

[2016-02-08 10:29] jods4 commented on #72
I'm using my own dialog package for now. The one provided is too opiniated UI-wise for us to use.

I don't have anything to add to what I said in the ticket.
On the other hand it makes me smile that you said:

Correct me if I'm wrong but the validation package is totally usable on the server-side today.
This is all about removing unneeded dependencies and/or providing more UI flexibility.

[2016-02-08 14:27] PWKad commented on #72
Like I said id be open to this more if we had more feedback that it was beneficial to others.  If you feel strongly you can reopen but just trying to prioritize for right now.

[2016-02-08 17:06] dli04 commented on #86
I don't see any errors from the browser console and dos prompt. I use http-server for the web server and after the loading of the config.js and favorite icon, nothing else loads. It looks like the Aurelia-bootstrapper is never called.

[2016-02-08 18:46] piwnik commented on #87
I have same issue on Chrome, Opera, Edge, seems ai-dialog-overlay is over ai-dialog-container. Higher ai-dialog-container zIndex is ignored

[2016-02-08 19:00] PWKad opened #88 "Add documentation for `attachFocus`"
Make it easier to find and put in an explanation of usage

[2016-02-09 01:55] PWKad commented on #53
Hi @jbgarr sorry for just getting around to this but I've confirmed this is not an issue on latest.  Please feel free to re-open if you can reproduce again but for now it is working as expected with the repro above.

[2016-02-09 01:55] #53 closed

[2016-02-09 02:01] PWKad commented on #62
@rquast This can be achieved using the `attach-focus` custom attribute.

[code]

You can see this on the `Ok` button here.  Closing for now and documenting the feature.

[2016-02-09 02:01] #62 closed

[2016-02-09 02:18] PWKad commented on #81
No repro, closing.

[2016-02-09 02:18] #81 closed

[2016-02-09 02:27] PWKad commented on #87
@piwnik I'm testing right now and trying to figure out why this changed in the latest will let you know.

[2016-02-09 03:07] #87 closed

[2016-02-09 03:08] PWKad commented on #87
@Leonidnei Can you test changing the `pointer-events: initial` to `pointer-events: auto` in the `dialog.css` file in your `jspm_packages` folder?  I've pushed up a fix for this just want to confirm it works for you as well.

[2016-02-09 03:15] #88 closed

[2016-02-09 03:23] PWKad commented on #86
@dli04 I've just confirmed using the steps above that this is working as expected in the TypeScript skeleton.  Are you sure you have the latest of all of the releases?  Closing for now, please join our gitter channel if you need additional help.  I know that the TypeScript compiler will fail if you don't have the `.d.ts` file but that is distributed properly at the moment.

[2016-02-09 03:23] #86 closed

[2016-02-09 04:00] #71 closed

[2016-02-09 05:22] Leonidnei commented on #87
I tested and it worked fine, thanks.

[2016-02-09 07:24] heruan commented on #84
I think that options to set some basic style such as the overlay color/opacity would be a common case and be worth to have them in the Dialog Service `open` settings, e.g.
[code]
any other uncommon overlay styling should be done via an additional stylesheet, I agree.

[2016-02-09 19:58] dli04 commented on #86
Thanks. I've downloaded the typescript skeleton and is now working properly.

However, the typescript kit from the http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.2/doc/article/getting-started still doesn't work for me and I'm giving up on it. I did jspm clean and jspm update multiple times and below was as far as the loading could get to. No errors pop up in the shell or browser con

[2016-02-10 11:53] ap91484 opened #89 "jspm install aurelia-dialog breaks loader of current skeleton-navigation"
I have an app based on the current skeleton 1.0.0-beta.1.1.3. After installing aurelia-dialog the following error is shown in the browser console:
`Unhandled promise rejection Error: Loader must implement addPlugin(pluginName, implementation).(…)(anonymous function) @ :9000/jspm_packages/npm/core-js@2.1.0/client/shim.min.js:2239
:9000/jspm_packages/npm/core-js@2.1.0/client/shim.min.js:2239 Unhandl

[2016-02-10 13:26] ap91484 commented on #89
I just noticed that this happens with another plugin too, which updates core-js to 2.1.0. Looks like the core-js version 2.10 is not compatible with the skeleton 1.0.0-beta.1.1.3

[2016-02-10 13:33] ap91484 commented on #89
After a jspm update --latest it works.

Issue closed!

[2016-02-10 13:33] #89 closed

[2016-02-10 18:09] timbell opened #90 "configurable z-index"
The z-index used for the overlay and container is currently hard coded to start at `1000` which can cause rendering problems eg when using with a bootstrap `navbar-fixed-top` component which has a z-index of `@zindex-navbar-fixed: 1030;`. Could the starting value be made configurable?

Also, the `currentZIndex` value (dialog-renderer.js) is not decremented when a dialog is closed which means that

[2016-02-11 09:16] henning-krause opened #91 "Dialog has 100% width in IE11 but not in other browsers"
Started with the skeleton-navigation app and added aurelia-dialog.

Added this import to the top of the welcome.js file:
[code]

And this submit handler, taken from the Aurelia-Dialog documentation page:

[code]

The whole thing works fine in Chrome and Firefox. But in IE11 the dialog has a width of 100%.

Do I have to install any polyfills to get this to work?

[2016-02-11 17:36] Gheoan opened #92 "Accessibility"
Will submit a PR, but first I will track all the accessibility issues here.
- [x] Modal buttons can't be focused and have no focus style.
- [x] The modal is appended to the body. It should be prepended.
- [ ] ~~Add tests.~~

[2016-02-12 06:34] abbasmhd opened #94 "the pointer-events has been disabled after the 0.5.3 release"
the `ai-dialog-container` is set to `pointer-events: none;` which is preventing all the events on children buttons
setting `pointer-events: auto;` fixed the problem with was preventing the dialoge from closing
can you please fix this issue

[2016-02-12 09:36] mbenedyk commented on #91
Also if dialog contain buttons they are no clickable - overlay?

[2016-02-12 11:14] mbenedyk commented on #91
After updating plugin to latest version problem with no clickable buttons seems to be solved, but still dialog in IE 11 has width of 100%

[2016-02-13 15:30] PWKad commented on #94
Thanks @abbasmhd this should be fixed already in master and released = https://github.com/aurelia/dialog/commit/2c4cfa635e178071cd8080384cfc1592cbfbaef2

That commit should have done the same.  Can you verify?

[2016-02-13 16:12] #90 closed

[2016-02-14 05:47] abbasmhd commented on #94
thanks @PWKad
that should do it

[2016-02-14 07:57] #92 closed

[2016-02-14 23:20] #94 closed

[2016-02-18 14:46] henning-krause opened #96 "Dialog not closed when browser back button is used"
Started with the skeleton-navigation app and added aurelia-dialog.

Added this import to the top of the welcome.js file:
[code]

And this submit handler, taken from the Aurelia-Dialog documentation page:

[code]

Repro:
1. Open the web page
2. Click on Github Users
3. Click on Welcome
4. Click Submit. The dialog is opened.
5. Click on the Back button of the browser.

Effect:
The "Github User" page

[2016-02-21 19:16] PWKad commented on #96
Good question, let me take a look and think about it.  Thanks for the repro steps!

[2016-02-22 16:58] searus commented on #82
@PWKad I'm not sure what you mean by "where those methods are defined".  Should I be updating the *.d.ts files directly, or is there a definition file that is used to generate those?

[2016-02-22 17:50] PWKad commented on #82
@searus https://github.com/aurelia/dialog/blob/master/src/dialog-controller.js#L11

We actually have types in the code that compile the .d.ts directly.  You can update the proper types there and it will fix the .d.ts :)

[2016-02-23 08:44] searus commented on #82
@PWKad sorry, I'm struggling here.
The tests don't work in the cloned repository:
[code]

Also (sorry noob question), do I need to fork the repository, then follow the contributing guidelines?  Otherwise I don't have permission to push my new branch.

[2016-02-23 10:48] vuorinem commented on #82
@searus I had the same issue with testing, and came up with the same fix.

As far as I know, you should fork the repo, commit all changes to your fork in a new branch, then create a pull request.

[2016-02-23 14:27] PWKad commented on #82
Ah good catch let me update the readme.  I think we can create those as JSPM dev dependencies as well so not everyone has to do that but I'll make sure that has no adverse affects.

[2016-02-23 14:28] PWKad opened #99 "Update readme and/or jspm with test dependencies"
path, logging, binding all need to be installed to run the tests.

[2016-02-23 17:26] Gheoan opened #100 "Pending test spec"
On [this](https://github.com/aurelia/dialog/blob/e9d164f592a5409785ef94b9590ae689c3115485/test/unit/dialog-renderer.spec.js#L58) line the test spec is pending (`xit()` instead of `it()`). The spec fails if it is run. Is this behaviour intended?

[2016-02-25 05:56] Zoltu opened #101 "Allow custom CSS file."
https://github.com/aurelia/dialog/blob/master/src/ai-dialog.html#L2

It is great having some basic CSS working out of the box with the dialog.  However, in order to use the dialog in any real-world application it needs to be themed to match the enclosing website.  Currently, the CSS is baked in with no apparent way to change it to something else.  It would be nice if a user could choose what CSS t

[2016-02-25 08:41] JSeligsohn commented on #91
The dialog's default styles use width: fit-content. "fit-content" isn't supported in IE browsers... try setting your width for the dialog.

[2016-02-25 15:41] EisenbergEffect commented on #101
I'm wondering if this is a more general feature we should investigate. Basically, the ability to override internal css for a component.

I can think of two scenarios:
* Override CSS across the entire application
* Override CSS on a single instance (or a select set of instances)

[2016-02-25 15:45] EisenbergEffect commented on #101
Let's brainstorm. So, what if components with overridable css did something like this

my-component.html
[code]

And then what if in app startup, you could do something like this:

[code]

Or on a case-by-case basis by applying an ovveride.

[code]

Just thinking out loud...

[2016-02-25 16:36] PWKad commented on #101
You could also do this by simply overriding `ai-dialog.html` with your own implementation -

my-dialog.html
[code]
usage -

[code]

This still uses all of the `ai-dialog` elements it just uses a different container for them so you can customize it.

[2016-02-25 16:46] PWKad commented on #91
@henning-krause @mbenedyk -

@JSeligsohn is correct.  We have a chore for restyling the dialog for the (hopefully) last time but in the mean time you can set a max-width on your dialog for IE only to work around this issue for the time being.  Leaving this issue open so it is easy to find and we can close it out once the styles are finished.

[2016-02-25 17:08] Zoltu commented on #101
I didn't know you could do that @pwkad, I'll try to get a PR to the readme with those details later when I get this working.

It's that a good general solution for components?  Would it work and be reasonable for components with multiple pieces or more code associated with them?

I would rather be able to *only* override the CSS, but perhaps the engineering effort required to add that isn't worth

[2016-02-25 17:54] PWKad commented on #101
Yeah sorry last night when we were discussing I mentioned you could override all templates but I didn't think of the most simple way to solve your issue of just that one template.

The only reason I'm timid about adding in too much configuration is that all of the questions so far have been for different pieces and I'd hate to take such a simple yet effective usage of dialogs and add in too many o

[2016-02-25 17:56] EisenbergEffect commented on #101
I agree. I think it's pretty easy in this case to create a simple modal implementation and specify the desired styles. It did just remind me of something that might be a more general need for other types of components in the future...so I was just tossing out ideas trying to get my brain thinking about how things could work.

[2016-02-26 03:59] Zoltu commented on #101
I tried creating the file you suggested (`my-dialog.html`) and replacing `ai-dialog` in my template with `my-dialog` but it doesn't appear to be working.  Looking at my web server, I don't see `my-dialog.html` being requested, nor the CSS I specified.  The results are that I get no styling at all, not even the default styling.

[2016-02-26 04:07] Zoltu commented on #101
I added `.globalResources` with the path to `my-dialog` (including `.html` suffix) and now my HTML and CSS files are being fetched but I still don't see any styling being applied.  I am currently using the CSS that is shipped so my expectation is that if this was working I would see a dialog as though I used `ai-dialog`.

[2016-02-26 04:52] Zoltu commented on #101
I spent a while trying to get this working but I am once again not convinced the solution proposed will actually work.  In particular, the `DialogRenderer` has [this](https://github.com/aurelia/dialog/blob/master/src/dialog-renderer.js#L50-L51):
[code]

This is going to use `ai-dialog-overlay` and `ai-dialog-container`.  These will be styled with either the CSS I have supplied or the CSS supplied

[2016-02-26 05:10] Zoltu commented on #101
Final comment for future readers.  I got it working (for now) by making my template look like the following with a reference to a CSS file of my own that has all of the same things as the baked in CSS.  I am not certain how reliable this is because I believe it relies on the my CSS being injected into the page further down than the baked in CSS.  I also don't know if this behaves the same in all b

[2016-02-26 06:36] EisenbergEffect commented on #100
@PWKad Can you comment on this?

[2016-02-26 13:04] PWKad commented on #100
I think the controller needs to be mocked better for that test to pass.  `xit` is a pending spec meaning `I wrote this spec and it should pass but it doesn't yet and I'm lazy and haven't finished it to get it green`.

I'll see if we can get this up and running.

[2016-03-01 05:23] Gheoan commented on #100
@PWKad Should this issue be closed or do you plan to add the spec back after 169908509dddf405bebb18ca7c3e61a9e5bf5078?

[2016-03-01 14:30] npelletm commented on #101
At this day, I used @Zoltu technique but  being able to override the CSS will be a good feature.

[2016-03-04 16:28] airboss001 opened #103 "Dialog will not scroll when dialog height is larger then containing page"
If the page is shorter in height than the dialog that needs to be displayed the dialog gets cut off and you cannot scroll the dialog into view.

I am not a CSS person at all, but was able to hack at it some and get it working for my purposes by changing the following 3 css classes in dialog.css:

ai-dialog-overlay {
  bottom: 0;
  left: 0;
  position: absolute; //changed from fixed
  top: 0;
  rig

[2016-03-05 03:14] sethlivingston commented on #13
Hey guys, this is "Rookie Mistake #1" in Nolan Lawson's (of PouchDB) article here: http://pouchdb.com/2015/05/18/we-have-a-problem-with-promises.html

I noticed the pyramid right away, too. There is not a performance problem here, but rather a subtle but significant lack of understanding in how promises work. I was in the same boat, so I know first-hand that correcting this will help you use and d

[2016-03-05 04:04] EisenbergEffect commented on #13
Yes, you are 100% correct. This needs to be fixed. @sethlivingston Would you be willing to create a PR to fix it? :smile:

[2016-03-05 15:20] sethlivingston opened #104 "Tests won't run, getting 404 on paths starting with /base/..."
I ran into this while running tests to validate a PR. For the life of me I can't figure out what is causing it; I've tried comparing files with the (working for me) skeleton navigation project to no avail.

[code]

It's looking for files in `/base/...` which don't exist.

I'm hoping one of the Aurelia regulars will look at this and say, yep, seen that before...

[2016-03-05 15:45] #100 closed

[2016-03-05 15:46] PWKad commented on #104
Tracking at #99

[2016-03-05 15:46] #104 closed

[2016-03-05 16:39] doktordirk commented on #104
@sethlivingston
need to install with jspm 0.16.15
[code]

[2016-03-05 19:41] sethlivingston commented on #104
Same result, @doktordirk. Thanks, though. I'll wait for #99.

[code]

[2016-03-05 19:43] sethlivingston commented on #13
I have it ready and will submit when #99 gets done. (And please point me somewhere if that's one I can help with, too. I'm assuming it's a general update needed for multiple Aurelia repos, but maybe I'm wrong.)

[2016-03-05 19:47] doktordirk commented on #104
Hmm. I dont trust it. Vanilla install uses jspm @0.16.30 and gives exactly that error. Just for fun try to rebuild the whole thing

Delete npm folder

.delete jspm folder

Delete map Entry in config json

Npm install jspm@0.16.15

Jspm install

On Sat, Mar 5, 2016 at 11:41 AM -0800, "Seth Livingston" <notifications@github.com> wrote:

Same result, @doktordirk. Thanks, though. I'll wait for #99.

[

[2016-03-05 19:51] EisenbergEffect commented on #99
@PWKad We have someone who wants to submit a PR to fix our promise issue but would like to wait until this is fixed up. Any chance you can resolve this soon?

[2016-03-05 20:08] sethlivingston commented on #104
That worked, @doktordirk. Thank you!

[2016-03-06 00:03] #82 closed

[2016-03-06 00:04] #99 closed

[2016-03-06 00:04] PWKad commented on #13
#99 is all resolved now, thanks again for contributing @sethlivingston

[2016-03-06 18:15] piwnik commented on #96
While this issue isn't solved, is there any way to close dialog from parent? Or check if any dialog is shown (without tracking this by myself)? Then we probably can on parent canDeactivate check is the dialog shown, if yes - return false, but close dialog, and on second 'back' return true.

[2016-03-08 13:48] piwnik commented on #96
@henning-krause I solve this issue by adding ['autorize' router pipeline step](http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/securing-your-app).

[code]

Where if dialog is open - close it and stay on same page.

If you need only close dialog and continue navigation, just remove redirection line (which recovers history step)
[code]

It's dirty hack, but I hope it solv

[2016-03-08 14:06] PWKad commented on #96
Yeah I was looking at this again this morning and trying to imagine the best way to approach the issue.  Since promises aren't cancellable I am leaning towards passing a function as an optional argument in to the `dialogService.open` call but it seems brittle also.  Any suggestions welcome.

[2016-03-08 14:58] piwnik commented on #96
I think passing callback to `dialogService.open ` and handling navigation on every viewModel is annoying.

What if dialog plugin add router pipeline step by them self? In [router pipeline provider](https://github.com/aurelia/router/blob/master/src/pipeline-provider.js) add some slot to do that earlier than 'authorize' step and handle this case automatically.

Of course I understand, that dialog pl

[2016-03-08 20:15] MarkHerhold opened #107 "Click off to dismiss"
I would like to be able to click on an area outside of the modal to dismiss it when the `lock` option is set to false. This would be similar to the current functionality where the escape key dismisses the dialog.

Are there plans for this/is this something others want as well?

[2016-03-09 15:54] Jaans opened #108 "`settings` property of `DialogController` not exposed in TypeScript typings"
We recently migrated to `TypeScript` for our `Aurelia` projects - with great benefit I might add!

One of the issues we are running into is that the `aurelia-dialog.d.ts` typings file (included with JSPM) lacks the `settings` property.

[code]

We need access to the settings property so we can call `this.dialogController.settings.lock = true`, without which our dialogs don't work (button clicks do

[2016-03-09 15:57] Gheoan commented on #108
I think this was fixed in https://github.com/aurelia/dialog/pull/97.

[2016-03-09 16:03] Jaans commented on #108
Thanks for the quick reply!
It looks like it as the default scope for TS properties are public - so that would be great news!

Is that change something that has made it way through to JSPM yet?

[2016-03-09 16:07] Gheoan commented on #108
@Jaans A new release is needed for the typings to update.

[2016-03-10 09:22] arnevdv opened #109 "Plugin not found"
I have installed the dialog-plugin with 'jspm install aurelia-dialog'. After installing i use aurelia.use.plugin('aurelia-dialog') but get this error in my browsers console. Any ideas?
When i browse trough my jspm_packages/npm folder i clearly can see all the files.

GET http://localhost:9000/jspm_packages/npm/aurelia-dialog@0.5.7.html 404 (Not Found)

[2016-03-10 15:28] richtea opened #110 "Typescript typings incorrect for DialogController.ok() and cancel()"
It seems that the current [aurelia-dialog.d.ts](https://github.com/aurelia/dialog/blob/master/dist/aurelia-dialog.d.ts) file is incorrect for the `ok()` and `cancel()` functions. The definitions in Javascript were recently changed in commit 7ac0be86d7a98964d8c30f27e3669004549d93d5 to accept an `any` type; however the type definitions file hasn't been updated accordingly.

I'm happy to submit a PR

[2016-03-10 19:29] PWKad commented on #108
Released.

[2016-03-10 19:29] #108 closed

[2016-03-11 11:55] arnevdv commented on #109
I've obviously done that, but stil get the error and my app would'nt run

[2016-03-12 08:47] jeff-h opened #113 "Margin would be better than padding"
At present there's 16px padding on `ai-dialog-header` and `ai-dialog-body`. If it were margin instead, it would collapse with any top margin on a contained element.

Imagine that the header contains an H1 element. The H1 element likely has quite a bit of top margin (20px in Safari). This currently results in a very large gap, being 16px padding + 20px h1 top margin = 36px.

Ideally, it would be ju

[2016-03-12 09:14] jeff-h commented on #39
This does work for me, without even messing with z-indexes. However, it seems strange for me to have to implement this myself. In Bootstrap, the modal backdrop is 50% black, and that seems very expected behaviour to me.

Can I cast a vote in favour of rolling in the two rule styles from 4 comments [above](https://github.com/aurelia/dialog/issues/39#issuecomment-150394032)?

Seems I'm eager for tin

[2016-03-12 21:35] jeff-h opened #114 "startingZIndex only works as global setting"
For me at least, setting the `startingZIndex` only takes effect if it's done in the global settings e.g. in my `main.js`:

[code]

Setting it in my specific `DialogController` doesn't work, although other settings such as `settings.lock` do work in that location.

If this is not a bug could you adjust the docs slightly to point this out?

[2016-03-14 13:00] stalniy opened #116 "Reduce coupling by introducing dialog component"
I believe that I have a great idea of how modal/dialogs could be implemented using custom element. This will allow to reduce coupling between parent view and modal dialog, so in future it will be much easier to add changes/improvements to the codebase.

**Proposition**:
[code]
Then lets imagine the future:
we don't want to use modal windows anymore and instead, want to show table and edited produc

[2016-03-15 10:27] AdamWillden commented on #91
@PWKad any ideas when this chore might be completed?

Deciding on whether I should implement a work around, is there a suggested method to use for a work around?

[2016-03-15 12:34] timvr01 opened #117 "Problem to load dialog plugin"
I've installed the aurelia-dialog trough 'jspm install aurelia-dialog'.
After i put the plugin in my main.js file like this:

[code]

I keep getting this error no matter what i do or reinstall.
![screenshot 2016-03-15 13 23 50](https://cloud.githubusercontent.com/assets/10833461/13777699/f410cafc-eab1-11e5-9f8e-326795971469.png)

The dialog plugin is in my jspm packages
![screenshot 2016-03-15 13

[2016-03-15 12:38] arnevdv commented on #117
I got exactly the same error in my apache cordova project

[2016-03-15 12:40] SamuelCaudenberg commented on #117
I get a very similar 404 error
![image](https://cloud.githubusercontent.com/assets/10906724/13777940/48e20392-eab3-11e5-8da0-265e2384672f.png)

[2016-03-15 12:41] EisenbergEffect commented on #117
Make sure you guys have everything up to date, including the loader.

To update libs `jspm update`
To update the loader `jspm dl-loader --latest`

[2016-03-15 12:48] SamuelCaudenberg commented on #117
Thanks Rob, you must have a magic touch or something

[2016-03-15 12:50] timvr01 commented on #117
The first time i did that, it did not helped but now i did, thank you mr. hero!

[2016-03-15 12:52] #117 closed

[2016-03-16 21:51] rborosak opened #118 "Dialog cannot be dragged"
How can I make the dialog draggable?

[2016-03-16 22:14] alvarezmario commented on #118
@rborosak I think the faster way will be a PR :smile:

[2016-03-16 22:20] EisenbergEffect commented on #118
I'm not sure if we want to build that in or not. I think it would likely be accomplished by using a custom attribute on ai-aialog to add that behavior though. That's how I would start experimenting with it.

[2016-03-17 19:06] jedd-ahyoung commented on #101
A simpler way to provide this functionality would be to provide a `class.bind` on the enclosing custom element. This would set a class on the inner element (div, etc) that could then be styled accordingly. It's the same thing as the `override-css` property, but it's native and simpler. I've used this in custom elements that I've created and it's been successful.

Essentially, if we have a custom e

[2016-03-17 19:18] jedd-ahyoung opened #119 "Refactor dialog-controller and dialog-renderer for better separation of concerns"
I think that the `aurelia-dialog` plugin should be able to support multiple renderers. This would mean that the dialog plugin would function as a controller-style backend for any modal dialog implementation.

The problem right now is that there is some functionality wrapped in the `dialog-renderer` module, specifically in `createDialogHost` that I believe should be factored into `dialog-controller

[2016-03-17 20:09] EisenbergEffect commented on #119
Sounds interesting. I'd love to see a PR based on this idea.

[2016-03-17 20:44] PWKad commented on #118
Agreed I don't think we want to add this to the base dialogs as we want to keep it as basic as possible to allow customization.

If you use your own modal styles you can have them be draggable which may be easier.

[2016-03-17 20:44] #118 closed

[2016-03-17 20:46] PWKad commented on #116
This should all work currently as-is could you give me an idea of what is not working?

[2016-03-17 20:47] PWKad commented on #114
Hmm I'm not 100% sure which is better.  Basically right now we stack everything on the starting globalSetting and just increment after that.  Might be best to document it for now.

[2016-03-17 22:28] jeff-h commented on #114
Thanks!

[2016-03-18 05:36] stalniy commented on #116
Ah, ok. I didn't find this in examples. Everything uses `dialogService` which creates coupling between modal window components and host component (which injects service)

In the provided example there is no such coupling.

So, if this library allows to do what I wrote in the example, the issue may be closed.

Probably, it'd be useful to provide this example in the doc, so people won't do same mist

[2016-03-20 12:45] #110 closed

[2016-03-21 09:59] cehoffman opened #121 "Determine if dialog is open"
It would be nice if the dialog service had a property or method that would signal if there is a dialog open through the service. In my application I have routes which open various dialogs depending on user action, but in a completely separate part of the application I need to prevent any progress from occurring if there is an active modal.

I could see it being useful to retrieve the active modal

[2016-03-21 11:01] EisenbergEffect commented on #121
Great idea! @jedd-ahyoung Any interest in working on this?

[2016-03-21 13:15] jedd-ahyoung commented on #121
@EisenbergEffect I think this can be done by moving the responsibility of handling the controller collection from `dialog-renderer` to `dialog-service`. I think this would be a better separation of concerns and I think it would distill the renderer somewhat.

I may be able to put time into this, but note that I owe you a lot of stuff - router issues and Angular documentation being part of that. I

[2016-03-21 13:31] EisenbergEffect commented on #121
How much time do you think it would take to add this? If not much, then I'd say go ahead and knock it out. If it's more involved, then I'd say work on the router issues instead. Let me know.

[2016-03-21 14:03] jedd-ahyoung commented on #121
I think I can knock this out in a night (tonight), unless there are any
unforeseen issues.

2016-03-21 9:31 GMT-04:00 Rob Eisenberg <notifications@github.com>:

[2016-03-21 14:05] EisenbergEffect commented on #121
That sounds good. I'd say, go for it. Ping me when it's ready and I'll get it merged in. Thanks!

[2016-03-22 04:15] jedd-ahyoung commented on #96
@PWKad I've just submitted a pull request for the dialog service - it keeps a collection of all of the open controllers. With this, I implemented a "hasActiveDialog" function. With this, we could easily iterate over the open modal dialogs and close them all. This would probably work, right?

Alternatively, one could cancel navigation by using `hasActiveDialog` with the `deactivate` lifecycle.

[2016-03-22 13:32] shivajiraot opened #123 "if.bind in dialog adds the element at the end of ai-dialog-body"
Initially `showThis` is `false` and so 2nd div in body isn't displayed, when `showThis` becomes true in viewmodel, that 2nd div is added to the end of body instead of being in the middile of 1st and 3rd divs.
[code]

[2016-03-22 13:44] EisenbergEffect commented on #123
Closing this issue as a duplicate. It's basically related to a bug in shadow dom that will get fixed when we update to shadow dom v1 in soon: https://github.com/aurelia/templating/issues/218

[2016-03-22 13:44] #123 closed

[2016-03-22 17:21] #119 closed

[2016-03-22 20:24] #121 closed

[2016-03-23 05:15] Zoltu opened #124 "Upgrading from `0.5.8` to `0.5.9` doesn't work (unclear why)."
I'm not sure what happened, but `0.5.8` works fine for me and `0.5.9` doesn't work at all.

Plugin application: https://github.com/Zoltu/RepoCreator-Client/blob/1a7c0f9d0d115edf579f8a431b8388d6d37a2467/dist/source/main.ts#L6
Dependency injection: https://github.com/Zoltu/RepoCreator-Client/blob/1a7c0f9d0d115edf579f8a431b8388d6d37a2467/dist/source/repo-creator/repository-chooser.ts#L23

When I put

[2016-03-23 05:17] EisenbergEffect commented on #124
@jedd-ahyoung If you get a chance, can you look at this. There may be something wrong somewhere.

[2016-03-23 05:17] EisenbergEffect commented on #124
@Zoltu I'm upgrading one of my own projects that uses dialog tomorrow. So if @jedd-ahyoung doesn't get to this first, I'll address it as part of that process.

[2016-03-23 07:06] cehoffman commented on #124
Yep, just throwing out there a confirmation that DialogService is undefined with imported in 0.5.9.

[2016-03-23 09:45] heruan commented on #124
I confirm this: imported `DialogService` results `undefined`.

[2016-03-23 10:38] AdamWillden commented on #124
:-( Yep confirm same

[2016-03-23 13:50] jedd-ahyoung commented on #124
@EisenbergEffect The issue is here:
https://github.com/aurelia/dialog/commit/397c64a78360aeed072d84b1e55803ece0897ff2#diff-1fdf421c05c1140f6d71444ea2b27638L2

It looks as though the default exports got altered somehow during the
release process. Reverting the index.js file and issuing a patch release
should fix this.

2016-03-23 6:38 GMT-04:00 Adam Willden <notifications@github.com>:

[2016-03-23 15:09] EisenbergEffect commented on #124
Ok, I've updated the build and pushed out a release. Let me know if this solves the problems.

[2016-03-23 15:09] #124 closed

[2016-03-25 12:50] iveetoo opened #125 "Dialog doesn't close on click out"
Hi, according to the docs (and the source), if `setting.lock = false` and the user clicks outside of the dialog, it will close it and resolve it with cancel. But, when I click outside - nothing happens.

The event handler, for closing the dialog, is set on the overlay layer (https://github.com/aurelia/dialog/blob/master/src/renderers/dialog-renderer.js#L76) and is never called, because `ai-dialog-

[2016-03-25 14:41] mib4fun opened #126 "aurelia-dialog won't work with webpack"
hi guys !

I'm a beta webpack + aurelia user ! :dancer:

I'm having trouble making work aurelia-dialog withwebpack.
It's loading fine but can't open the dialog.
I got this error

![error](https://cloud.githubusercontent.com/assets/3010867/14046160/4d5bc66a-f297-11e5-8265-0dc60ab7ab5f.jpg)

[2016-03-25 14:50] DiknT commented on #126
How did you even get it to load?
Following the example setup I end up with module not found:
[code]

[2016-03-25 15:36] mib4fun commented on #126
You have to modify your webpack.config.js
My current config here
 https://gist.github.com/mib4fun/9247adffdb08959e9a18

[2016-03-25 15:40] EisenbergEffect commented on #126
@mib4fun Would you be interested to make a PR to the readme file in the skeleton that explains how to configure aurelia plugins for webpack? That could be very meaninful for the community.

[2016-03-25 15:40] #126 closed

[2016-03-25 16:33] mib4fun commented on #126
@EisenbergEffect , yeah you right. i'll do it !
But i have to resolve this issue first.

the aurelia-dialog plugin is loading well with my config.
But i can't open a dialog with thte dialogservice. I have this error :arrow_up:
I have narrowed the issue to that function
https://github.com/aurelia/dialog/blob/master/src/dialog-service.js#L80

it's returning
<pre>
Object {moduleId: undefined, moduleM

[2016-03-25 18:11] jww2000 commented on #126
@mib4fun it looks like something here
[code]
but now I have another error

[2016-03-26 04:09] EisenbergEffect commented on #126
@mib4fun That is a different issue than what is reported here. Can you open up a new issue for that and then attach a simple reproduction so we can see the problem and try to figure it out? If you can recreate it on top of the webpack skeleton that would help us.

[2016-03-26 16:47] mib4fun opened #127 "Cannot open dialog using webpack bundle"
Hello,

I'm having trouble making work aurelia-dialog withwebpack.
Webpack is loading correctly the plugin. Here is my sample repo :
https://github.com/mib4fun/aurelia-dialog-sample

You have to delete the require css line  in the commonjs dist to make it work.
I have described it here : https://github.com/mib4fun/aurelia-dialog-sample#getting-started

Then when i try to open a dialog i get this e

[2016-03-26 16:48] mib4fun commented on #126
@EisenbergEffect, i have created the sample repo and an other issue #127

[2016-03-26 20:19] miguelzakharia commented on #127
@mib4fun Did you by any chance have these errors before getting as far as you did? I can't even get my page to load because it can't find references.

![image](https://cloud.githubusercontent.com/assets/682476/14062252/7b94ffc4-f36e-11e5-8daf-bd68b66ae431.png)

[2016-03-27 01:50] mib4fun commented on #127
@miguelzakharia
I have updated the repo with my fork of the aurelia-dialog.

It loads fine on heroku here is the link : http://aurelia-dialog-sample.herokuapp.com/
( don't mind the sockjs errors )

[2016-03-27 12:28] PWKad commented on #96
@jedd-ahyoung seems reasonable although I'm still not sold that the standard experience should be to close by default, I'm still wondering if the consumer is wanting more than one open modal if it makes more sense for them to add their own pipeline step.

As @piwnik mentioned if the user wants to add a pipeline step this should now be achievable by iterating over the open dialogs and closing them

[2016-03-27 12:43] PWKad opened #128 "Close button does not appear to respect padding anymore"
![image](https://cloud.githubusercontent.com/assets/4238393/14065455/a5119160-f3ef-11e5-811c-d799766cc35a.png)

[2016-03-27 12:48] PWKad commented on #70
@jedd-ahyoung Is this fixed by the last change for multiple dialogs?

[2016-03-27 12:49] PWKad commented on #67
@jedd-ahyoung Fixed by your last feature correct?

[2016-03-27 12:49] PWKad commented on #13
Closed by community PR.

[2016-03-27 12:49] #13 closed

[2016-03-27 13:15] PWKad commented on #39
@jeff-h I added a snippet to the readme

[2016-03-27 13:18] #114 closed

[2016-03-27 15:06] jedd-ahyoung commented on #70
@PWKad No. Those changes only address the controller and service layers. None of my changes actually addressed any of the renderer concerns - display and rendering of the DOM elements - as I understand that there are future changes coming in. I assumed that those changes would probably fix many of the issues related to display and rendering.

[2016-03-27 15:10] jedd-ahyoung commented on #67
@PWKad This looks like a separate issue entirely. I don't think this has been directly fixed. We can check  latest distribution with the sample that @RWOverdijk has provided and see if the problem still exists, though.

[2016-03-28 14:28] cfv1984 opened #129 "Abstract Renderer used by default instead of DialogRenderer?"
Hi!  I'm using aurelia-dialog@0.5.10, and configuring it by setting ```config.centerHorizontalOnly = true``` in ```aurelia.use.plugin('aurelia-dialog', function(){/*here*/})```.
 If I dont set anything else in there, the renderer I'm ending up in the DialogSettings is ```Renderer``` instead of, as expected, ```DialogRenderer```.

Not passing absoluely anything in there sets the proper renderer, bu

[2016-03-28 15:25] EisenbergEffect commented on #129
It is by design, however, I do think it's a bit misleading. @jedd-ahyoung Do you think we could improve this somehow? For example, use a default for whatever option isn't explicitly indicated?

[2016-03-28 15:49] jedd-ahyoung commented on #129
@EisenbergEffect I don't see why not. The configuration builder as it is is not as polished as it should be. Ideally, it should have some type of method that exports the configuration once configuration is complete, populating the DI containers with the correct methods, etc.

@cfv1984 Note that, even with the proposed change, you'll need to set your settings on `config.settings

[2016-03-28 15:50] jedd-ahyoung commented on #129
@EisenbergEffect I don't see why not. The configuration builder as it is is not as polished as it should be. Ideally, it should have some type of method that exports the configuration once configuration is complete, populating the DI containers with the correct methods, etc. This way, we can easily provide default configuration without the use of `useDefaults()`. I'm not sure how the exports will

[2016-03-28 21:12] jeff-h commented on #39
lovely :)

[2016-03-29 08:34] timvr01 opened #130 "renderer.js:21 Uncaught (in promise) Error: DialogRenderer must implement getDialogContainer()"
This morning when I opened my project I got this error when I tried to launch a dialog. I have no clue what this means and before today it was working just fine...

![screenshot 2016-03-29 10 33 26](https://cloud.githubusercontent.com/assets/10833461/14102274/d11e378a-f599-11e5-9469-8fff28131c37.png)

[2016-03-29 08:44] iveetoo commented on #130
Did you call the useDefaults() method to apply the base configuration? The documentation was updated a few days ago

[2016-03-29 08:56] timvr01 commented on #130
I did not realise that. So it is not possible anymore to declare my settings like this?

[code]

[2016-03-29 09:25] iveetoo commented on #130
It is possible, but you must declare your global settings on the configuration object, that is passed to the callback function. From the docs:

[code]

Also, there isn't a  setting called `centerVerticalOnly`

[2016-03-29 09:57] timvr01 commented on #130
Thanks it works like that but i don't see my close X icon anymore, no matter the lock settings...

[2016-03-29 09:59] timvr01 commented on #130
Thanks a lot, it works that way!

[2016-03-29 09:59] #130 closed

[2016-03-29 14:35] RomkeVdMeulen opened #131 "Tips for unit testing"
Any advice on how to unit-test the ViewModel of a dialog? E.g. if I have (simplified):
[code]
with template
[code]

I'd like my unit test to be pretty high level, something like:
[code]

To test on this level, I can't manually construct an instance of the ViewModel. But there isn't much documentation I could find that deals with how to interact with the framework from unit tests. Any pointers woul

[2016-03-30 10:00] RWOverdijk commented on #67
@jedd-ahyoung I might be able to test that later today if you want?

[2016-03-30 13:11] jedd-ahyoung commented on #67
@RWOverdijk If you wouldn't mind. I wanted to take a look at this this week, but I'm preparing for a trip and thus haven't had much time. I'd like to verify that your problem is related to templating and not the dialog itself. The dialog *should* be able to handle multiple windows and controllers without any issues.

[2016-03-30 13:13] RWOverdijk commented on #67
@jedd-ahyoung I'll see if I can make some time later :)

You're right, I can make multiple windows, just not if they extend from a model that does binding.

[2016-03-31 21:05] kuechlerm commented on #127
@mib4fun even with your fork, I still get this error when trying to open a dialog:

`
Uncaught (in promise) TypeError: Cannot read property 'canActivate' of undefined
    at invokeLifecycle (webpack:///./~/aurelia-dialog/dist/commonjs/lifecycle.js?:8:22)
    at eval (webpack:///./~/aurelia-dialog/dist/commonjs/dialog-service.js?:56:47)invokeLifecycle @ lifecycle.js:8(anonymous function) @ dialog-s

[2016-04-01 11:10] seesharper commented on #127
I have the same problem as @kuechlerm

[2016-04-01 12:48] miguelzakharia commented on #127
Same here. I tried debugging, but no luck.

On Apr 1, 2016, 7:10 AM -0400, Bernhard Richter<notifications@github.com>, wrote:

[2016-04-01 13:50] seesharper commented on #127
Try referencing the viewmodel by module name

[code]

[2016-04-01 15:05] mib4fun commented on #127
@seesharper thx ! It worked !!

[2016-04-01 16:07] Jaans opened #132 "Failing to load dialog resources with webpack"
I'm trying to use this plug-in with webpack, but it doesn't work. When I initialise the plugin with the following:

[code]

I get the following errors in the Chrome console:

[code]

This appears to be a similar / related loading problem to [this](https://github.com/aurelia/validation/issues/226), except that I don't think it has to do with SystemJS - it just appears not to be loading the view tem

[2016-04-02 12:59] jww2000 commented on #127
@seesharper & @mib4fun & @swamipras I got a little further now I get DialogRenderer must implement getDialogContainer()

[code]

[2016-04-02 13:11] mib4fun commented on #127
@jww2000 can you compare that with my sample   https://github.com/mib4fun/aurelia-dialog-sample
It's working all good now.

[2016-04-02 15:23] jww2000 commented on #127
@mib4fun awesome I was missing the plugin in main.js! thank you so much! It is finally working after 2 weeks ;)

[2016-04-02 16:14] mib4fun commented on #127
Cool ! i close the issue now

[2016-04-02 19:14] seesharper commented on #127
Why are you closing this? The original issue is not actually resolved. It should still be possible to reference the view model by its type as you can when running JSPM. I think it is important to leave this open so that it can be fixed by the Aurelia team.

[2016-04-02 19:20] mib4fun commented on #127
woups... you right, reoping.
@PWKad, can you take a look please ?

[2016-04-02 19:23] EisenbergEffect commented on #127
Probably it's missing functionality in the webpack module loader for
Aurelia.
On Apr 2, 2016 3:20 PM, "Jean-Vincent kassi" <notifications@github.com>
wrote:

[2016-04-03 23:58] Zensavona commented on #132
I'm experiencing this issue as well, it's because there's a html `<require>` which is requiring css, and tripping up Webpack.

@EisenbergEffect is this imported using a `<require>` in the html for ease of override? If not, would it be ok to move it to an `import` in the JS code? I'm pretty sure that would solve this issue.

[2016-04-04 00:08] EisenbergEffect commented on #132
There's a difference between requires in html and in JS. We should work to get the css in html requires working with Webpack. It's probably just a bug in aurelia-webpack-loader. It would be excellent if some community members who were enthusiastic about webpack dug into that code and submitted a PR to get this working universally.

[2016-04-04 17:15] fjes82 commented on #132
martijnboland proposes a fix here: https://github.com/aurelia/webpack-plugin/issues/11.

It overrides the css loader for aurelia-dialog with the raw loader.

Worked for me.

[2016-04-05 15:58] Silverado-by opened #133 "Margin-left of created dialog"
I'm using latest (0.5.10) of aurelia-dialog and slightly confused: showed dialog sticks to the left side of window. After some investigating i've found that nested element ('au-target') has marginLeft='0px' and i think it's obviously wrong in this case. I've created some workaround used settings.position in my viewmodel:

    position(modalContainer, modalOverlay) {
		var child = modalContainer.ch

[2016-04-06 15:41] timbell opened #134 "DialogResult declaration missing from aurelia-dialog.d.ts"
(Since 0.5.9)

[2016-04-07 12:26] Jaans commented on #132
Thanks for that.

Sadly, the fix suggested by @fjes82 doesn't work for me. I've tried it any which way I can image and simply cannot get the issue resolved. It doesn't seem to be an issue with CSS loading as I have that configured to use the RAW loaders when required / imported with Aurelia.

In fact the errors I'm getting is that it's failing to load the modules, as in the `.js exports`. So that

[2016-04-07 12:41] Jaans commented on #132
UPDATE: Webpack seems to be including the resource modules as can be evidenced from the CLI output below (refer 56,57,60, etc.)

[code]
What is interesting is that while I can find the content of these modules (e.g. 56) in the bundles, it is not registered in the bundle mapping and that's why it doesn't find it. This looks like it could possibly be a webpack issue.

[2016-04-07 13:14] istrau3 commented on #132
You need to include the following in your webpack.config file:

[code]

[2016-04-07 13:26] Jaans commented on #132
That did it! Thank you @istrau3

Is there any guidance somewhere on this `includeSubModules` bit to understand why it's needed and therefore when to use it how?

[2016-04-07 13:28] istrau3 commented on #132
@Jaans check out the aurelia webpack plugin readme =).

[2016-04-07 13:32] istrau3 opened #135 "Wierd issue: Cannot read propety 'canActivate' of undefined"
I am using the dialog as specified in the docs:

[code]
Somehow I am getting thrown the error in the description...

I dug into the code a little.
I believe this error is being caused by the code below:
[code]
basically Origin.get(instruction.viewModel).moduleId is returning undefined.
'./register/register' is definitely the correct relative path...

Thanks in advance.

[2016-04-07 13:42] EisenbergEffect commented on #132
Probably we need to add some notes on this to the skeleton. Anyone want to
send a PR? :)
On Apr 7, 2016 9:28 AM, "istrau3" <notifications@github.com> wrote:

@Jaans <https://github.com/Jaans> check out the aurelia webpack plugin
readme =).

—
You are receiving this because you were mentioned.

Reply to this email directly or view it on GitHub
<https://github.com/aurelia/dialog/issues/132#issuecomm

[2016-04-07 13:58] istrau3 commented on #135
I solved this by  passing in the absolute path (note: the relative path does not work) to the view-model instead of the constructor function itself, like so:

[code]

[2016-04-09 22:18] PWKad commented on #131
I don't know about testing with AutoInject but I think you'll need to use the container and pass in instances of all of your dependencies to manually construct it.

Something like this (pseudo-code):

[code]

If you need more help with testing and can supply errors please consider asking in our official gitter or on StackOverflow.com (be sure to have a repro or specifically what errors are prevent

[2016-04-09 22:20] PWKad commented on #132
Seems completed so I am closing for now.

[2016-04-09 22:20] #132 closed

[2016-04-09 22:20] #131 closed

[2016-04-11 13:10] heruan opened #136 "viewModel setting gets overridden by module index"
I'm trying to use a VM for the dialog, but `DialogService` ignores that and lookup the VM's moduleId to use that instead. Is this by design? Then I think the `viewModel` setting should be renamed with `moduleId`, such as in `RouteConfig` of "aurelia-router".

For example:
[code]
this would lookup `"my-module"` with `Origin.get(instruction.viewModel).moduleId;` and then will use the first exported

[2016-04-14 06:18] Tarpsvo commented on #125
Thanks mate, saved me a lot of trial-and-error.

Looking forward to an official fix.

Till then:

[code]

[2016-04-14 12:34] rockResolve opened #137 "Fast code close crash"
When I open and close a dialog quickly using code, the close can cause a number of different errors depending on the timing. At the worst "hideDialog is undefined", when the controller is not fully built on open, but a close is attempted.

**Use case:** Progress or Activity dialogs that may be closed by code rather than by a user clicking a button. Sometimes they may be closed very quickly after t

[2016-04-14 13:29] cdennig commented on #127
Assigning the viewmodel as a string only works, when it is in the same directory. When you want to reference one that's not in the same folder, you'll get an error: "Cannot find module './DialogViewModel'."
Please have a look at the issue, because there is no workaround at the moment. Thanks in advance...

[2016-04-15 11:15] Tseberechts commented on #127
@cdennig you can say 'folder/DialogViewmodel' (path from src to model'

[2016-04-15 20:34] The1nternet commented on #127
The original issue states "You have to delete the require css line in the commonjs dist to make it work."  This is still the case, as I just had to delete that same line to make aurelia-dialog work with webpack.

[2016-04-18 07:57] Scapal opened #138 "viewModel instance as setting.viewModel doesn't work with webpack"
In `dialog-service.js`, `_getViewModel(instruction)`,
with es6-weback, this returns undefined:
[code]

[2016-04-18 12:26] EisenbergEffect commented on #138
Do you have the latest version of the loader-webpack library?
On Apr 18, 2016 3:57 AM, "Pascal Fautré" <notifications@github.com> wrote:

[2016-04-18 13:07] Scapal commented on #138
"version": "1.0.0-beta.1.0.1"

[2016-04-19 04:18] SivaJonnala commented on #138
Hi, I am trying to open Modal-dialog i am getting an error like below.
TypeError: Cannot read property 'canActivate' of undefined(…)
invokeLifecycle @ lifecycle.js
(anonymous function) @ dialog-service.js
I am using "aurelia-webpack-plugin": "^1.0.0-beta.1.0.2", and
"aurelia-loader-webpack": "^1.0.0-beta.1.0.1",

I am getting instruction.viewModel = undefined at _getViewModel(instruction).
Can any

[2016-04-19 06:58] Scapal commented on #138
@SivaJonnala As a temporary workaround, use the module name i.e. `'my-view-model'` instead of passing the view model class `MyViewModel`.

[2016-04-19 09:34] SivaJonnala commented on #138
@Scapal Thank you for your response. but Can I pass the module name as value for viewModel:'my-view-model' like this, If I pass like this I will get an error can't find module.

[2016-04-19 14:04] sivamamidi-REISys commented on #138
@Scapal : I have tried both options, it seems both of them not working.

[2016-04-20 08:58] Tim-Erwin opened #139 "Setting the modal opacity via CSS not working"
In the README there is an example to set the opacity of the modal:

[code]

However, this does not work for me, because aurelia-dialog adds an embedded style `ai-dialog-overlay.active {opacity: 1;}` to the page which has precedence.

I could work around that issue by using `.ai-dialog-open ai-dialog-overlay.active` as selector.

[2016-04-20 14:27] PWKad commented on #116
PR welcome to add directions on how to do this without using the DialogService - I would first use your example in a skeleton to verify the code is correct and then simply PR it and we can merge it in.

[2016-04-20 14:27] #116 closed

[2016-04-20 14:28] PWKad commented on #107
Looks like this is a regression from some CSS changes that were merged.

[2016-04-20 14:29] PWKad commented on #107
Duplicate of #125

[2016-04-20 14:29] #107 closed

[2016-04-20 14:31] PWKad commented on #127
@EisenbergEffect We can leave this open here for now but sounds like some functionality is missing in the webpack loader that is needed to fix it - I'll open an issue there.

[2016-04-20 14:33] PWKad commented on #133
Can you reproduce this anywhere?  I cannot with the provided samples or in my applications.  If you can please include it here and let's reopen this issue.

[2016-04-20 14:33] #133 closed

[2016-04-20 14:34] PWKad commented on #135
Tracking over in loader-webpack

[2016-04-20 14:34] #135 closed

[2016-04-20 14:36] PWKad commented on #136
Can you explain the expected result and what is actually happening or what the bug is here?  Sorry I don't quite follow what isn't working (unless you mean that the name should be different)

Perhaps you mean if you try to pass an instance of a view-model it isn't working?

[2016-04-20 14:37] PWKad commented on #139
I'll try to double-check this and update readme if it is not working as described.  PR also welcome.

[2016-04-20 18:43] Vidarls commented on #127
Just want to summarize all the issues I experienced today trying to use aurelia-dialog using typescript and webpack. They might all be covered by different issues on different projects but I feel a summary of dev pain might be useful:

Note: this is all non-happy-path issues from starting with latest skeleton to getting a working modal dialog:

1. `typings` not installed, `npm install -g typings`

[2016-04-20 19:34] Vidarls commented on #127
Small update, tried the same flow using the JSPM typescript skeleton.

1. The JSPM typescript does not require you to run `typings install` hence problem no 1 through 3 above was not present
2. No manual changes was required for adding the `aurelia-dialog` plugin in any files (except of course adding `.plugin('aurelia-dialog')` to the bootstrapper.
3. No issues with CSS loading
4. For some reason

[2016-04-20 20:57] EisenbergEffect commented on #127
@Vidarls Thanks for putting the time in to identify the issues! I do think some of this is related to our core webpack support that we are still working on improving. There's been some discussion related to some of these issues elsewhere. I think we need a webpack guru to help us find the proper solutions, most likely. If you or anyone you know has more experience with webpack plugins and loaders,

[2016-04-21 06:47] heruan commented on #136
Say I have `my-module` which exports several VMs from its `my-module/index.js`. Then if I try the snippet above, `DialogService` tries to use `my-module/index.js` itself as the `viewModel`, not the `MyModalVM` which I have imported.

[2016-04-21 14:00] heruan commented on #22
I return on this, since I'm using the plugin extensively and having faced many different scenarios in various apps I'm still very dubious on the `DialogResult` object. In the 90% of use cases, when a user cancels the dialog, nothing needs to be done; instead when she confirms, something needs to be done on a value. So `DialogResult` forces a conditional check where in the 90% of use cases only one

[2016-04-21 14:09] EisenbergEffect commented on #22
I'm open to further discussion of this. I agree. In my experience, you usually don't do anything on cancellation. I would like to find a way to make this simpler. @heruan Can you propose some API ideas here? Some pseudo code so we can look at some ideas and see what we like.

[2016-04-21 14:23] jedd-ahyoung commented on #22
For what it's worth, I ran into this as well. I'd personally be okay with a regular promise that rejects with a DialogResult or something. Something like this:

    this.dialogService.open(dialogObject)
		.then((result) => {
			return doSomethingAwesome();
		})
		.catch((error) => {
			if (typeof error !== 'DialogCancelled') throw error; // or a duck-type style check, maybe

			// Dialog code here

[2016-04-21 14:34] PWKad commented on #22
I'm good with going back to making them catch the errors provided we can include a link to a snippet of exactly what needs to be done to fix it like require.js does.  That would seem like a good preventive measure.

[2016-04-21 15:24] heruan opened #140 "Error: A BindingEngine must implement parseText"
Just cloned `skeleton-navigation/skeleton-es2016`, then
[code]
then adding `aurelia.use.plugin('aurelia-dialog')` to `main.js` results in
[code]

[2016-04-21 15:44] doktordirk commented on #140
one does get that with forks at times

[2016-04-21 16:42] heruan commented on #140
I have forks, indeed—I think aurelia-dialog isn't ready for the latest skeleton.

[2016-04-21 16:42] #140 closed

[2016-04-21 17:28] heruan commented on #125
I think it would be nice also this:
[code]
so that any custom direct child of `ai-dialog-container` will behave correctly without the need of setting the property like in `ai-dialog`.

[2016-04-21 17:46] EisenbergEffect commented on #125
@jedd-ahyoung I can't remember who added the pointer events styling. However, we probably need to seek out an alternate approach in general. That style capability does not work in all versions of IE that we need to support. We need to support IE9 and above.

[2016-04-21 18:02] jedd-ahyoung commented on #125
@EisenbergEffect There's an easy way to do this. Basically, the CSS styles that are in use for the dialog are problematic in general. If we revamp the CSS, this problem will disappear naturally. (Essentially, the overlay can exist under the container, which doesn't need to stretch to fill the entire screen.) This should be a simple style fix.

[2016-04-21 18:10] EisenbergEffect commented on #125
@jedd-ahyoung Yes please :) Do you have some availability to do this soon?

[2016-04-21 18:11] EisenbergEffect commented on #125
Also, we may want to not load the css in the html, but instead do it through an import statement. There are some ongoing issues with webpack that this might help fix. It's a separate issue. We can investigate that after the CSS revamp itself.

[2016-04-21 18:13] jedd-ahyoung commented on #125
When do you need it? I still owe you a bunch of router stuff (haven't
forgotten about it) and I've got a lot of writing tasks to do. If it's
something you need right away I can knock it out before Sunday.

2016-04-21 14:10 GMT-04:00 Rob Eisenberg <notifications@github.com>:

[2016-04-21 20:46] EisenbergEffect commented on #125
Sure, go ahead and do this first, since there's a lot of activity around this issue, then circle back around to the other items.

[2016-04-21 22:33] jedd-ahyoung commented on #128
This is just a float issue. It's working as intended - it looks when when there is text in the header, but without it the header collapses because the button has been removed from the document flow. The real solution here is to remove the float.

[2016-04-22 10:00] AdamWillden commented on #1
FYI my experience of using the autofocus attribute was unreliable. It worked sometimes and not others but I wasn't paying too much attention and replaced all of them with `focus.one-time="true"`

[2016-04-23 18:27] CarlosOnline opened #142 "can't load aurelia-dialog in skeleton-typescript-asp.net5"
**Error: A BindingLanguage must implement parseText**(...)(…)parseText
GET http://localhost:49849/jspm_packages/npm/aurelia-dialog@0.5.10/dialog.css.js 404 (Not Found)

**How do I get the aurelia-dialog plugin to work in the skeleton-typescript-asp.net5?**

I ran
jspm install aurelia-dialog
gulp build
launched the site and got the following errors.

[code]

[code]

[2016-04-23 19:30] doktordirk commented on #142
that parseText erro can happen with forks

[2016-04-23 20:05] CarlosOnline commented on #142
How go I un-fork?  :)

[2016-04-23 20:45] doktordirk commented on #142
i ususally just edit the config.js

[2016-04-23 21:11] CarlosOnline commented on #142
Sorry but I need some more explicit help.  I have no ideas what is wrong
and how to fix it.

What changes should I make to load the plugin?
On Apr 23, 2016 1:45 PM, "doktordirk" <notifications@github.com> wrote:

[2016-04-24 03:34] PWKad commented on #142
You have multiple forks this is not related to dialog but your setup in general.  `jspm update` to update all of your libraries, if you still have problems after that join our gitter and someone can help guide you.

[2016-04-24 03:34] #142 closed

[2016-04-25 04:03] activebiz commented on #127
+1 @cdennig ... same issue here. It needs to be addressed asap. Problem is with aurelia-metadata is not loading the viewmodel when its an object. It works when you load it viewmodel name as string because its passing to aurelia-templating engine. To me this is not a fix. It should be able to load viewmodel as object.

[2016-04-25 11:43] tkhyn commented on #101
Hi all, I've just run into this issue as well and found another simple workaround:

[code]

And in ``path/to/custom/view/ai-dialog.html``:

[code]

In my case I got rid of the ``require`` tag to simply use the CSS generated from SASS. This is cleaner than attempting to override the generated CSS.

[2016-04-25 13:24] EisenbergEffect commented on #127
Unfortunately, I don't think it's going to be possible with Webpack. Webpack isn't really a module loader and thus there is no module registry. Without the registry, we cannot lookup the id for a type and thereby load its view. You can see the code for the loader abstraction for webpack here: https://github.com/aurelia/loader-webpack/blob/master/src/index.js  Most module loaders have a registry wh

[2016-04-25 15:44] iBeliever commented on #138
I'm getting the same error when passing my view model class. When I try to use the string name, I get:

    main.js:37 Error: DialogRenderer must implement getDialogContainer().
        at Renderer.getDialogContainer (webpack:///./~/aurelia-dialog/dist/commonjs/renderers/renderer.js?:15:11)
        at eval (webpack:///./~/aurelia-dialog/dist/commonjs/dialog-service.js?:66:86)
    From previous eve

[2016-04-25 15:46] EisenbergEffect commented on #138
This is likely a limitation of Webpack itself. See this issue for some of my notes: https://github.com/aurelia/dialog/issues/127

[2016-04-25 15:47] sivamamidi-REISys commented on #138
we have solved this issue by providing full path.

[2016-04-25 15:50] EisenbergEffect commented on #138
I'm going to close this issue as a duplicate. Anyone who is interested can follow on the issue linked above.

[2016-04-25 15:50] #138 closed

[2016-04-25 19:54] activebiz commented on #127
Thanks @EisenbergEffect .

+1 for aurelia-cli

[2016-04-26 05:51] SivaJonnala commented on #138
I want to give some info on this as a worked demo

"demoFolder" is the folder contains our view-models "demo-Home.ts" &
"demo-modal.ts".

In "demo-Home.ts" I want to open modal dialog then call below method then
we need to give the path like this as shown

this.dialogService.open({ viewModel: 'demoFolder/demo-modal', model: { } });

Thanks & Regards,

Siva Verababu Jonnala,

sivatheruler@gmail.com

[2016-04-27 23:55] npelletm commented on #136
Same issue DialogService try to load my-module/index.js

[2016-04-28 00:41] EisenbergEffect commented on #136
If your view model isn't the only export from its module then Aurelia will get confused because it can't find a view associated with it.

[2016-04-28 00:41] #136 closed

[2016-04-28 01:27] npelletm commented on #136
@EisenbergEffect : I removed the many export of my VM in my buggy require js bundle and it works :)
Thanks.

[2016-04-28 02:57] EisenbergEffect commented on #136
Great!

[2016-04-28 17:51] ns6482 commented on #96
@jedd-ahyoung ,with ref to the `hasActiveDialog`and deactivate lifecycle, so you staying that each view model would check if dialog is active. So would this go in canActivate? If you want all vm's to check this could there be a way without repeating code?

[2016-04-28 17:51] Tim-Erwin commented on #70
A pretty common use case is having a bigger dialog, e.g. in order to edit something, and then asking for confirmation when the user closes it without saving or so.

[2016-04-29 05:48] activebiz commented on #127
Have tried the useView() but I still get the same error

`uncaught (in promise) TypeError: Cannot read property 'canActivate' of undefined(…)`

[2016-04-29 13:28] dilvish4ever commented on #139
Same issue
Another work around `opacity: .5!important`

[2016-04-29 14:14] jedd-ahyoung commented on #127
This may or may not be a legitimate bug. The dialog manually attempts to
get the viewModel with a helper method in dialog-service that uses
`Origin.get()` or `compositionEngine.ensureViewModel()` - this may not be
honoring the useView decorator. We may be missing a higher-level
abstraction that we could use for this, but I'm not sure. I'd have to look
into it further.

2016-04-29 1:48 GMT-04:00 Pr

[2016-04-29 18:38] activebiz commented on #127
okay. I think I missed this earlier. But you can use the bootstrap code in main.ts to load the dialog as globalresource like .

[code]

Now the issue is that because the ai-dialog.html has

[code]
it cant load the dialog.css.

[2016-04-29 18:40] EisenbergEffect commented on #127
Right. That is the true issue. I think we have another issue somewhere about this. We need to find out how we can tell Webpack to include the dialog.css in the bundle as a text resource. That's the final piece of the puzzle. We need someone who knows Webpack pretty well to help us with this. We'll want to do this with any plugin. For example, if you use plugin 'foo' we want to include all its js,

[2016-05-04 14:26] arjanvanderleden commented on #101
I'd go with the solution @jedd-ahyoung suggested. In fact an easy way to override some of the default css rules is to add a class to your body element and create more specific rules like so :

[code]

[2016-05-06 09:47] dilvish4ever opened #145 "dialog with composed body not centering vertically"
There is a problem with displaying dialog content when it composed into body
[code]
The modal opens centered vertically as if there is no content and expanded down with composed content.

[2016-05-06 13:31] EisenbergEffect commented on #145
@jedd-ahyoung We will need to incorporate the new transactional composition mechanism into the dialog system in order to fix this. I can do it. Just let me know when all the PRs you are working on for dialog are done. I'll get those in and then I can turn around and make the change for this.

[2016-05-06 13:57] jedd-ahyoung commented on #145
@EisenbergEffect They're actually done. I finished them on Wednesday.

2016-05-06 9:31 GMT-04:00 Rob Eisenberg <notifications@github.com>:

[2016-05-06 14:40] EisenbergEffect commented on #145
Great. I saw some messages come through. (I get a lot.) So, been a busy week, and I wasn't sure if it was all wrapped. I'll get those in soon and then look into this issue. Did you also wrap up the route generation piece? I think I saw that come through too.

[2016-05-06 14:45] jedd-ahyoung commented on #145
@EisenbergEffect Route generation is finished, yes. I intend to tackle the
dialog close issue PR next (as that should be low-hanging fruit, as it's
already been done) and then work on some of the outstanding router issues
(the ones that I couldn't solve before). Let me know if you want me to help
with merging the dialog PRs, as they will probably need heavy rebasing.

2016-05-06 10:40 GMT-04:00 Ro

[2016-05-06 14:48] EisenbergEffect commented on #145
@jedd-ahyoung Do you have commit rights on the dialog repo? If so, would you mind merging those PRs in? I actually want more core team members to do some of the merging. If you are interested to take on the dialog library as a lead, you could manage those and then just tell me when you needed a release. That would help a lot. Let me know. @PWKad has been doing a lot of dialog work, but he's heavil

[2016-05-06 15:31] jedd-ahyoung commented on #145
@EisenbergEffect Yeah, I can do the merge - that's no problem. I thought
you wanted a second pair of eyes on it, so I held off. Sure, I'll act as
lead on the dialog library.

2016-05-06 10:48 GMT-04:00 Rob Eisenberg <notifications@github.com>:

[2016-05-06 17:51] AStoker commented on #91
-__Bump__- Any update on when this issue will be resolved officially?

[2016-05-06 21:38] #67 closed

[2016-05-06 21:38] #70 closed

[2016-05-06 22:51] #103 closed

[2016-05-06 22:51] #125 closed

[2016-05-06 22:51] #128 closed

[2016-05-06 22:53] jedd-ahyoung commented on #145
@EisenbergEffect This is complete. Let me know if you'd like me to work with the transactional composition.

[2016-05-07 00:15] EisenbergEffect commented on #145
If you'd like to give that a go, go ahead. You'll need to create a new transaction so that modals to interfere with non modals. Each modal should have it's own. If you aren't sure how to do it, I can take care of it. Let me know.

[2016-05-07 00:35] jedd-ahyoung commented on #1
More accessibility stuff here, for reference - https://accessibility.oit.ncsu.edu/training/aria/modal-window/version-3/

[2016-05-07 01:30] hoangcuongvn commented on #127
Currently, I see the only workaround is assigning to viewModel the dialog's moduleId as an absolute path. Is there somehow to use a relative path instead?

[2016-05-09 07:30] arnevdv opened #146 "Use of multiple models"
Is it possible to use multiple models in your dialog controller?
For example:

`this.dialogService.open({ viewModel: PictureSlide, model: [this.object1, this.object2]});`

[2016-05-09 08:50] AdamWillden commented on #146
Yes, whatever you set for `model` will be the argument passed to the `activate` callback of the specified viewModel

Try it and see. I've passed simple strings before and I don't believe there are any 'rules' as to what you can pass.

[2016-05-09 11:07] arnevdv commented on #146
Thanks, it works like this :)

Service:
[code]

Controller:
[code]

[2016-05-09 11:07] #146 closed

[2016-05-11 04:35] michaelmalonenz opened #147 "Can't style ai-dialog-container > div > div"
Having style directly on the ai-dialog-container > div > div makes it difficult to override the style in our application.  I believe the box-shadow and border* options to be unnecessary, anyway, as they are already on the ai-dialog (to which we can at least give a class and override with specificity)

[2016-05-12 13:05] #147 closed

[2016-05-12 22:54] valichek commented on #127
Here is the solution how to avoid errors when using `<require from="dialog.css">`. Just two line in webpack config needed.
[code]
First we load it with raw-loader and exclude it from loading with css-loader, and you go

[2016-05-12 23:24] EisenbergEffect commented on #127
Awesome. @jdanyow Take note.
@valichek Would you be willing to create a PR to the dialog readme to add instructions for webpack?

[2016-05-13 06:19] valichek commented on #127
@EisenbergEffect sure, will create PR

[2016-05-16 10:52] valichek commented on #96
@PWKad
Maybe the following approach will work. We just need to get the reference to dialog controller in some way. The most obvious is to change the way how `open()` works. It could return the promise for dialog controller, we save it somewhere on open and get result using controller property

[code]

and on `deactivate()` we return promise for closing

[code]

[2016-05-16 11:04] EisenbergEffect commented on #96
The suggested API makes normal usage awkward in order to facilitate an edge case. I think it makes more sense for the promise to resolve to a result. However, we could do something similar to what we do with HttpClient and simply add a property onto the promise itself which would provide the controller.

[code]

[2016-05-16 11:25] valichek commented on #96
@EisenbergEffect I agree that promise property is simpler approach, but navigating is not edge case and should be handled somehow, IMO it's bug

[2016-05-16 11:30] EisenbergEffect commented on #96
This is two separate issues. In my comment above, I'm concerned about the API of open method. I believe that once that's solved, by combining that with the property that @jedd-ahyoung as already provided, you should be able to handle the navigation scenario as well.

[2016-05-16 12:23] valichek commented on #96
@EisenbergEffect I'm writing popover-like aurelia component now and use ideas provided with aurelia-dialog. I consider aurelia-dialog as a special case for popover that really does make sense, because the only difference is in the target to render it. And I see that it's not possible (?) to expose the controller or even promise for it, because it is created and initialized inside the promise becau

[2016-05-16 13:31] EisenbergEffect commented on #15
In this case, the dialog is inside your view. So, it can't be injected. However, you can use a `ref` binding to gain access to any element inside your view.

[2016-05-16 13:31] #15 closed

[2016-05-16 13:44] EisenbergEffect commented on #22
@jedd-ahyoung Let's nail this down once and for all within the next week so we can move this plugin to Beta. Here are a few items we need to make sure work correctly:

* Opening a dialog returns a promise that resolve to the output of the dialog.
* We don't want to throw when there's a cancellation. Developers do need to know when the dialog was closed with a cancellation in some cases.
* After op

[2016-05-16 15:04] AdamWillden commented on #91
@EisenbergEffect with regards to [your comment here](https://github.com/aurelia/dialog/issues/22#issuecomment-219428140) should a fix for this issue not be considered a priority too?

[2016-05-16 15:06] EisenbergEffect commented on #91
Yes, it would be nice to have this solved. The fastest way is to submit a PR that address the issue. @jedd-ahyoung can look into it. But if there's a PR, it can get done faster as that takes load of of Jedd. Same goes with any feature or bug. If it's important to you, please let me encourage you to work on a solution with us. That's what open source is about ;)

[2016-05-16 19:59] mttmccb commented on #127
@valichek I've tried following the instructions on getting webpack working, it works fine in dev but not prod... I've got an example repo here https://github.com/mttmccb/aurelia-webpack-playground

It's basically the skeleton navigation with a few plugins added in.

Any ideas why it might not be working?

[2016-05-16 20:47] valichek commented on #127
@mttmccb I have Gist https://gist.github.com/valichek/5dc7c1e11ed39a82df83913df465cb50 with my working configs. Check it, please. It works like a charm for prod config too.

[2016-05-16 21:57] mttmccb commented on #127
@valichek thanks, but still getting the same error loading aurelia-dialog/dialog.css

[2016-05-18 07:40] AdamWillden commented on #91
I took a moment to look into this.

[IE does not support the `width: fit-content` CSS used.](http://caniuse.com/#feat=intrinsic-width). In general support for that feature appears to be pretty poor.

I centrally align elements in my application and for that I use the [css transform property](http://caniuse.com/#feat=transforms2d). This does seem to work for the dialog if we were to remove the comp

[2016-05-18 07:44] AdamWillden commented on #91
One additional thought is we could detect IE and dynamically add an `ai-dialog-ie` class which provides those overrides and forces margin-top to auto. It would be a poor mans fix but would at least display small dialogs correctly in IE.

Ideally we want a single solution that works across the range I suspect however.

[2016-05-18 08:42] bsrdjan commented on #127
Why not simply remove requiring `dialog.css` from `ai-dialog.html` and let the users include the `dialog.css` together with other application styles ? Users (the most of us I think) may need to adapt the default `dialog.css` styling to some overall application styling and if `dialog.css` is required in `ai-dialog.html` that is not possible. I am using compass currently and had to comment the `requ

[2016-05-18 19:01] stefan505 opened #150 "VM that extends BaseI18N failing to load as dialog VM"
Example VM to be loaded into modal
[code]
When attempting to use `UserSettings` as the `viewModel` for a dialog, the following error occurs:
[code]

[2016-05-18 19:25] jedd-ahyoung commented on #150
I think this is just an oversight on our part - we aren't registering the
viewslot element with the child container. I'll mark this as a bug.

2016-05-18 15:01 GMT-04:00 Stefan Buys <notifications@github.com>:

[2016-05-18 19:34] jedd-ahyoung commented on #150
This is actually related to https://github.com/aurelia/dialog/issues/15 and I believe it's the same issue. Due to the refactors we've done we can resolve this.

[2016-05-19 19:24] mttmccb commented on #127
Using the raw loader worked, I have no interest in adding less to my project... hopefully there will be simpler options for loading CSS.

[2016-05-21 22:19] mattgaspar commented on #127
The RegEx doesn't work on Windows because of the slash direction.
This should work for both Windows and OSX/Linux:

[code]

[2016-05-24 05:23] caperavensoftware opened #155 "DialogRenderer must implement getDialogContainer()"
Trying to implement dialog as per documentation but run into this error that I don't understand why I am getting.

[code]

[2016-05-24 05:32] caperavensoftware commented on #155
initing the plugin as:

[code]

[2016-05-24 12:52] #150 closed

[2016-05-24 12:52] #134 closed

[2016-05-24 13:57] EisenbergEffect opened #156 "aurelia-dialog no longer works with out-of-band v2.0.0"
@jsobell commented on [Tue May 24 2016](https://github.com/aurelia/templating/issues/358)

The body of dialogues sourced from aurelia-dialog are now empty.
I assume we need a 2.0.0 of aurelia-dialog too?

---

@EisenbergEffect commented on [Tue May 24 2016](https://github.com/aurelia/templating/issues/358#issuecomment-221274798)

None of the plugins have been updated to the new shadow dom implemen

[2016-05-24 13:57] EisenbergEffect commented on #156
@jedd-ahyoung We will need to update this to the new slots implementation soon. Lets work to resolve the remaining issues in dialog first, then I can do a quick update and test of slots for dialog. Let me know when you think you are ready for that.

[2016-05-24 19:29] EisenbergEffect commented on #155
@jedd-ahyoung Can you look into this?

[2016-05-24 20:08] jedd-ahyoung commented on #155
@caperavensoftware Can you recreate this in a Github Gist or a Plunk? Looking at your stack trace, I'm wondering where that `eval` statement in the stack trace is coming from. Additionally, can you tell us which browser you're using? I imagine you're falling back to the AMD distribution, but I want to make sure.

[2016-05-25 01:15] jsobell opened #157 "It is no longer possible to inject the controller into a nested Dialogue"
If a `DialogController` is injected in a nested Dialogue the load fails.
As such you can't access the `ok` or `cancel` methods from the nested control.

[code]

[2016-05-25 01:32] jsobell commented on #157
Quick workaround is to add this to the activate in your sub-dialog's VM:
[code]
or TypeScript:
[code]

[2016-05-27 09:45] timbell opened #158 "New dependency on ai-dialog element"
Since #141 there is a dependency on the existence of an `<ai-dialog>` element:

(DialogRenderer._createDialogHost)
`let dialogHost = modalContainer.querySelector('ai-dialog');`

I am using the dialog plugin with bootstrap-style modals and don't have ai-dialog elements in my components (my root element is `<div class="modal-dialog">`). To avoid the dependency, could this be changed to something lik

[2016-05-27 12:13] jedd-ahyoung commented on #158
@timbell Yes. This is a bug. We've done a lot of refactoring of the dialog
plugin. The dialogHost in this instance should be the containing div, not
the ai-dialog element.

2016-05-27 5:45 GMT-04:00 timbell <notifications@github.com>:

[2016-06-01 11:01] stsje commented on #96
Will this issue be labeled a bug, or will we have to implement closing the dialogs ourselves?
We don't feel like "wasting" time on implementing a hack, if it's something you'll resolve in the plugin.

[2016-06-01 11:43] EisenbergEffect commented on #96
Not everyone wants the back button to close a dialog. There are definite scenarios where this is not desirable. So, it's definitely not a bug.

We could add a new feature that enables the back button to cancel a dialog, but this would have to be done carefully because there's no way to detect a back button click. You can only detect a navigation and try to extrapolate whether or not it was a back

[2016-06-01 12:02] Leonidnei opened #160 "exception on double click"
We use aurelia-dialog and found that double click on OK button causes exception in Chrome:

DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.

Stack trace points to the second line in the method:
      dialogController.destroyDialogHost = function () {
        body.removeChild(modalOverlay);
        body.removeChild(modalContainer);

[2016-06-01 12:07] EisenbergEffect commented on #160
@jedd-ahyoung This should be a simple fix. Can you handle it this week?

[2016-06-02 16:07] jedd-ahyoung commented on #157
@jsobell Would you mind creating a working repro of this? If we can see it in action we can test against the case easily.

[2016-06-02 16:07] jedd-ahyoung commented on #160
@EisenbergEffect I'll take a look at this before Saturday.

[2016-06-03 01:21] jsobell commented on #157
Sorry, a bit of a furphy. It turns out that the error occurs if you inject a DialogueController into anything that is not already nested within an existing DialogService container.
While this is correct, if an instance of a class is instantiated by the DI then I think we should have at the very least some feedback.
https://github.com/aurelia/dialog/blob/master/src/dialog-controller.js#L12 assumes

[2016-06-03 19:50] ariovistus commented on #81
I just ran into this with v0.6.2. Cursory investigation shows in
https://github.com/aurelia/dialog/blob/master/src/dialog-service.js#L79
```Origin.get``` is returning undefined for my viewmodel.
Now why would it do that? Maybe because I'm using a template someone else put together based on webpack?

I can fix it easily enough by manually sticking it in there:
[code]
but I suspect the framework sho

[2016-06-03 19:51] EisenbergEffect commented on #81
It's an issue with Webpack. I'm not sure if it's fixable.

[2016-06-03 19:56] ariovistus commented on #81
do you have a link to the issue?

[2016-06-05 06:02] TylerJPresley commented on #101
+1 for configurable css, or don't include it. Embedded styles are the worst. It's a 99.999999% guarantee that they won't match the site anyway. Having to go through the process to override the view seems a bit much. Just my 2 cents for .00000000001 cents it worth.

[2016-06-05 06:13] TylerJPresley commented on #101
Thanks @tkhyn this works. It feels hacky, but works. BTW it's
`import {useView} from 'aurelia-framework';`

[2016-06-05 07:40] mttmccb commented on #101
Definitely hacky, should really be a config option, maybe optionally include default CSS?

[2016-06-06 14:55] krostkowski opened #163 "Dialog not centered when page is scrolled"
I think it's connected to #103
When I have a page with a scroll and at the bottom there is a button showing dialog, dialogis rendered too low. I've attached the screen.
![dialog_bottom](https://cloud.githubusercontent.com/assets/19343142/15826347/7b0d8edc-2c07-11e6-812b-03ecac21114c.png)

[2016-06-07 03:56] Leonidnei commented on #160
Any news with this?

[2016-06-09 08:45] gabor-farkas opened #164 "An option to skip waiting for css transitions"
When using the dialog in either karma or protractor tests, the dialog open() promise resolves only after the 200ms show transition is finished (in _createDialogHost).
If we have test cases where a dialog is opened and we also click a button on the dialog for example, we have to use ```setTimeout(done, 250)``` in the tests. (Or probably overrinding the style rule would also work).
If dialogoptions

[2016-06-09 10:38] jkehler commented on #158
I'm being bitten by this bug. I want to use a Bootstrap style modal instead of the default aurelia-dialog style. Is there any workaround for this bug?

[2016-06-09 15:48] AlbertoPersano opened #165 "Aurelia dialog doesn't work on skeleton-es2016"
Hello,
I've tried this in two different projects, the second time indeed I tried this into the skeleton-es2016.
Once in the main.js under src folder I try to add:
" .plugin('aurelia-dialog');"

 to  :  aurelia.use
    .standardConfiguration()
    .developmentLogging()

When I try to execute the application I get this error:

![error-aurlei-dialog](https://cloud.githubusercontent.com/assets/1579139

[2016-06-09 17:42] EisenbergEffect commented on #165
This seems like an issue related to jspm. The error you are receiving about the BindingLanguage usually results from having forks installed. Check your installation and make sure you don't have multiple copies of the same library.

[2016-06-09 17:42] #165 closed

[2016-06-11 14:33] jedd-ahyoung commented on #163
@krostkowski In this situation, are you using a position function? If you are, your position function will override any of the default centering functionality of the dialog renderer.

[2016-06-11 15:38] jedd-ahyoung commented on #155
@caperavensoftware Are you still running into this issue?

[2016-06-11 15:44] jedd-ahyoung commented on #157
@jsobell Yes, at the moment, the DialogController is instantiated manually by the DialogService - the service effectively acts as a builder for the DialogController. We can definitely add an error for this. Good catch!

[2016-06-11 15:53] jedd-ahyoung commented on #157
@jsobell The alternative is to register a renderer with another container. Depending on your use case, however, we may be able to make this not throw an error.

[2016-06-15 02:25] jrigsby opened #167 "Dialog has no height with 0.6.2"
I did a jspm update today and found the dialog no longer shows properly.  My dialogs are fairly straight forward and worked prior to recent jspm update.  I cannot say if something else on my screen is newly causing a problem but cannot imagine thats the case given how simple it is.

At present the dialog shows, locks the screen and shows a horizontal line indicating a box with no height. No contro

[2016-06-15 02:27] EisenbergEffect commented on #167
Dialog hasn't been updated to match the new shadow dom slots yet. Those are rolling out today and tomorrow. You are literally updating "out of band" beta 2 and 3s that aren't finished updating yet. As we mentioned in the blog, as a warning to everyone, if you update this week, you do so at your own risk and must be prepared to deal with issues like this.

[2016-06-15 02:27] #167 closed

[2016-06-15 02:53] jrigsby commented on #167
Im prepared for that.  If Im doing something wrong I apologize, but I was trying to get access to more up to date code so that I could start on validation which I knew was coming out this week (and failed to work with prior versions).  I assumed I should update everything to see where my code stood. I want to be able to see problems and report them so they dont slip through (in this case I assumed

[2016-06-15 03:05] EisenbergEffect commented on #167
Dialog is one of the last libraries to be updated. It should be updated tomorrow. The best source of information is the official blog. We try to warn people when there are big changes happening like this.

If you want to make a quick fix on your end, go into the dialog plugins html files and replace the content elements with a single slot element. That should do it for you.

[2016-06-15 13:48] #158 closed

[2016-06-15 13:48] #157 closed

[2016-06-15 13:48] #160 closed

[2016-06-15 14:27] talski opened #168 "Webpack 2 + includeSubModules"
Hello guys, in the current version of `skeleton-navigation` the `includeSubModules` option in `AureliaWebpackPlugin` does not work anymore, I finally get it working changing my `package.json`:

[code]

This is the way it supposed to be?

[2016-06-15 16:44] nexbit opened #169 "If installed via jspm it does not include the typescript definition (d.ts) file"
I don't know if it's the intended behaviour, but I usually expects that the d.ts file for a plugin is installed alongside the source files.
This is true for *almost* all the aurelia plugins (I just realized that `aurelia-binding` lacks the d.ts file too), but it is missing for `aurelia-dialog` (tested with 1.0.0-beta.1.0.0).

Is it possible to include it alongside the main dist files as other plug

[2016-06-15 16:49] EisenbergEffect commented on #169
Please read the blog post: http://blog.durandal.io/2016/06/10/where-did-my-typescript-go/

[2016-06-15 16:49] #169 closed

[2016-06-15 17:13] nexbit commented on #169
From your post:

but I'm affected by this bug, and I'm stuck with 0.8.x version of `typings` tool for the time being: https://github.com/typings/typings/issues/525

Can I use typings 0.8 with aurelia repos, or not?
And please consider adding this clarification in the original post (that bug is affecting several users, and especially typings authors). Thanks!

[2016-06-15 17:18] EisenbergEffect commented on #169
Please see Microsoft's post from today on typing aquisition going forward: https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/

Our repos are now setup using the `typings` field which is the correct way to set up a package. You can use any typing acquisition tool that you want if you aren't using npm. Another solution is to just npm install the modules and set u

[2016-06-15 17:26] nexbit commented on #169
Oh well, missed that! I'll need to restructure my workflow for the third time this year.. What a lucky man I am! :-P

[2016-06-15 17:30] EisenbergEffect commented on #169
Just think how fun it is for us...we have 40ish repositories and we not only needed to update structure but also build configurations....

[2016-06-15 18:20] unional commented on #169
@EisenbergEffect Thanks for updating the typings! Seems like this https://github.com/aurelia/framework/issues/360 can now closed. 👍

[2016-06-15 23:46] pixels4nickels commented on #155
I am running into this issue using the webpack/es6 stack. Here is my stack trace:
[code]

Here is my main configureation:
[code]
And here is the about.js view model that the dialog is spawned from:
[code]

[2016-06-16 16:19] EisenbergEffect commented on #156
Updated to slots.

[2016-06-16 16:19] #156 closed

[2016-06-16 17:43] pixels4nickels commented on #155
Using the newest webpack skeleton for Javascript language type gives me the same output. I am testing in Chrome and Safari. Safari the error is a bit more obtuse:
[code]

[2016-06-17 01:04] jasoncarreira opened #171 "Publish .d.ts file to Typings / DefinitelyTyped"
Currently the Typescript definition file is not available for install

[2016-06-17 01:17] EisenbergEffect commented on #171
`typings install github:aurelia/dialog`

[2016-06-17 01:17] #171 closed

[2016-06-18 19:43] EisenbergEffect commented on #101
New api provided to supply a custom style sheet during configuration.

[2016-06-18 19:43] #101 closed

[2016-06-19 14:38] #145 closed

[2016-06-20 16:37] jods4 commented on #1
@AdamWillden `autofocus` specs says that it only works for the *first* element with `autofocus` added to the DOM. The current spec is useless for a SPA, as you never navigate to a new page but you want to focus things when swapping views.

@jdanyow The `attach-focus` attribute found in this module is extremely useful for all applications, not just modals. Don't you think that you should move it to

[2016-06-20 16:49] EisenbergEffect commented on #1
Possibly. If we want to do that...it has to happen today. @jdanyow @jedd-ahyoung Thoughts?

[2016-06-20 17:48] jdanyow commented on #1
My two cents:

I think building components that steal the focus when they are attached can be dangerous and hinder usability and composability of components.  The `attached` component lifecycle event lacks context and is not necessarily associated with navigation activation or modal pop.

I know that everyone does not agree with my view on this (@jods4 I think you and I have discussed this before

[2016-06-20 17:58] jedd-ahyoung commented on #1
Perhaps we should move this into templating, but @jdanyow may be right
about this. This may not be the best way to deal with focus. However, as a
tool, it's not something that should be relegated to the dialog plugin only
- unless we're going to switch it out with something else entirely. If it's
a tool that we provide, we should provide it in a general context and let
developers make the choice f

[2016-06-20 17:59] EisenbergEffect commented on #1
There's another option, which is to remove it altogether and either:

* Simply add a gist for this.
* Add it to the CLI/Skeletons as a sample resource (which just happens to be useful)

(We could work to make gists installable through the cli in the future.)

[2016-06-20 18:01] jods4 commented on #1
Yes I remember we had this discussion in another thread.

I think this custom attribute is generally useful and I add it in all my projects. Maybe it can be misused but for me the onus is on the dev.

I don't mind if this doesn't belong to Aurelia proper, but I find it strange that it is offered by `aurelia-dialog` which is optional, when it could be in `aurelia-templating-resources` and used for

[2016-06-20 18:09] jdanyow commented on #1
I liked how durandal did it:  https://github.com/BlueSpire/Durandal/blob/master/src/plugins/js/dialog.js#L502

And in past projects had added logic to execute the same code on navigation complete events.  This resulted in a convention that could be used throughout the app, avoiding components "fighting" for focus.

On one hand I agree we could prescribe an approach with gists, etc, on the other ha

[2016-06-20 18:37] EisenbergEffect commented on #1
@jdanyow I would be down with that. Then we can remove it from here. We can add the capability to the core. Anyone who wants another behavior can always write their own custom attribute to handle it.

[2016-06-20 19:15] jods4 commented on #1
I've done this in the past as well. I went even further:
- I filtered to only the visible, non-disabled, non-readonly inputs. This enables more scenarios, like having multiple tabs and you don't know which one is visible (so you put multiple `.autofocus`). There are better tie-breakers than `first`, which should be last (sic) ressort.
- If there was no `.autofocus` I would fallback to focusing the

[2016-06-20 19:37] jedd-ahyoung commented on #1
All of that sounds good. However, I think it might be good to search for
the autofocus attribute itself instead of an autofocus class, as it's more
semantic. Aside from that, I'm not sure about the first focusable element
fallback; I think that should be an opt-in, if anything. I don't think
that's a behavior that should be forced by default. (One of the reasons for
this is that if a developer wan

[2016-06-20 20:11] jods4 commented on #1
In previous project, I only auto-focused textboxes and when opening dialog boxes.

I agree all of this is highly personal policy/preferences dependent.

[2016-06-28 22:16] maikelRA commented on #167
I have the same problem

[2016-06-29 09:12] krostkowski commented on #163
Thank you Jedd. It turned out that there is an issue with asp.net core rc2:
http://stackoverflow.com/questions/37361375/strange-65279-character-after-upgrading-to-asp-net-core-rc2

[2016-06-30 15:56] deliberaligiacomo opened #174 "Error installing with jspm"
I tried to install this plugin with jspm, but the installation doesn't work. Jspm gave me this error message:

`C:\code>jspm install aurelia-dialog

err  Registry node not found.

err  Unable to load registry node

warn Installation changes not saved.`

Could you help me? Thanks

[2016-06-30 17:26] EisenbergEffect commented on #174
I've never seen such an issue. Please report it to the jspm project.

[2016-06-30 17:26] #174 closed

[2016-07-01 14:52] jedd-ahyoung commented on #22
The last point can be achieved by attaching a reference to the dialog controller on the returned promise. Thus, client code could look like this:

[code]

Not sure if this would cover the use cases we need. There are other possible solutions to this problem (such as storing a dictionary of promises mapped to dialogControlelrs) but they would require a featureset dependency that we don't use (weakm

[2016-07-01 15:23] jedd-ahyoung commented on #22
The first two points can only be achieved without having an inline branch condition if we use a non-standard promise implementation - something like a `cancelled` method. The API would look like this:

[code]

@heruan @EisenbergEffect Any thoughts? I'm off today, so I'm taking some time to address some issues.

[2016-07-01 15:27] PWKad commented on #22
https://github.com/domenic/cancelable-promise#representing-cancelation-the-third-state

currently suggests

[code]
Although it's not entirely stable perhaps if we follow the proposal for now and update later when (if) if it is solidified similar to other proposals.

[2016-07-01 15:28] EisenbergEffect commented on #22
I think what @PWKad proposes is the best since it's attempting to align with the spec update.

[2016-07-01 16:03] EisenbergEffect commented on #22
Reconsidering based on conversation with @jdanyow. I'm thinking we should go back to the original api and make promise resolution just represent the closing of the dialog and nothing more. This lets the developer handle "cancellation" however seems best.

[2016-07-01 20:20] niieani commented on #168
Yes, that's good.

We'll need to update the readme: https://github.com/aurelia/dialog#configuring-and-using-with-webpack and add these above resources to `package.json` so users don't need to.

Thanks @talski.

[2016-07-01 21:04] jedd-ahyoung commented on #22
@EisenbergEffect So, effectively, this is a `wontfix` - is that correct? The only thing that will will change is granting access to the dialog controller through the promise object?

[2016-07-01 21:09] EisenbergEffect commented on #22
I think so. We would shift back to using the promise to represent the closing of the dialog only. We would never call reject. The developer would pass their own result object (whatever they desire) and could use that to track cancellation if they need. We can expose the controller though. The question is how. Would it be better to give the dialog service an api to call to get the controller for a

[2016-07-01 21:11] jedd-ahyoung commented on #155
I'm not sure why, but looking at the stack trace, the wrong renderer is being loaded. This seems to be a module loader issue (perhaps with webpack) and may be related to this issue (https://github.com/aurelia/dialog/issues/168).

[2016-07-01 21:43] jedd-ahyoung commented on #84
@heruan Perhaps we can make this more generic. What about adding a CSS class to the overlay in the settings object? Due to the changes in the dialog, this would happen per dialog instance (even with multiple dialogs) so it could be controllable on a case-by-case basis. This should be far more powerful than individual opacity and color settings. What do you think?

[2016-07-01 21:47] jedd-ahyoung commented on #139
This should be fixed by https://github.com/aurelia/dialog/commit/c8b7cc0021ebb56b499a7320386c6d47630a95c2#diff-3f7038e519401159757001b6515db643R16 - setting the CSS is now supported at plugin configuration time. It can either be updated with desired settings or removed entirely to allow stylesheets to determine modal styling.

[2016-07-01 21:47] #139 closed

[2016-07-01 22:04] jedd-ahyoung commented on #22
@EisenbergEffect That's initially what I was thinking when I mentioned
weakmaps - we could map promises to controllers. However, we can't create a
dependency on weakmaps. We do already track controllers in the
dialogService, so perhaps we could simply track promises alongside their
controllers within that array.

2016-07-01 17:09 GMT-04:00 Rob Eisenberg <notifications@github.com>:

[2016-07-01 22:09] jedd-ahyoung commented on #137
@rockResolve I've addressed this issue with a commit that allows skipping CSS transitions. However, I think we've also addressed the base issue by simplifying the renderer (no more method undefined errors). Within the next few days or so, would you be able to confirm that this is working for you (without ignoring the CSS transitions)? I'd like to see if we're supporting your use case with these fi

[2016-07-04 02:18] EisenbergEffect commented on #22
Yes, please let's do that. I'd like to get this issue closed in the next week if possible.

[2016-07-04 14:31] EisenbergEffect commented on #91
@jedd-ahyoung Status report on this? Has it been addressed?

[2016-07-04 14:41] EisenbergEffect commented on #96
I think we are addressing this issue via the new external access to the controller, which allows closing the  dialog on demand from the "outside". This enables developers to choose if they want to close dialogs on navigation or not.

[2016-07-04 14:41] #96 closed

[2016-07-04 22:19] #129 closed

[2016-07-05 15:08] eikaramba commented on #91
Update: fit-content does also not work with flex elements inside of its container. It is still highly experimentel, and although i understand to use it, i would rather use fixed percentages instead

[2016-07-05 19:36] Tim-Erwin opened #176 "BindingLanguage must implement inspectTextContent()"
With the rc-1.0.0 of aurelia and aurelia-dialog@1.0.0-beta.1.1.0 I'm getting the following error when I include aurelia-dialog:

This has already been mentioned on gitter on May 22nd when aurelia was still in beta. So this might not be a problem with this specific constellation of versions but rather a general problem with versions not matching.

[2016-07-05 19:51] EisenbergEffect commented on #176
Please run `jspm inspect --forks` and let me know if you have any forks. If you do, that's probably the problem.

[2016-07-05 21:12] Tim-Erwin commented on #176
There are no forks, sth else was messed up, cannot say what it was. After manually pinning and resolving to the old versions to get my application running again, I just did a fresh install and it works with the latest versions now. Sorry for bothering you with this. Why's there no rc-1.0.0 for dialogs?

By the way, good to "see" you :) (I'm the "python guy" from the first workshop in London and pr

[2016-07-05 21:12] #176 closed

[2016-07-05 21:16] EisenbergEffect commented on #176
Interesting. Glad it's working though :)
For the dialog, we still may need to make a few breaks there, which is why it isn't tagged as RC just yet.

[2016-07-06 00:01] jedd-ahyoung commented on #91
I'm on a Mac, so I can't test this specifically. I haven't had time to look at this. There may, however, be a workaround by using `display: table` as an IE-specific override. I may be able to look into this on my work computer tomorrow.

[2016-07-06 01:03] EisenbergEffect commented on #137
@jedd-ahyoung Is this resolved now?

[2016-07-07 19:35] EisenbergEffect commented on #168
@niieani Can this be closed now?

[2016-07-07 19:35] EisenbergEffect commented on #155
Closing this since the dialog now has the resources configuration and the new webpack skeletons should read that correctly.

[2016-07-07 19:35] #155 closed

[2016-07-07 19:38] niieani commented on #168
I think so, the resources seem to be in package.json.

[2016-07-07 19:42] #168 closed

[2016-07-08 09:57] hoangcuongvn commented on #127
Suppose the app folder is like below:
src
|__my-feature
....|__my-module.js
....|__my-module.html
....|__my-dialog.js
....|__my-dialog.html

Inside the MyModule vm class, if we have a relative moduleId string (e.g "./my-dialog") we can calculate its absolute moduleId string (e.g "my-feature/my-dialog"). The code is something like below:
[code]

Is it possible if aurelia-dialog adds a property i.e

[2016-07-08 21:27] #163 closed

[2016-07-09 02:27] #164 closed

[2016-07-09 03:16] jedd-ahyoung commented on #1
Thinking more about this -a few thoughts:

 - It seems as though there have been woes with autofocus in modals on mobile devices: https://github.com/twbs/bootstrap/issues/12525
 - Autofocus should probably be checked when the router navigates, and this might need to end up being part of the app-router (or templating). @jods4 made a good point (which i missed earlier) about the autofocus attribute

[2016-07-09 04:45] EisenbergEffect commented on #1
Ok, so what is the proposal? Is it to remove the autofocus from the dialog and instead add a core capability to the templating engine which is then used by modal and the router to focus UI?

[2016-07-09 11:12] jdanyow commented on #1
@EisenbergEffect yes I think so. Then we'd just need to define how that core capability works and how it can be overridden or disabled.

I'm on board with going further than what the durandal logic did.  What @jods4 described in https://github.com/aurelia/dialog/issues/1#issuecomment-227240643 sounded good to me.

in terms of `.autofocus` vs `autofocus` (class vs attribute) for our standard behavi

[2016-07-12 10:40] Alexander-Taran opened #179 "dialogs do not show up if browser is in element fullscreen mode."
Need to add configurability, where should dialog attach with a default of 'body'.
So one could configure dialog (on per launch base) where to attach to.

[2016-07-13 03:19] jsobell opened #180 "Parents of nested Dialogs no longer close after child has closed"
Something in the last update appears to have broken the closing of nested dialogs.
If a child dialog is displayed and closed, the controller of the parent no longer closes the parent.
It appears that renderer.hideDialog is called, but the parent doesn't close, so I assume it's something in the renderer failing to remove the dialog from the DOM.

[2016-07-13 04:00] jsobell opened #181 "config.settings.lock has no effect"
After replacing all my custom headers with the Aurelia ones, I find I can't get rid of the 'X' to close the forms.
The value in config.settings.lock no longer has any effect, but the lock can be forced by passing it in the object to dialogServce.open().

[2016-07-13 13:26] EisenbergEffect commented on #180
@jedd-ahyoung We need to get on this quickly and put out a patch release. Looks like there are several regressions in that last update.

[2016-07-13 13:26] EisenbergEffect commented on #181
@jedd-ahyoung Another regression that needs to be addressed asap please.

[2016-07-13 19:48] rockResolve commented on #137
Sounds great in principal. Hope to test soon.
On 6 Jul 2016 1:04 p.m., "Rob Eisenberg" <notifications@github.com> wrote:

[2016-07-14 08:14] Sayan751 opened #182 "Issue with opacity, post update to RC."
I was using custom css for the opacity of active overlay (as per the documentation) as follows:
[code]

It was working before I updated to aurelia rc and correspondingly to `aurelia-dialog@1.0.0-beta.2.0.0`.  Now, post update, I found two issues. One is already mentioned [here](https://github.com/aurelia/dialog/issues/181), and the other is that the `opacity` in custom css has no effect as can be

[2016-07-14 11:40] EisenbergEffect commented on #182
@jedd-ahyoung Ping.

[2016-07-14 13:40] sapiens commented on #127
I have a similar issue, but not with css as I don't use it.  In my case, I get an `instance is undefined` TS error. This happens only when the view model is in the current dir and it's imported as a relative path `./viewModel` . The workaround for now is to specify the name of the view model as a string representing the module path relative to the app src dir, like this `common/stuff/viewModel`

[2016-07-15 09:44] RomkeVdMeulen opened #183 "FR: update vertical centering"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.1.1.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 16.04)

* **Node Version:**
6.2.2

* **NPM Version:**
3.9.5

* **JSPM OR Webpack AND Version**
JSPM 0.16.29

* **Browser:**
Chrome 51

* **Language:**
TypeScript 1.8.9

**Current behavior:**
The dialog is vertically centered the moment it o

[2016-07-15 12:36] RomkeVdMeulen commented on #183
For now I've found a workaround:

**util/dialog.ts**
[code]

**my-dialog-opener.ts**
[code]

This re-centers after every change to the attributes or direct children of `<ai-dialog-body>`. To also re-center after a change at a deeper level, data-bind some dialog body attribute to change at the same time, like so:

[code]

Not the most elegant solution, but it'll do the job for now.

[2016-07-15 12:36] EisenbergEffect commented on #183
@jedd-ahyoung Ping.

[2016-07-15 15:19] ajoslin103 opened #185 "the README instructions for webpack don't work w/RC skeleton"
I'm having trouble trying to figure out how to get aurelia-dialog working with esnext-webpack RC skeleton

Perhaps the README could be updated

[2016-07-15 15:21] EisenbergEffect commented on #185
@niieani Ping.

[2016-07-15 20:13] niieani commented on #185
`aurelia-dialog` works out-of-the-box (after installing) with both webpack skeletons, so I don't know what problems you are referring to.
"having trouble" is hardly a good way to describe your issues, please be more specific @ajoslin103, preferably by filling in the new issue template.

[2016-07-15 21:11] ajoslin103 commented on #185
@niieani I do apologize for the rather vague complaint -- the problems seemed so obvious to me, as someone who got the aurelia-dialog working in the skeleton some months ago following these instructions, but many things have changed...

so..

using the latest esnext-webpack skeleton (as of 3 days ago) & following the How to install block

1. done:  npm install aurelia-dialog

2. couldn't do: in in

[2016-07-15 21:39] niieani commented on #185
Ok, now it's clear :) We need to update the docs.
Please run: `npm install aurelia-dialog --save` and the error should go away.  No additional steps are necessary for Webpack with the latest versions.

[2016-07-15 22:00] ajoslin103 commented on #185
It worked!  Thanks for the quick turnaround!

[2016-07-15 22:00] #185 closed

[2016-07-18 04:06] BringerOD commented on #176
I have the same issue and I do have forks.  Not sure what to do exactly.

`     Installed Forks

                      npm:aurelia-binding 1.0.0-rc.1.0.2 1.0.0-rc.1.0.3
         npm:aurelia-dependency-injection 1.0.0-rc.1.0.0 1.0.0-rc.1.0.1
                      npm:aurelia-logging 1.0.0-rc.1.0.0 1.0.0-rc.1.0.1
                   npm:aurelia-templating 1.0.0-rc.1.0.0 1.0.0-rc.1.0.1

`

[2016-07-18 12:58] RomkeVdMeulen opened #188 "FR: Integrate with animator"
**I'm submitting a feature request**
- **Library Version:**
  1.0.0-beta.1.1.0

**Please tell us about your environment:**
- **Operating System:**
  Linux (Ubuntu 16.04)
- **Node Version:**
  6.2.2
- **NPM Version:**
  3.9.5
- **JSPM OR Webpack AND Version**
  JSPM 0.16.29
- **Browser:**
  Chrome 51
- **Language:**
  TypeScript 1.8.9

**Current behavior:**
If one or more transitions are defined on

[2016-07-18 13:21] EisenbergEffect commented on #176
See the jspm documentation on how to resolve forks. You'll need to resolve your forks to all the latests versions.

[2016-07-18 13:31] EisenbergEffect commented on #188
Absolutely. @jedd-ahyoung Responsibility for animation in the dialog was only a temporary hack that should have been removed some time ago. We need to switch the dialog to be based on the same animation abstraction as the rest of Aurelia. Should only be a matter of using the ViewSlot to add and remove the dialog views. The Animator should take over from there. When you call `add` or `remove` you w

[2016-07-18 13:32] RomkeVdMeulen commented on #188
In the mean time I've made a partial workaround in the form of a decorator for Dialog ViewModels using the fact that the renderer does await any promise returned by the `deactive` hook. My implementation relies on [aurelia-property-injection](https://github.com/devaur/aurelia-property-injection) so it needs some rewriting to work with normal constructor DI.

[code]

[2016-07-18 13:37] EisenbergEffect commented on #188
@RomkeVdMeulen Would would you be interested in submitting a PR to fix up the real implementation? It shouldn't be too hard since the ViewSlot mechanism already can handle animation on add/remove.

[2016-07-18 13:45] RomkeVdMeulen commented on #188
I'll take a look when I have a moment. Perhaps wednesday.

[2016-07-18 15:15] valichek commented on #96
@EisenbergEffect What new external access to the controller do you mean? Is it implemented? Could you provide some example?

[2016-07-18 15:42] EisenbergEffect commented on #96
@jedd-ahyoung should be able to provide more details on that.

[2016-07-18 15:52] piwnik opened #189 "Dialog isn't closed after canDecativate => false"
If dialog VM canDeactivate function returns false, later on isn't possible close dialog at all.

I thing bug is here (dialog-controller.js, line 61):

[code]

[2016-07-18 16:09] EisenbergEffect commented on #189
@jedd-ahyoung Ping.

[2016-07-19 03:42] BringerOD commented on #176
That worked thanks!

[2016-07-19 15:17] valichek opened #190 ""position" handler and no transitions issue"
When "position" handler is being set and no transitions for dialog defined in css, the promise returned from DialogRenderer.showDialog() resolves on dialog CLOSE! transition end.

[2016-07-20 15:20] EisenbergEffect commented on #190
@jedd-ahyoung Ping

[2016-07-20 21:53] simonfox commented on #180
@EisenbergEffect I've opened the above PR which fixes this issue.

[2016-07-21 19:22] davismj commented on #137
@rockResolve did you have a chance to test? is the issue resolved?

[2016-07-21 19:55] davismj commented on #180
I've reviewed the PR and even though circle ci reports a failed test, I've found that the test actually pass.

However, I'm not sure about this PR. Just from reading through the code, it seems that the `Renderer` was designed to be a singleton, not a transient, i.e. there was no mistake. Still, I see the value in making it a transient.

Before we pull it in, I'd either like (a) @jedd-ahyoung to we

[2016-07-21 20:14] simonfox commented on #180
@davismj see the message with commit 0fcd535 by @jedd-ahyoung the renderer was refactored to be used as transient.

Happy to also provide a gist if you still want it?

[2016-07-21 20:25] davismj commented on #180
Ah, on second look, I see what you're referring to. I'd still want @jedd-ahyoung to weigh in if possible, but it seems that this will likely be pulled in.

[2016-07-21 20:58] simonfox commented on #180
OK cool thanks. This definitely fixes the issue for us.

[2016-07-22 12:03] danhowitt commented on #180
@simonfox thanks for the fix. I've pulled this in to one of our projects to resolve the issue. Appears to work perfectly.

[2016-07-22 14:30] taras-krasnytsia opened #193 "controller.cancel(true) close all dialog on page"
in parent popup dialog i need open new child popup, when child popus is show, after this.controller.cancel(true) only parent popup must be closed, but closed all popups in the page

`import {autoinject} from "aurelia-framework";
import {DialogController, DialogService} from 'aurelia-dialog';

@autoinject
export class ParentTemplate {

  constructor(private dialogService: DialogService, private con

[2016-07-22 14:32] EisenbergEffect commented on #193
@jedd-ahyoung Ping.

[2016-07-22 20:09] #180 closed

[2016-07-23 09:11] atul221282 opened #195 "can't run the app after adding aurelia-dialog"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
Windows 10

* **Node Version:**
6.2.0
* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
all

* **Language:**
TypeScript

**Current behavior:**
Adding aurelia-dialog gives the following error on start of the application
Unhandled rejection

[2016-07-23 09:16] #195 closed

[2016-07-24 01:16] mbregante commented on #193
I have another and maybe related issue. Having child dialogs, on cancel the last dialog is closed as expected but the next one in the chain does nothing when controller.cancel() is called.
Maybe I do have something strange, but I could not find online examples for nested/child dialogs.

[2016-07-25 11:10] glen-84 opened #196 "No type information for DialogConfiguration.settings"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.2.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
jspm 0.17.0-beta.22

* **Browser:**
all

* **Language:**
TypeScript 1.8.x

**Current behavior:**
No type information for `DialogConfiguration.settings`

*

[2016-07-25 14:12] jkehler commented on #193
I am also experiencing issues with child dialogs. I'm calling the following from within the parent dialog when a send button is clicked.

[code]

The problem is that the call to ```this.controller.ok()``` within the parent dialog does not close the dialog after returning from the child dialog. After this happens ```this.controller.cancel()``` also stops working and the parent dialog cannot be clos

[2016-07-25 14:25] glen-84 commented on #1
I put `attach-focus` on [this line](https://github.com/aurelia/dialog/blob/master/sample/src/edit-person.html#L7) and it doesn't appear to work.

That's the 5th bug I've noticed since I started using this plug-in. :disappointed:

[2016-07-25 23:44] simonfox commented on #193
@mbregante @jkehler your issue is different to this one but was fixed in #192 you'll just have to wait for the next dialog release as that was only merged recently.

[2016-07-26 00:30] genericuser-me commented on #49
I have a use case where I am calling dialog within dialog:
I have a dialog, where I show the progress of file uploading.

Now, when I edit the file, I give the ability to change the underlying file (Edit is a dialog),

1. Edit File Properties (1st dialog)
2. Replace underlying File
3. Upload progress (2nd dialog).
4. On completion of upload dialog progress bar, close that dialog.
5. Call  `this.di

[2016-07-26 15:11] RomkeVdMeulen commented on #1
@jedd-ahyoung The latest version of "The Incredible Accessible Modal Window" is now at https://github.com/gdkraus/accessible-modal-dialog

[2016-07-26 17:34] davismj commented on #193
@simonfox thanks, I had a feeling this was related

[2016-07-26 17:42] davismj commented on #196
@cmichaelgraham Right now, the object in question is just a pojo, found here: https://github.com/aurelia/dialog/blob/master/src/dialog-options.js

Is there some way to generate interfaces, or something similar, to cover this particular use case?

[2016-07-26 17:55] #196 closed

[2016-07-26 17:58] glen-84 commented on #196
Thanks @davismj, I guess that works for now. =)

[2016-07-26 18:00] cmichaelgraham commented on #196
`any` works :smile:

or you can define an interface [like this](https://github.com/plotter/platform/blob/master/src/platform/state/state-session.ts#L25-L29)

[code]

[2016-07-26 18:02] davismj commented on #196
@cmichaelgraham but this is esnext, not typescript

[2016-07-26 18:04] cmichaelgraham commented on #196
@davismj - i think it is ok in esnext also
https://github.com/aurelia/fetch-client/blob/a6db0c7596a801a3369709203dcdc57f1f60dc8e/src/interfaces.js#L7

[2016-07-26 18:08] EisenbergEffect commented on #196
It will work. The Babel transpiler uses Flow types which can handle it.

[2016-07-26 18:12] davismj commented on #196
Okay, great. I tried making an interface but it generated something like  `export declare export declare interface`. I'll try dropping the `export` clause.

[2016-07-27 00:30] jedd-ahyoung commented on #182
@Sayan751 This is happening because the way that the dialog style works has been changed. Style can now be added at dialog configuration time (when you configure the dialog plugin at startup). The reason you're seeing what you're seeing is because the dialog plugin now injects a style element into the body for its own use. This is the correct behavior.

To change this, use the `useCSS` method in t

[2016-07-27 00:30] #182 closed

[2016-07-27 01:21] simonfox commented on #188
I've started to have a bit of a look at this.

Should be relatively simple to change `hideDialog` to use the `ViewSlot` mechanism.

There is a bit more of a refactoring required for `showDialog` and the `DialogService`. In https://github.com/aurelia/dialog/blob/master/src/dialog-service.js#L55-L73 attaching of the dialog view to the renderers `ViewSlot` occurs via `CompositionEngine.compose`. Howe

[2016-07-27 08:44] AdamWillden commented on #182
@jedd-ahyoung that snippet could do with being added to the documentation or the readme.md

[2016-07-27 13:38] glen-84 commented on #182
Why is it even using `opacity` to start with? Wouldn't `visibility` work? Then we wouldn't have to change the built-in CSS or use an overly-specific selector to change the opacity.

[2016-07-28 13:48] thomasnordlund commented on #160
I'm still seeing this error randomly when I call dialogController.cancel

[code]

[2016-07-29 04:48] bladegun opened #199 "ESC key closes child and parent dialog"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta-3.0.0

* **Browser:**
Chrome, Firefox, Edge, IE 11

**Current behavior:**
I have a parent dialog and a child dialog. When the child dialog is on top of parent dialog, pressing the ESC key closes the child and parent dialog.

**Expected/desired behavior:**
Pressing one ESC key should only close the child (topmost) dialog and not the

[2016-07-29 11:58] m-andrew-albright opened #200 "DialogController.ok() or DialogController.cancel(); the modal does not close when calling from non-view model"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0-beta.2.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  6.2.2
- **NPM Version:**
  3.9.5
- **JSPM OR Webpack AND Version**
  JSPM 0.16.39
- **Browser:**
  Chrome 51.0.2704.103 | Firefox 47.0 | Edge 25.10586.0.0
- **Language:**
  ESNext

**Current behavior:**

We had decided to w

[2016-08-01 16:29] xmichaelx commented on #168
[Link](https://github.com/aurelia/dialog#configuring-and-using-with-webpack) no longer works.

1. `npm install aurelia-dialog --save`
2.
[code]
3. And adding to package.json:

[code]

produces:

[code]

for **skeleton-typescript-webpack**.

[2016-08-02 10:56] heruan commented on #91
I'm also affected by this on a Mac with Chrome using flex. Since when `fit-content` has been introduced, the dialog width doesn't respect the flex directives. Is `fit-content` really necessary?

[2016-08-03 14:38] kristianmandrup commented on #132
I still can't seem to load a simple `.css` file in a project created using the CLI. My bootstrap css gets loaded however.

[code]

`Error: Failed loading required CSS file: styles.css` :(

Any docs on this?

[2016-08-04 02:16] rockResolve commented on #137
So finally had a chance to test this.

I found the root cause of much of this was the app router running removeAll on the viewSlot. This removed my previously created "Fetching data" dialog element, so the TransitionEnd was not fired, and the open (or openAndYeildController) promise was never resolved.

So ignoreTransitions was the perfect fix.

I also use the new dialogService.openAndYieldControl

[2016-08-09 08:16] anthonyborell opened #201 "Unhandled rejection Error: DialogRenderer must implement getDialogContainer()"
This ones an oldie but a goodie, seems like a lot of people are having problems with `Unhandled rejection Error: DialogRenderer must implement getDialogContainer().`
I've tried many potential fixes suggested here but none have seemed to work for me.

I'm using: aurelia-cli 0.13.0 to build, aurelia-dialog 1.0.0-beta.3.0.0 and typescript.

When clicking a button to call my openDialog function, `var

[2016-08-10 22:25] anthonyborell commented on #201
@EisenbergEffect any ideas?

[2016-08-11 07:25] SamDeBlock commented on #201
@anthonyborell Did you register the plugin in the config method using `.plugin('aurelia-dialog'` ?

[2016-08-12 00:32] anthonyborell commented on #201
Hey @SamDeBlock, in my main.ts I've got the following code. Let me know if I'm doing it wrong.

[code]

[2016-08-12 01:12] anthonyborell commented on #201
Alright, with a bit of digging I found out the issue... totally on my end.

Basically the `<body>` element on my index.html file was `<body aurelia-app>` and not `<body aurelia-app="main">`.

So my main.ts was never getting hit, thus the aurelia-dialog was never being loaded.

[2016-08-12 01:12] #201 closed

[2016-08-12 06:34] anthonyborell opened #202 "Content Projection: Custom Element inside Dialog <ai-dialog>"
Moved to: https://github.com/aurelia/templating/issues/449

[2016-08-12 12:06] itzikHagoel commented on #84
in the README you say to simply add this to the css:
"
ai-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}
"
Maybe it's just me, but I have no idea how to apply it. Can you add an example?

[2016-08-13 03:56] PWKad commented on #200
Can you provide some code of what the wrapper looks like?

[2016-08-14 22:50] #202 closed

[2016-08-17 01:45] PWKad commented on #188
@simonfox FWIW any PR as a starting point is easier to comment on.  If you can submit a PR here, anything at all really even pseudo-code if you can't get the implementation perfect with questions asking what needs to be done to make X happen we can probably provide feedback.

[2016-08-17 03:09] simonfox commented on #188
Cool thanks @PWKad I'm flat out this week but will get something started next week.

[2016-08-18 01:25] m-andrew-albright commented on #200
ModalController (wraps DialogController):

[code]

ModalService (wraps DialogService):
[code]

ViewModel that needs to display a modal:

[code]

ViewModel of the modal:

[code]

[2016-08-18 01:31] m-andrew-albright commented on #200
I should mention that the esc key does still work properly.

[2016-08-22 16:10] enrico-padovani opened #203 "Typescript webpack skeleton error"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.4.0

* **NPM Version:**
3.10.6

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.21

* **Browser:**
all
* **Language:**
TypeScript 2.0.0

**Current behavior:**
I'm using the latest skeleton and after installing by following the ins

[2016-08-23 23:49] mattbeckman commented on #200
+1 on this issue

@m-andrew-albright Were you able to resolve it yourself or is it a legit bug?

[2016-08-24 01:22] PWKad commented on #203
I've downloaded your logs but it seems like you have a bigger issue - in your logs you have multiple deprecation warnings about trying to use invalid storage.  Can you show the relevant code for showing the dialog?  I don't think this is related to this plugin.

[2016-08-24 01:23] PWKad commented on #200
I'll be digging in to Dialog issues tonight to reproduce, thanks for the sample, and I'll report back here.

[2016-08-24 08:00] enrico-padovani commented on #203
This is the code I'm using:

* ./shell/prompt.ts
[code]
* ./shell/prompt.html
[code]
* ./home/test.ts
[code]
* ./home/test.html
[code]
This is a screenshot of Chrome debugger (I'm using Chrome 52)
![error](https://cloud.githubusercontent.com/assets/7766472/17922725/db019bc8-69e0-11e6-8a42-38573ec81e09.png)
If you look at right the source of errors coming from aurelia-metadata.js and bluebird.js. D

[2016-08-25 00:11] mattbeckman commented on #200
Using "escape" appears to include the injected properties correctly, while, for example, clicking "Cancel" does not.

State of DialogController when using "Escape":

![screen shot 2016-08-24 at 5 01 49 pm](https://cloud.githubusercontent.com/assets/928380/17952206/16fdb8aa-6a1d-11e6-909b-48d1c244a440.png)

State of DialogController when using "Cancel":

![screen shot 2016-08-24 at 5 03 37 pm](http

[2016-08-25 00:13] m-andrew-albright commented on #200
@mattbeckman I temporarily reverted to just directly use the DialogController and DialogService rather than wrapping them - until this issue is fixed.

[2016-08-25 00:43] mattbeckman commented on #200
It makes sense, I suppose, that the escape key doesn't have a problem, as it's an event bound in the DialogRenderer. However, the Cancel button gets aurelia-binding involved, which is where the injected objects aren't getting wired up properly.

[2016-08-25 23:06] mattbeckman commented on #200
I found a work around: use the full path of the view model instead of the injected instance.

this.dialogService.open({
	viewModel: "/src/path/to/class/view-models/modal", //this.viewModel,
	model: {}
})

Above appears to work. Obviously, not awesome, but temporary scaffolding until the above issue can be resolved.

[2016-08-26 09:47] hadrienl opened #204 "Promise does not resolve anymore"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0-beta.3.0.0

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.11.6
- **Node Version:**
  6.2.0
- **NPM Version:**
  3.8.9
- **JSPM OR Webpack AND Version**
  AU
- **Browser:**
  Chrome 51
- **Language:**
  ESNext

**Current behavior:**
I've removed dialog css. I have not set a transition/animation on dialog cl

[2016-08-29 23:46] PWKad commented on #204
For now I would just set the animation to be immediate instead of covering this scenario.

[2016-08-29 23:58] PWKad commented on #200
So the problem appears to be due to some code that I'm not really familiar with and unfortunately it looks like it is also not tested so I'm trying to understand the intended behavior now -

When clicking close - https://github.com/aurelia/dialog/blob/master/src/dialog-renderer.js#L64

When hitting esc - https://github.com/aurelia/dialog/blob/master/src/dialog-renderer.js#L37

You can see that can

[2016-08-30 00:07] PWKad commented on #199
I'm not sure if this is intended behavior or not so can't really comment yet.  @jedd-ahyoung can you respond on if this is a bug or intended behavior?

[2016-08-30 00:30] m-andrew-albright commented on #200
Thanks for the update!

On Mon, Aug 29, 2016 at 6:58 PM, Patrick Walters <notifications@github.com>
wrote:

[2016-08-30 06:40] hadrienl commented on #204
Yes, I put back the animation, but I lost an hour to find why my promise never resolved (I wasn't the one who rewrite the dialog css), so it should be good to fix this or at least to warn about in the doc.

[2016-08-30 16:26] rajajhansi commented on #203
@PWKad, @enrico-padovani  - I face this same issue in a project built on top of the latest skeleton-navigation-typescript-webpack. The boostrap dialog was showing up for sometime and then it stopped working throwing the error:
"Unhandled rejection Error: Cannot find module './176.html'.
    at webpackContextResolve (http://localhost:9000/app.bundle.js:24427:9)
    at webpackContext "

[2016-08-30 16:46] rajajhansi commented on #203
@PWKad , @enrico-padovani  - This seems to be a new issue in aurelia-dialog and the workaround given  by @mattbeckman in https://github.com/aurelia/dialog/issues/200 works! Instead of using the injected instance, just providing the path to the view model resolves this issue although it sucks!

[2016-08-30 19:30] enrico-padovani commented on #203
I just tried again now after few days but now it works, changed nothing ... I'm a bit confused!

[2016-08-30 19:30] #203 closed

[2016-08-30 21:44] enrico-padovani commented on #203
I moved dialog stuff into global resouces and loaded as feature. Maybe this was the reason why it worked.

[2016-08-31 03:09] rajajhansi commented on #203
@enrico-padovani, I moved Prompt component into global resources and made it part of an existing feature. Then, I added the following code in my view model that launches Aurelia Dialog:
[code]

It is working now :) I wish Aurelia has some mechanism for View models to avoid having to import {ViewModel} similar to what they have (global resources, features) for Views to avoid <require>.

[2016-08-31 17:13] mattbeckman commented on #200
Issue with my workaround: it doesn't appear to hold on to singleton objects. I thought it was something else, but I'm fairly certain loading from the absolute path won't work when you need singleton behavior.