[2016-09-02 17:03] PWKad commented on #204
Sure I'll mark it as such.

[2016-09-02 17:03] PWKad commented on #204
Enhancement - support transition-less closing of the dialog

[2016-09-04 22:02] ppn2 opened #207 "ai-dialog-open class must be removed only when the last dialog closes."
**I'm submitting a bug report**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.4.6

* **NPM Version:**
3.10.6

* **JSPM OR Webpack AND Version**
requirejs 2.2.0, jspm 0.16.42

* **Browser:**
Chrome Version 52.0.2743.116 m
* **Language:**
TypeScript 1.8

**Current behavior:**
When a dialog opens, ai-dialog-open cla

[2016-09-04 22:28] CasiOo commented on #207
I opened an issue about the same here https://github.com/aurelia/dialog/issues/70
I still find it being a bug.

[2016-09-06 12:34] aivins opened #208 "openAndYieldController() doesn't resolve when dialog opens"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6

* **Node Version:**
v4.2.4

* **NPM Version:**
2.14.12

* **JSPM OR Webpack AND Version**
JSPM 0.16.34

* **Browser:**
Chrome 53.0.2785.89 beta (64-bit)

* **Language:**
TypeScript 2.0.0

**Current behavior:**
Calling openAndYieldController() doe

[2016-09-06 13:01] StrahilKazlachev commented on #208
Strange, it works for me. Can you share a sample?

[2016-09-06 13:16] aivins commented on #208
@StrahilKazlachev sure - here's the Prompt class I'm using in its entirety.

[code]

And here's the call I'm making from a ViewModel which has DialogService injected as this.dialog. The dialog *does* open, but never resolves. If I call controller.ok() on the DialogController injected into Prompt, the dialog closes. Even then openAndYieldController doesn't resolve.

[code]

[2016-09-06 13:51] StrahilKazlachev commented on #208
Ahh, so it does open. When it opens it should hit your `.then()` `debugger` statement. And what you call a `response` in TS it looks like this `DialogController & { result: Promise<DialogResult>}`. '.open' and `openAndYieldController` are used differently, check the docs, look for `Getting access to DialogController API outside`. If you do not need the controller where you open the dialog, just us

[2016-09-06 15:12] aivins commented on #208
Thanks for looking at it, but I do need to get at the controller and that's what's not working. It never hits my debugger statement. Nothing I can do seems to be able to make that happen, which is why I'm concluding it isn't resolving at all. The docs make sense, it just doesn't behave as documented for me.

[2016-09-06 15:15] StrahilKazlachev commented on #208
Did you try using `.open()`, just to see if you can get data when it closes?

[2016-09-06 15:19] aivins commented on #208
Yeah .open() works fine for me. Using it heavily elsewhere in the project.

[2016-09-06 15:22] aivins commented on #208
One clue is that when I call controller.ok() on the controller injected into Prompt, the dialog opened by openAndYieldController() does close. However the none of my debugger statements are ever reached.

[2016-09-06 15:38] StrahilKazlachev commented on #208
There seems to be something going on with `.centerHorizontalOnly`, try commenting out `this.controller.settings.centerHorizontalOnly = true;`.

[2016-09-06 15:45] aivins commented on #208
No difference I'm afraid. Thanks for looking. I'll get into the aurelia-dialog code tomorrow and see if I can track it down myself. Then I'll report back.

[2016-09-06 16:17] StrahilKazlachev commented on #208
Ok, so the problematic Promise is the one returned from `DialogRenderer.showDialog`. I think this is tracked in #190.
As a workaround `settings.ignoreTransitions = true` can be used.

[2016-09-06 17:52] lukelarsen commented on #176
@BringerOD How did you resolves these forks? I'm new to jspm and confused by it.

[2016-09-06 22:52] pkozul commented on #208
Not sure if it's related to this issue, but I found that using IE9, I also needed to use:

`ignoreTransitions: true `

Without this, the then(response) continuation method would never get called after closing the dialog.

This was not occurring in IE10 and new versions though.

[2016-09-06 23:36] aivins commented on #208
@StrahilKazlachev and @pkozul - after a good night's sleep I realised I wasn't running the server in --watch mode last night. My humble apologies for the run around!

@StrahilKazlachev you were right the first time - it's `settings.centerHorizontalOnly = true;` that causes this. `ignoreTransitions` doesn't appear make a difference.

That workaround is fine for me so my problem is solved. I'll leav

[2016-09-14 06:41] hiscodeness commented on #91
Since it is not yet fixed, does anyone have a workaround that I can now use for showing dialogs correctly in IE?

[2016-09-14 08:12] a-jackson commented on #91
@hiscodeness
[code]

[2016-09-19 21:52] ppn2 commented on #207
hi, is there any progress on this?

[2016-09-20 06:42] Leonidnei opened #210 "exception "Cannot read property 'removeEventListener' of undefined""
I'm getting unhanded exceptions in aurelia-dialog:

Uncaught (in promise) TypeError: Cannot read property 'removeEventListener' of undefined
    at DialogRenderer.hideDialog (http://localhost/WPL/jspm_packages/npm/aurelia-dialog@1.0.0-beta.3.0.0/dialog-renderer.js:150:26)
    at eval (http://localhost/WPL/jspm_packages/npm/aurelia-dialog@1.0.0-beta.3.0.0/dialog-controller.js:49:36)hideDialog @ dia

[2016-09-20 09:32] StrahilKazlachev commented on #210
Format the issue according to the template and provide a sample/steps to reproduce

[2016-09-21 05:23] Leonidnei commented on #210
I do not have scenario to reproduce, it happens intermittently.

Can you just add 'if' to to bypass removeEventListener on 'undefined' without full investigation/recreation/etc.?

[2016-09-23 09:11] VMBindraban opened #211 "Pressing escape closes all the dialogs"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.0

* **JSPM**
JSPM 0.16.15

* **Browser:**
Chrome 52 / Firefox 48

* **Language:**
ESNext

**Current behavior:**
Pressing escape closes all the dialogs

**Expected/desired behavior:**
Pressing escape should only close the top dialog.
https://github.com/aurelia/dialog/blob/master/src/dialog-renderer.js#L35

[2016-09-26 03:52] EisenbergEffect commented on #211
@PWKad Can you take a look at this please?

[2016-09-26 03:54] PWKad commented on #211
Was hoping to get some tests or an explanation from Jedd on what has been done since the code is a bit of a mess but I'll do my best to figure out what's going on here

[2016-09-26 04:37] EisenbergEffect commented on #210
Closing this issue since it doesn't follow the issue template.

[2016-09-26 04:37] #210 closed

[2016-09-26 06:45] StrahilKazlachev commented on #211
@PWKad Actually I am working on this, but wanted to see how my other PR goes first.

[2016-09-28 01:05] PWKad commented on #199
duplicate of #207 closing this one even though it was opened first because the other description is a little more helpful.  Tracking there.  @bladegun thanks for reporting!

[2016-09-28 01:05] #199 closed

[2016-09-28 19:50] ggayowsky commented on #208
I am also encountering a similar issue.

openAndYieldController does not fall into the then(controller -> ...) block after the modal opens. It is only after I close the modal, that it falls into the then block

[2016-09-28 21:14] StrahilKazlachev commented on #204
@PWKad Just transition-less closing or both - transition-less open and close? Because if both the `ignoreTransitions` option should do the job.

[2016-09-29 04:07] #181 closed

[2016-09-29 19:38] don-bluelinegrid opened #213 "[BUG] Error thrown and dialogs do not work, when running in node server on Windows OS"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0-beta.3.0.0

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.5
- **Node Version:**
  4.4.7
- **NPM Version:**
  3.10.3
- **JSPM OR Webpack AND Version**
  webpack 2.1.0-beta.22
- **Browser:**
  all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Saf

[2016-09-29 20:09] StrahilKazlachev commented on #213
**I** don't think this is from the dialog(not saying it can not be). I would start with this - ` Unhandled rejection Error: Cannot find module './135.html'.`,  what is, who is requesting it, why can't be found?

[2016-09-29 20:13] don-bluelinegrid commented on #213
There is no such file, ./135.html.

My assumption is that this is a generated file of some sort.

Here are some facts that I left out of the report:

1. I run node server on WindowsOS and Mac OS X.
2. Until recently, the application worked fine, and consistently, on either platform.
3. After adding aurelia-dialog to the project, I received the error above, only on the WindowsOS platform.
4. No oth

[2016-09-29 20:19] don-bluelinegrid opened #214 "[ENHANCEMENT] Ability to close any open dialog upon route change."
**I'm submitting a feature request**
- **Library Version:**
  1.0.0-beta.3.0.0

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.5
- **Node Version:**
  4.4.7
- **NPM Version:**
  3.10.3
- **JSPM OR Webpack AND Version**
  webpack 2.1.0-beta.22
- **Browser:**
  all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS X

[2016-09-29 20:29] StrahilKazlachev commented on #214
I wouldn't say `messy`. The `dialog-service` has a `controllers: DialogController[]` property you can iterate and call `.cancel()` on every controller. Still there could be a utility method - `releaseAll()`, `closeAll()`, ... Would you format the issue according to the template to have it as a feature request?

[2016-09-29 20:35] don-bluelinegrid commented on #214
Regardless of the subjective view of what constitues "messy" code, it is clear that the code to uniformly close any open dialogs on a route change would a) be an extremely common/desirable use case, and b) could be considered boilerplate code.

The value of a framework/library is to eliminate this sort of boilerplate code.  So, while it could certainly be helpful to have a utility function to clos

[2016-09-29 20:35] StrahilKazlachev commented on #213
I do remember there **were** some caveats with the dialog and webpack at some point - I don't use webpack so I didn't pay much attention. You could search for some issues in that direction.

[2016-09-29 20:41] don-bluelinegrid commented on #213
I have been searching for issues for two days, and have wasted a lot of time on this.

The issue doesn't seem specifically related to webpack in general - it is only when running on WindowsOS.

The only vaguely related issue is this: https://github.com/aurelia/dialog/issues/127
However, that is not the issue that I'm running into, and I did try the suggestion there, which made no difference.

Is a

[2016-09-29 20:59] EisenbergEffect commented on #213
@niieani Can you look into this? Perhaps there's an issue with webpack, maybe even platform specific, that is dropping up when using dialog. It's a plugin that contains html resources, which makes it a bit different than others.

[2016-09-30 02:04] EisenbergEffect commented on #214
I understand the situation. Let's take it in phases. As @StrahilKazlachev suggests, why don't we start with a `closeAll()` method first. That will conquer the first level of tedium and it's a necessary foundation for the next level. Once we have that implemented, we can discuss how to hook this into the router in a way that doesn't cause undue coupling. @don-bluelinegrid Would you be interested in

[2016-09-30 06:20] StrahilKazlachev commented on #214
@EisenbergEffect I don't mind.

[2016-09-30 06:34] EisenbergEffect commented on #214
Go for it @StrahilKazlachev :)

[2016-09-30 08:46] EisenbergEffect commented on #208
Closing this since #190 is the real issue.

[2016-09-30 08:46] #208 closed

[2016-09-30 08:47] EisenbergEffect commented on #190
@PWKad Are you able to look at this?

[2016-09-30 15:10] don-bluelinegrid commented on #213
@EisenbergEffect

Thanks for assigning this out.
I realize that most of us may be working on Macs/Linux these days - but I happen to be working on a project where our UX team uses WindowsOS - and this dialog issue is popping up consistently.  This is very reproducible with a simple case, just be running a webpack/typescript project in the webpack dev server on a *Windows OS* system.

Don

[2016-09-30 15:20] niieani commented on #213
`Cannot find module './135.html'` error is pretty odd. I'll need to jump onto my Windows VM to test this. Still pretty busy in the recent days, but I'll see what I can do. The issue is on my ToDo list.

[2016-09-30 18:46] StrahilKazlachev commented on #213
@don-bluelinegrid We do primarily develop on Win machines and haven't seen this, but we do use SystemJS.

[2016-09-30 21:49] StrahilKazlachev commented on #189
@PWKad This is merged.

[2016-10-01 17:37] don-bluelinegrid commented on #190
Curious what the status is of this or https://github.com/aurelia/dialog/issues/208

We need to be able to do the following:
1. Open a dialog.
2. After user clicks 'OK', execute a fetch-client REST request.
3. On success of the request based on the fetch-client resolved Promise, then close the dialog; on failure of the request, show an error message in the dialog, which *should still be open*.

My

[2016-10-01 17:40] valichek commented on #190
@don-bluelinegrid to avoid this issue use `{ ignoreTransitions: true }` for options

[2016-10-01 17:45] valichek commented on #190
@don-bluelinegrid actually that depends on what your OK btn is doing, so smth different

[2016-10-01 17:57] don-bluelinegrid commented on #190
@valichek

1. Where do we set ```{ ignoreTransitions: true }```?

2.

My OK button is just calling ok().  How else can I use the OK button to communicate with teh DialogController to produce a result inside the Promise?

[2016-10-01 18:01] don-bluelinegrid commented on #190
@valichek

I've tried ignoreTransitions, it made no difference with the code I am using.

Here is the code in my app:

[code]

In my HTML template, I am simply calling ok(output).  This immediately closes the dialog.

[2016-10-01 18:21] valichek commented on #190
@don-bluelinegrid  options for `openAndYieldController ()`
It closes dialog, yes, and then on ok received you're sending the request, to send request first before closing you need to set smth like
[code]

and call `model.submit()` in `communityModel.html`

[2016-10-01 18:28] don-bluelinegrid commented on #190
@valichek

Thanks for the information.

One clarification -
It sounds like you are saying that for this case, using openAndYieldController() is not necessary?  So I should go back to the normal open() call?

Or do I need to use openAndYieldController() so that I can add the submit() function to the controller as the dialog opens?

Thanks,
Don

[2016-10-01 18:49] valichek commented on #190
@don-bluelinegrid if you go back to `open()` you need to call `createCommunity ()` from Model, because it resolves on dialog result, `openAndYieldController()` resolves on actual dialog opening

[2016-10-03 12:15] goopile commented on #213
@niieani Don't know if it helps but I had the same problem when setting up my own project using the aurelia esnext / webpack skeleton. In fact I just ran it and got `Cannot find module './200.html'`.
The name has been random, 67.html, 137.html etc so most likely generated.

Anyhow, I made the dialog work by changing this:
[code]
into this:
[code]
Seemed related so I thought I'd just put this out t

[2016-10-03 21:01] don-bluelinegrid commented on #190
@valichek

Thanks very much for the information/advice.  Your approach does work, and I have things working as intended now, to wait for a successfully resolved Promise from the fetch call before closing the dialog.

One comment -
The reason for doing this is to have the ability to display an error/alert message inside the dialog, in the case of a failure.  This is a very common UX pattern.  It wo

[2016-10-06 13:14] don-bluelinegrid opened #216 "Property 'result' does not exist on type 'DialogController'."
**I'm submitting a bug report**
- **Library Version:**
  major.minor.patch-pre1.0.3Beta

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.6
- **Node Version:**
  4
- **NPM Version:**
  3.10
- **JSPM OR Webpack AND Version**
  webpack 2.1.0-beta.22
- **Browser:**
  all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iO

[2016-10-06 14:33] EisenbergEffect commented on #216
@PWKad Can you take a look at this?

[2016-10-06 20:08] StrahilKazlachev commented on #216
.result is not part of the DialogController interface. It is added to the controller instances returned by .openAndYieldController(settings: any): DialogController & { result: Promise<DialogResult> }

[2016-10-06 20:13] don-bluelinegrid commented on #216
@StrahilKazlachev

Yes, I saw that - this is the exact thing that I am reporting.

In the project code examples, it shows this:

[code]

Since, as we see, the 'result' property is not a part of the DialogController interface - and is not declared in the typings - then in a typed language (i.e., TypeScript) the reference to 'result' is not permitted.

That seems like a bug - having an expectation t

[2016-10-06 20:17] StrahilKazlachev commented on #216
With the current typings generation mechanism we can not use union types. So either the DialogController interface has to change or add new one DialogControllerWithResult or something.

[2016-10-08 15:13] PWKad commented on #1
@glen-84 on latest this is confirmed as working.

[2016-10-08 15:14] PWKad commented on #84
@itzikHagoel You just create a .css file in your project and reference it from one of the pages or view-models.

[2016-10-08 15:17] PWKad commented on #84
There hasn't been a big demand for this and it's noted on how to add this via css so closing this for now.  If we have more demand later we can open it back up or look at other alternatives.

[2016-10-08 15:17] #84 closed

[2016-10-08 15:20] PWKad commented on #91
@a-jackson can you confirm this works for all browsers and fixes the width issue?  If so we can make that change to the core styles instead of needing an override.

[2016-10-08 15:29] PWKad commented on #91
I confirmed it still works in chrome so if someone can give me a thumbs up that it solves the IE issue I can get this in and release on Tuesday.

[2016-10-08 15:30] PWKad commented on #211
Fixed in #212

[2016-10-08 15:30] #211 closed

[2016-10-08 15:30] PWKad commented on #207
Fix should be going out Tuesday

[2016-10-08 15:30] #207 closed

[2016-10-08 15:31] PWKad commented on #193
Fix going out Tuesday.

[2016-10-08 15:31] #193 closed

[2016-10-08 15:31] a-jackson commented on #91
This worked for us in IE 11. Haven't tested anywhere else.

[2016-10-08 15:33] PWKad commented on #179
Can you please submit a repro?

[2016-10-08 18:53] PWKad commented on #113
@jeff-h PR is welcome on this, I'm timid about switching the styles at the moment unless someone is willing to do some exhaustive cross-browser/platform testing because all of these tweaks in the past have had snow ball effects :)

[2016-10-08 19:01] PWKad commented on #127
The initial problem here with css not loading should be fixed because the css is now loaded from within the view-model directly.  I'm going to close this out for now as the original issue was with the CSS not loading. There is a separate issue that is currently open about referencing module paths with webpack tracked here #213 if anyone thinks that they are different I'm willing to open this back

[2016-10-08 19:01] #127 closed

[2016-10-08 19:07] PWKad commented on #179
To implement this enhancement it should be sufficient to have an optional parameter in the [options](https://github.com/aurelia/dialog/blob/master/src/dialog-options.js#L6) that is used inside of the [renderer](https://github.com/aurelia/dialog/blob/master/src/dialog-renderer.js#L78) that defaults to body but can be overridden by the consumer.  Also would need some tests to cover the new functiona

[2016-10-08 19:08] #189 closed

[2016-10-08 19:09] PWKad commented on #204
True @hadrienl this option should cover your scenario, can you confirm?  If so let's close this out.

[2016-10-08 19:14] PWKad opened #217 "Convert to src to TypeScript"
Right now we have recognized a few issues in the build process such as missing the ability to support union types and some of the other ts2.0 new type features.  The build process also can be a bit tricky since there are so many moving parts.  With Aurelia-Validation I believe @jdanyow and @niieani have done a good job of showing that the plugin repo's can use TS in a nice, clean, and elegant fash

[2016-10-08 19:22] EisenbergEffect commented on #217
I'm ok with this but we need a full working build process. The Validation library is actually in TypeScript but it's kind of a pain because it's missing a lot of features that the build from our other libraries have. We need to get that library at 100% fidelity first and then we can use it as a template to move other libraries over.

[2016-10-08 19:29] jdanyow commented on #217
https://github.com/aurelia/validation/issues/357

[2016-10-08 19:52] #91 closed

[2016-10-08 19:57] EisenbergEffect commented on #217
Thanks!

On Oct 8, 2016 12:29 PM, "Jeremy Danyow" <notifications@github.com> wrote:

[2016-10-08 19:59] PWKad commented on #216
In the `dialog-service.js` we are dynamically adding a result property to the controller that doesn't exist.  Should we return a union type or actually just add an class instance field on the `dialog-controller.js` with the proper type so the .d.ts is correct?

[2016-10-08 20:14] StrahilKazlachev commented on #216
@PWKad Adding it to the `DialogController` is ok with me. As I get it the `Renderer` is the pluggable part and the controller instances are created by the `DialogService`, so extending the `DialoalogController` API with a new mandatory field should not result in a breaking change for anyone. I can add it with the `DialogSettings` definitions I'm working on.

[2016-10-08 20:21] StrahilKazlachev commented on #204
@hadrienl I don't know if it's documented. Usage: `.open`/`.openAndyYeldController` `({ ignoreTransitions: true })`

[2016-10-08 21:08] hadrienl commented on #204
Ok, so I think you should add this information to the documentation and close the issue.

[2016-10-09 12:17] StrahilKazlachev commented on #200
I'll use the classes from @m-andrew-albright to explain.
So the problem comes from which container resolves `ModalController`. When `CreateProject` gets resolved, the container which resolves it has a `DialogController` instance registered and can resolve it(the correct instance). When the same container tries to resolve `ModalController` it does not have a resolver registered so it turns to its p

[2016-10-10 05:11] PWKad commented on #217
Agreed then that those issues need to be resolved first.  I'll comment there.

[2016-10-10 05:13] PWKad commented on #204
@hadrienl PR welcome here, else I've tagged this issue and we should be able to get to it relatively easily.

[2016-10-10 05:21] PWKad commented on #216
@StrahilKazlachev as I thought of this more perhaps adding `result` to the `DialogController` is more of a short-term fix.  In reality we probably need to massage the return type to return a controller instance and a result separately instead of tacking the result on to the controller for the sake of returning it.  Thoughts?

[2016-10-10 10:35] vermilion opened #220 "[feature] Ability to define custom renderer per-modal"
**I'm submitting a feature request**
- **Library Version:**
  1.0.0-beta.3.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  5.10.0

- **NPM Version:**
  3.10.7

- **JSPM OR Webpack AND Version**
  requirejs

- **Browser:**
  all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safa

[2016-10-11 14:26] vaskokj commented on #176
For anyone else looking to solve this do the following

run

jspm inspect --forks

you should get a list of items that have forks.

then to resolve the fork like the following:

jspm resolve --only npm:aurelia-dependency-inject@1.1.0

At that point if you run jspm inspect --forks you should no longer see that fork in your tree.

[2016-10-14 13:52] shanegray commented on #182
Quick fix for opacity:
[code]

[2016-10-19 03:42] huochunpeng opened #222 "UI issue: rounded corner (border-radius) doesn't work on Safari with latest ai-dialog{display:table}"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0-beta.3.0.1
- **Operating System:**
  OSX 10.12
- **Node Version:**
  6.7.0
- **NPM Version:**
  3.10.3
- **JSPM OR Webpack AND Version**
  aurelia-cli 0.21.0
- **Browser:**
  Safari 10.0
- **Language:**
  all

**Current behavior:**
On Safari, sharp corners with white background stick out the rounded border.
This issue doesn't appear on

[2016-10-19 05:46] EisenbergEffect commented on #222
@PWKad Can you take a look?

[2016-10-19 16:55] kennyfowler commented on #213
i got exactly the same problem when migrating from jspm to webpack. the solution from @goopile didnt work for me right now. will try to reproduce/solve the problem on a fresh skeleton setup...

[2016-10-19 18:06] StrahilKazlachev opened #223 ".open() never resolves if canActivate() returns false"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0-beta.3.0.1

**Please tell us about your environment:**
- **Operating System:**
  Windows [7|10]
- **Node Version:**
  6.2.0
- **NPM Version:**
  3.8.9
- **JSPM OR Webpack AND Version**
  JSPM 0.16.32
- **Browser:**
  all
- **Language:**
  all

**Current behavior:**
If the VM `.canActivate()` method returns `false` the whole part where

[2016-10-19 19:22] StrahilKazlachev opened #224 "Consolidate .open() and .openAndYieldController()"
**I'm submitting a feature request**
- **Library Version:**
  1.0.0-beta.3.0.1

**Please tell us about your environment:**
- **Operating System:**
  Windows [7|10]
- **Node Version:**
  6.2.0
- **NPM Version:**
  3.8.9
- **JSPM OR Webpack AND Version**
  JSPM 0.16.32
- **Browser:**
  all
- **Language:**
  all

**Current behavior:**
Two methods to open a dialog:
- `.open(settings: DialogSettings):

[2016-10-19 19:27] kennyfowler commented on #213
ok, i got it to work. @goopile solution did it... i had to use an absolute path:
[code]
calling from dashboard.ts
`viewModel: 'app/dashboard/modal/prompt'`

[2016-10-19 19:28] EisenbergEffect commented on #224
I would be willing to consider them. I thin we would likely want to make some changes but if you are willing to put a PR together, we can use that as a point of conversation and refine from there.

[2016-10-19 19:58] StrahilKazlachev commented on #224
Will do tomorrow, it's too late for me now.

[2016-10-19 20:00] PWKad commented on #224
For reference - https://github.com/aurelia/dialog/pull/218

[2016-10-21 00:43] PWKad commented on #224
@StrahilKazlachev @EisenbergEffect We've discussed going back to a promise that gets resolved or if not it would get thrown and need to be caught by the consuming developer.  Now that we are talking about working on open and what gets returned do we want to re-hash this conversation?

[2016-10-21 20:06] StrahilKazlachev commented on #224
I went over #22, but I like the current approach, rejecting only under error conditions. At a point I experimented with an API that cancelled with rejection. Found it easier to reason cancellation on resolve rather then on reject.
We could add to the returned promises a `.throwOnError()` method to opt-in to throw on cancel:
[code]
But I don't like how it has to be typed, without union types.
Cance

[2016-10-22 17:12] StrahilKazlachev commented on #224
What do you think about a `throwOnCancel` flag in `DialogSettings`? But with a restriction:
* `false` by default
* the default can not be configured

This way if a plugin depends on the dialog it will not break.

[2016-10-22 21:28] PWKad commented on #224
I personally like that approach, @EisenbergEffect seem reasonable?

[2016-10-22 22:03] bcanzanella opened #226 "bindable bug with object assignment"
**I'm submitting a bug report**

* **Library Version:**
aurelia-dialog@1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.4.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.44

* **Browser:**
Chrome 53.0.2785.143

* **Language:**
all | TypeScript 2.0

**Current behavior:**
if an object bound to the aurelia

[2016-10-22 22:26] EisenbergEffect commented on #224
That sounds good to me.

[2016-10-23 05:44] davismj commented on #226
I'm not convinced this is a bug. Unlike the `<compose>` case, where the binding system would be listening for changes to the `outer` _property_, in this case you are simply passing in the _object_ itself. The `dialogService` has no reasonable way of knowing where it came from or when it changes.

[2016-10-23 13:26] bcanzanella commented on #226
hmm, i'm confused... if i use ```Object.assign``` instead of ```=``` inside the ```setTimeout```, it works as i expected. i'm not sure if that is the expected behavior or not, but it seems as if something is getting lost using ```=``` instead of ```Object.assign``` .

updated gist: https://gist.run/?id=fbee5194ad988fa98e46261e7b61dcf9

in my use-case, i'd rather not use Object.assign as i'm doing

[2016-10-23 14:02] PWKad commented on #226
@bcanzanella You are changing the definition of the object instead of the properties that are referenced in the object.  This will never truly work the way you want it to by simply passing reference and then changing completely.

I think I see where you were going with outer and inner, your scenario above would work if you were just changing the value of inner and not outer, but passing outer all

[2016-10-23 14:02] #226 closed

[2016-10-24 21:58] mattbeckman commented on #223
I think I was bit by this bug today. I couldn't get the dialog promise to return after using controller.ok().

I bypassed by using a canDeactivate() method to do a delayed promise resolution:

`    canDeactivate() {
        return new Promise(function(resolve, reject) {
            console.log("Called canDeactivate");
            window.setTimeout(
                function() {

[2016-10-26 02:09] PWKad commented on #137
Just noticed this was actually closed.

[2016-10-26 02:09] #137 closed

[2016-10-26 02:40] PWKad commented on #222
This is due to the border that is applied to the dialog.  For the border to work we would have to refactor the styles again.  Bootstrap for instance uses an additional nested element to combat this.  After looking at it at high res I don't think you can see the border anyway.  I'm voting to remove the border on `ai-dialog` to close this issue.

Can anyone confirm that the border is unnoticable?

[2016-10-26 02:47] huochunpeng commented on #222
This is a Safari-only issue. I am fine without rounded corner, but the fix might annoy some other developers who don't care about Safari.

[2016-10-26 03:23] PWKad commented on #222
The rounded corner would stay it is the border that is almost in discernable

[2016-10-26 03:55] huochunpeng commented on #222
Great. Yes the border is not noticeable because of the dark shadow around it.

[2016-10-26 16:05] davismj commented on #223
@pwkad Do we think the promise returned from `.open` should `reject` or `resolve(false)`?

[2016-10-28 16:06] CedricMalfreytBL opened #227 "[feature] Ability to define the ai-dialog-overlay and ai-dialog-container parent element"
**I'm submitting a feature request**
- **Library Version:**
  1.0.0-beta.3.0.1

**Please tell us about your environment:**
- **Operating System:**
  Windows 7
- **Node Version:**
  6.3.0

- **NPM Version:**
  3.10.5

- **JSPM OR Webpack AND Version**
  JSPM 0.16.45

- **Browser:**
  all
- **Language:**
  TypeScript 2.0.3.0

**Current behavior:**
When opening a dialog, the ai-dialog-overlay and ai-

[2016-10-28 20:58] codeConcussion commented on #91
It looks like fix [d60e234](https://github.com/aurelia/dialog/commit/d60e2346f5458998c388c4d9147bc674dabbc103) broke some dialog layouts for me in Chrome.

I'm using Bootstrap 4 and sizing aurelia dialogs with `col-[size]-[columns]`. If I have a large table I want it to get horizontal scrollbars as the window gets narrower. I'm wrapping them with bootstrap's [`table-responsive`](https://v4-alpha.g

[2016-10-31 00:35] lares83 opened #228 ".ok() is not being resolved after set settings 'position' or 'centerHorizontalOnly'"
**I'm submitting a bug report**
- **Library Version:**
  major.minor.patch-pre

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  7.0.0

- **NPM Version:**
  3.10.8

- **JSPM OR Webpack AND Version**
  webpack 2.1.0-beta.25

- **Browser:**
  all
- **Language:**
  ESNext

**Current behavior:**
In model where I inject DialogService, when I set

[co

[2016-10-31 20:41] StrahilKazlachev commented on #228
@lares83 Could you try setting `ignoreTransitions: true`?

[2016-10-31 20:53] lares83 commented on #228
@StrahilKazlachev yes it helped, thanks :) In that case I'm closing this ticket.

[2016-10-31 20:53] #228 closed

[2016-10-31 21:07] StrahilKazlachev commented on #228
@lares83 Ok, it's tracked here #190 if you want to keep an eye on it.

[2016-11-02 00:16] huochunpeng opened #229 "[bug] centerHorizontalOnly plus an animated button caused showDialog promise never resolved."
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Browser:**
Chrome Latest| Firefox Latest | Safari Latest

Chrome and Firefox hit the bug every time.
Safari is less affected, with a small chance to hit the bug.

* **Language:**
ESNext

**Current behavior:**
on top of position bug #190 , an but

[2016-11-02 00:18] huochunpeng commented on #190
Even at end of dialog close, the promise is not always resolved #229.

Suggest to make the default value of `ignoreTransitions` as `true` for a temporary fix, so others (like me) would not spend a day to tracing through code to understand what's going on.

[2016-11-05 17:14] mikael-arvidsson commented on #200
Any updates on this issue?

[2016-11-09 16:18] PWKad commented on #223
@davismj `reject` only if the developer asks for it specifically to keep a good dev experience

[2016-11-09 16:25] PWKad commented on #213
This is an issue that is specific to the loader implementation so nothing to fix in dialog so closing for now.

[2016-11-09 16:25] #213 closed

[2016-11-09 16:29] PWKad commented on #222
Closed by https://github.com/aurelia/dialog/commit/d60e2346f5458998c388c4d9147bc674dabbc103

[2016-11-09 16:29] #222 closed

[2016-11-09 16:30] PWKad commented on #227
Duplicate of #179 fix is described in there

[2016-11-09 16:30] #227 closed

[2016-11-09 16:34] PWKad commented on #217
Still waiting on a few last tasks before converting just giving an update

[2016-11-10 03:10] jdemeuse1204 opened #231 "Aurelia Dialog, cannot find ./118.html"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Browser:**
Chrome 54

* **Language:**
ESNext

**Current behavior:**
When I attempt to open my Aurelia dialog I am getting the follow

[2016-11-10 08:01] StrahilKazlachev commented on #231
Not a problem with the dialog itself, check #213.

[2016-11-10 13:03] jdemeuse1204 commented on #231
I checked the #213 and got the modal to work.

Code:

[code]

I was using a relative path and that was not working, using the absolute path to the modal worked.  @StrahilKazlachev is there a webpack plugin or any configuration to fix this?

[2016-11-10 14:07] StrahilKazlachev commented on #231
I'm not a webpack guy. Probably @niieani can point you to the appropriate resources.

[2016-11-10 14:19] jdemeuse1204 commented on #231
@niieani do you know or can you point me in the direction of anyone who would know of any webpack configuration changes or plugin's that would help with this issue?

[2016-11-11 15:53] jdemeuse1204 commented on #231
Closing this issue since its a bug with webpack.  Using the string path instead of the actual object from the import worked

[2016-11-11 15:53] #231 closed

[2016-11-11 19:36] niieani commented on #231
@jdemeuse1204 not sure what's the cause. But with the new experimental webpack skeleton (soon to be released) the problem might not exist.

[2016-11-11 20:14] jdemeuse1204 commented on #231
Thank you @niieani, once it is released I can test it out and see if the issue still exists

[2016-11-13 15:43] PWKad opened #232 "Add an "evergreen" aurelia dialog gist.run"
Create a gist.run for dialog

- Should always use latest release of dist on master

Link in documents and perhaps in issue template as well to make it easier for others to repro issues.

[2016-11-14 09:23] glennpierce opened #233 "Dialog open in activate does not work on first load with router."
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Linux fedora 23

* **Node Version:**
6.2.2

* **NPM Version:**
3.9.5

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Browser:**
Chrome 53

* **Language:**
TypeScript 2.0.0

**Current behavior:**

I am calling this.dialogService.open from an acti

[2016-11-14 10:41] StrahilKazlachev commented on #233
I'll have time to check it as early as tomorrow. If you want you can chain a `.catch` to the `.open` method and see the error, if any.

[2016-11-14 16:16] glennpierce commented on #233
Not sure if I'm doing anything wrong but I can't get a catch handler to trigger.

[2016-11-14 19:54] StrahilKazlachev commented on #233
@glennpierce It's strange that the catch doesn't work. Also I'm not much into webpack, but in the `webpack.config.js` I don't see anything about the dialog, is it normal? I'll first try it on the sample app first

[2016-11-14 22:00] StrahilKazlachev commented on #233
So I tried it with the skeleton-navigation/skeleton-esnext and it worked. When I try to run your sample I get `TypeError: webpack.validateSchema is not a function` after running `npm start`.

[2016-11-14 22:59] glennpierce commented on #233
I just used npm install aurelia-dialog --save like in the install instructions.
Don't think I needed to edit webpack.config.js

I have updated the source to solve the validateSchema error.

I had to use a different version of webpack

ie
-    "webpack": "2.1.0-beta.22",
-    "webpack-dev-server": ">=2.1.0-beta.0 || ^2.1.0"
+    "webpack": "^2.1.0-beta.22",
+    "webpack-dev-server": "^1.16.2"

[2016-11-14 23:19] StrahilKazlachev commented on #233
Ok, so I manged to run it and got `Unhandled rejection Error: Cannot find module './77.html'.`. Check #231 and #213. I'll look though where the promise chain breaks and the rejection is not propagated to the `.open()` method.

[2016-11-15 10:12] glennpierce commented on #233
If it helps stepping through the code slowly the dialog does display when returning the promise from the showDialog function but then something closes it. However, I can't seem to capture what does that.

[2016-11-15 16:56] lstarky opened #234 "Escape key does not close dialog"
**I'm submitting a feature request**

* **Library Version:**
aurelia-dialog@1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.8.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
Not using either

* **Browser:**
Chrome 54.0.2840.71 m (64-bit)

* **Language:**
ESNext

**Current behavior:**
Escape key does not close di

[2016-11-15 17:19] StrahilKazlachev commented on #234
Is `lock` set to `false` for the dialog you expect to close?

[2016-11-15 20:06] lstarky commented on #234
I have not given it any specific settings regarding `lock`.  Here's my instantiation code:
[code]

[2016-11-15 20:08] StrahilKazlachev commented on #234
Try setting it to `false`, it defaults to `true`. You can do it either per dialog basis or when configuring the plugin.

[2016-11-15 20:19] StrahilKazlachev commented on #233
@glennpierce Found it, sorry for the delay. Using this webpack setup threw me off. The problem is that the modal container is put in the `body`, also `aurelia-app="main"` is put on the `body`, so when navigation completes(after `activate` settles), the content of the `body` is replaced. You can try to add a `div` and put `aurelia-app="main"` on it. Then the dialog will be visible after the navigat

[2016-11-15 20:25] lstarky commented on #234
When I set `lock` to `false`, the Escape key works, but there are a couple negative side-effects: (1) clicking outside the window closes the window, (2) an extra X is added to the top-right corner of the header (but poorly placed).  Can I get the Escape key to work but still prevent clicking outside of the box and either improve the location of the X or skip it since I've already added my own?

On

[2016-11-15 20:41] StrahilKazlachev commented on #234
The handling of the ESC key and clicking outside the dialog is done in the `DialogRenderer`.  I think it would be possible to put thess in separate settings, any suggestions?
The X button is part of the `ai-dialog-header` custom element. If you ignore the button this is the header
[code]

[2016-11-15 21:57] glennpierce commented on #233
No worries about the delay. Thanks a lot for helping.
I did your suggestion of putting aurelia-app="main" in a div and it works great. It may be worth added a note in the docs as I would think it may be a common mistake.
Again thanks for the help.

[2016-11-15 22:23] lstarky commented on #234
IMO it would be good to have separate settings, similar to what [Bootstrap Modals](http://getbootstrap.com/javascript/#modals) offers.

`backdrop` = true/false/static (default = true) Includes a modal-backdrop element. Alternatively, specify static for a backdrop which doesn't close the modal on click.
`keyboard` = true/false (default = true) Closes the modal when escape key is pressed

[2016-11-15 22:24] lstarky commented on #234
I would also suggest the 50% opacity black background to be the default behavior.

[2016-11-17 03:24] rquast opened #235 "Inline view slots (shadow dom) broken in IE11, Windows 8.1"
## I'm submitting a bug report

Aurelia Dialog 1.0.0-beta.3.0.1
Windows 8.1 (from https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/)
Internet Explorer 11
Node v7.1.0
npm 4.0.2
ESNext
webpack 2.1.0-beta.25 (current skeleton)

https://github.com/rquast/skeleton-navigation/tree/master/skeleton-esnext-webpack

** Changes made to skeleton to replicate behavior: **
https://github.com/aurel

[2016-11-17 03:27] EisenbergEffect commented on #235
@jdanyow Have you seen this before? @niieani What about you. I suspect a configuration problem.

[2016-11-17 11:08] niieani commented on #235
Hmm, might it be something with PAL being initialized _after_ aurelia-dialog is loaded, for some reason? I'll look into it.

I'm so looking forward to ditching the old webpack-plugin, it's the reason for so many issues...

[2016-11-17 11:11] niieani commented on #235
Hold on, I think I see where the problem _might be_.

@rquast you are using `edit-person` as the ViewModel but it's not declared as a build resource in `package.json`. Can you try adding `edit-person` to `build.resources` there and see if this persists? (btw. this won't be necessary with the new set of plugins in the new skeleton)

[2016-11-17 23:35] rquast commented on #235
I'll give it a go and let you know, but won't be able to for a few days since I'll be away. You could also try it yourself if you have the time to download the virtualbox of IE11 windows 8.

[2016-11-17 23:40] niieani commented on #235
@rquast I'm pretty busy myself, but let me know when you're back. 👍

[2016-11-19 03:16] PWKad commented on #235
Why is it `export async` in the main.ts?  I'm combing through just looking around but nothing stands out besides a few non-closed html elements.

[2016-11-19 11:30] niieani commented on #235
@PWKad `export async` is correct since `configure` returns a Promise. It just allows you to `await` inside of the body of the method. You can see the Webpack skeletons utilizing this in a few places, including unit tests.

[2016-11-21 07:09] rquast commented on #235
@PWKad I had this same problem in my own code, without that export async, or regenerator runtime. The code I did is just the skeleton merged with the sample code in Aurelia Dialog. @niieani I'll give those changes you suggested a go shortly.

[2016-11-21 07:15] rquast commented on #235
@niieani adding edit-person to the build resources solved the problem.

[code]
![virtualbox_ie11 - win8 1_21_11_2016_17_13_54](https://cloud.githubusercontent.com/assets/1103891/20473686/0b1e5d28-b00e-11e6-92d1-1ed5400b5ae0.png)

[2016-11-21 07:16] rquast commented on #235
Closing as this will be fixed in the new webpack skeleton.

[2016-11-21 07:16] #235 closed

[2016-11-23 14:06] VMBindraban opened #237 "Promise dialogService.open() not always executed after calling dialogController.ok()"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

* **JSPM**
JSPM 0.16.15

* **Browser:**
Chrome 53

* **Language:**
ESNext

**Current behavior:**
`dialogController.ok()` doesn't always fire the Promise of `dialogService.open()`.
The `catch` isn't being called either.

Seems to be a issue with focus.

In `1.0.0-beta.3.0.0` it does however (expected behavior).

Example:
http

[2016-11-23 14:25] StrahilKazlachev commented on #237
The gist just stays on `Loading...` for me. From what you are saying I remember only one such scenario, if the VM has `canDeactivate()` and it returns `false`. If you don't have `canDeactivate` you could try passing `ignoreTransitions: true` to `dialogService.open`.

[2016-11-23 14:26] VMBindraban commented on #237
Seems to be a issue with focus.

[code]

[2016-11-23 14:27] StrahilKazlachev commented on #237
There is an issue about problems when the dialog does not have transitions set. In that case try `ignoreTransitions: true`;

[2016-11-23 14:32] VMBindraban commented on #237
@StrahilKazlachev Thanks, that seems to "fix" it. I will close this.

[2016-11-23 14:32] #237 closed

[2016-11-25 16:03] PWKad commented on #232
https://gist.run/?id=aae79c2b0157b8d54dc0ce15a5a2d2dc

[2016-11-25 16:03] #232 closed

[2016-11-26 05:49] PWKad commented on #233
@glennpierce @StrahilKazlachev Is this an issue with the dialog that needs a note or with WebPack?

[2016-11-26 05:50] PWKad opened #238 "FR: Add ability to enable esc without `lock: false`"
See #234 -

Add an option on creating of dialog to allow esc key without adding the close button and such.

[2016-11-26 05:50] #234 closed

[2016-11-26 09:14] StrahilKazlachev commented on #233
@PWKad I would say neither, it's just how Aurelia works. But it doesn't hurt to add note.

[2016-11-27 17:45] PWKad commented on #233
Gotcha, sounded specific to WebPack (presumably the plugin is loaded before the app is replaced?) but if it is cross-loaders than I think we can add a quick note.

[2016-11-27 17:52] #233 closed

[2016-12-02 00:40] avar0 commented on #139
can somebody tell where the documentation for setting the css is? i cannot find it in the read me file

[2016-12-02 06:31] Tim-Erwin commented on #139
Not sure if i understand correctly, but there is no setting that creates that CSS. You have to have your own CSS/SASS/LESS with the according rule. If you use the [skeleton app](https://github.com/aurelia/skeleton-navigation/tree/master/) you'll already find some CSS where you can add your rules.

[2016-12-09 05:48] PWKad opened #239 "Move docs to hub"
Move docs and code samples to hub.  During transition leave the docs in the README.md until fully merged.

[2016-12-09 06:13] PWKad commented on #217
@StrahilKazlachev I think we can safely start on this after the current PR's are accepted as all of the outstanding issues from validation are handled (except for one last task which has a PR that will be merged this week)

If you want to schedule a quick call some time over the next week or two to discuss current state and how we can do this whilst achieving the coveted v1 tag let me know!  Thank

[2016-12-09 22:54] #190 closed

[2016-12-10 15:57] PWKad commented on #217
For the initial implement -

1. Convert build.js task to use `gulp-typescript` instead of babel
2. Remove dts-generator
3. Make sure .d.ts is being generated / output
4. Make sure output matches current output structure

After that we can review tooling.

[2016-12-10 16:55] niieani commented on #217
@PWKad I think it might be easier to just switch to the stack used by any of the Aurelia repos which already use TypeScript, and get rid of gulp dependencies.

[2016-12-12 15:46] PWKad commented on #217
After converting over we will probably do that, trying to isolate to one major change at a time.

[2016-12-12 16:43] Infuser commented on #200
I would also be interested in hearing progress on this issue

[2016-12-13 03:02] PWKad commented on #200
Ok I am putting together a repro of the issue now in gist.run.  One thing to note is that the `ModalController` and `ModalService` are basically further abstracting the DialogController and DialogService but I don't see much benefit at the moment.  @StrahilKazlachev was correct in that the issue is in the use of dependency injection as you are not getting the correct instances of everything.  With

[2016-12-13 05:48] PWKad commented on #200
Ok to get around the issue you can force the dependency injection system to create a new instance *in the current container* and not move upward in the DI chain looking for a container with the `ModalController`.

[code]

[2016-12-13 05:54] PWKad commented on #200
I put together a repro here - https://github.com/PWKad/dialog-repro/blob/master/src/prompt.js#L5 - if this doesn't sufficient answer any of the above questions please let me know, as @StrahilKazlachev mentioned the issue is with DI usage, not necessarily with dialog so going to close this for now.  Feel free to open or ping me to open back up if this doesn't meet the needs identified.  We are havi

[2016-12-13 05:54] #200 closed

[2016-12-13 06:39] PWKad commented on #200
Ok so to further add to this - we noticed that using the class decorator `@singleton(true)` was not working as intended (based on the docs you can see this is supposed to force all who inject the decorated class to create an instance if not found instead of looking up the chain) so there is an alternative that is even cleaner that should work once this is released -

https://github.com/aurelia/dep

[2016-12-13 10:25] Infuser commented on #200
Thanks for looking into this for us Patrick very much appreciated I will give it a go later

[2016-12-13 15:04] Infuser commented on #200
Turns out my issue was nothing to do with that fix although it raises the same error

I was bringing in my view model and assigning it to the current class
import {BsBrowse} from '../controls/bs-browse';
   constructor(bsBrowse)  {
      this.bsBrowse = bsBrowse;
   }

let response = await this.dialogService.open({viewModel: this.bsBrowse, model: this.person});

This does not work whether it shoul

[2016-12-20 08:54] hadrienl commented on #204
I have found another use case when promise fails to resolve. I've setup a form in my dialog with a css theme which set transition on input's :focus state. Then, if I click with my mouse on submit button in same time I blur my input, the input is transitioning while the dialog is closed and the promise does not resolve. I've fixed this with a simple workaround : removing all transitions in all elem

[2016-12-20 09:24] StrahilKazlachev commented on #204
@hadrienl I can test against the master if this is covered by a recent commit, if you could provide a repro.

[2016-12-20 12:13] Lampy09 commented on #135
Not sure if this is the right place but I'm experiencing similar issues with a non-webpack (aurelia-cli) setup and aurelia-dialog 1.0.0-beta.3.0.1

@istrau3 solution of using the absolute path "solved" it

[2016-12-21 10:17] cluka opened #241 "Cannot find module './76.html' when using webpack"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows [2016 Server]

* **Node Version:**
6.9.2

* **NPM Version:**
310.9

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.28

* **Browser:**
Chrome 55.0.2883.87

* **Language:**
TypeScript 2.1

**Current behavior:**
I'm trying to display a dialog like

[2016-12-21 11:53] StrahilKazlachev commented on #241
See #231.

[2016-12-21 11:53] #241 closed

[2016-12-23 07:25] kingsleyh opened #242 "Close dialog when clicking off it"
Is it possible to have the dialog close if you click away from it?

e.g. instead of the only way to get rid of the dialog being clicking one of it's buttons - also allow clicking on another part of the screen to cause the dialog to close.

I'm sorry if this is already possible but I can't see how it could be done.

[2016-12-23 07:29] kingsleyh commented on #242
ah - if I set lock to false this does what I want

[2016-12-23 07:29] #242 closed

[2016-12-24 02:26] #238 closed

[2016-12-24 08:03] StrahilKazlachev commented on #223
Closed #225.

[2016-12-24 08:03] #223 closed

[2016-12-24 08:03] StrahilKazlachev commented on #224
Closed #225.

[2016-12-24 08:03] #224 closed

[2016-12-28 16:34] shotor opened #243 "Instructions don't work when using RequireJS instead of SystemJS"
The fix is to add to your `aurelia.json`:
[code]
as described here: http://stackoverflow.com/questions/38762135/aurelia-dialog-error-with-the-release-version-and-cli

Might be useful to add to the docs

[2017-01-03 15:16] PWKad commented on #243
Thanks, updated docs to reflect this.

[2017-01-04 13:24] wegorich opened #244 "The way to not include default styles?"
Hey I have the trouble with ai-dialog styles.
The core issue:
- the styles are included in style tag with quite long query selectors like: `ai-dialog>ai-dialog-footer button:hover:enabled`, and it broke the markup we already have.
- it's quite hard to override it without !important tag, cause the styles are in style tag.
- not possible avoid loading styles.
- quite hard to customize dialogs markup

[2017-01-04 18:37] StrahilKazlachev commented on #244
If disabling them is an option for you you could call `.useCSS('')` when configuring the dialog.
Also if you could format your comment according to the issue template.

[2017-01-05 16:16] RomkeVdMeulen commented on #1
I'm confused. I understand that the autofocus behaviour is moving to templating-resources (btw: is there an issue for this that I can track?). But what of the other considerations from @jdanyow's original comment? I want to prevent users from tabbing of the modal, and restore focus when the modal closes. Will this be added to aurelia-dialog eventually? Or should I build a custom solution?

[2017-01-06 06:41] #244 closed

[2017-01-06 16:49] PWKad commented on #1
@RomkeVdMeulen sorry I missed testing the point of tabbing on to the underlying view - is there a suggested approach for this in the modal that you linked before?

[2017-01-10 16:17] don-bluelinegrid opened #245 "[*BUG*] Clicking Enter/Return closes Dialog"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.9.2

* **NPM Version:**
3.10.9

* **JSPM OR Webpack AND Version**
webpack

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Bro

[2017-01-10 18:35] StrahilKazlachev commented on #245
I'll look into this but it will be faster with a sample.
This does sound a bit strange to me since at work we are using the dialog in and we don't have problems with the Return key, can't remember right now if there was something requiring the Enter key. Also there is just one `keypress` handler, for the Esc key.

[2017-01-10 18:59] PWKad commented on #245
@don-bluelinegrid if you can fork this repo and add your sample to the `sample` application (instructions to run are in the readme) it should be easier than starting a repro from scratch.

[2017-01-13 21:30] StrahilKazlachev commented on #245
Could not reproduce with `1.0.0-beta.3.0.0` nor `1.0.0-beta.3.0.1`, will wait for repro.

[2017-01-24 11:38] filipegeraim opened #248 "Possible bug on close dialog"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all | Chrome XX | Firefox XX |

[2017-01-24 12:18] StrahilKazlachev commented on #248
Do you mean the promise does not resolve? Could you share a snippet, a runnable gist or something?
Try setting `ignoreTransitions: true` first.

[2017-01-24 13:37] filipegeraim commented on #248
Now, when you close the dialogue, it triggers the promise, but it closes the first dialogue together.

I'll see if I can run in the gist, but maybe it will take some time.
I can explain a little of what I want to do.

1) Open a registration dialog;
2) Press the delete button;
3) Open a second confirmation dialog;
4) When you press the 'Yes' button, you should call the service to delete. With the o

[2017-01-24 16:11] StrahilKazlachev commented on #248
Sorry, the runnable gist will not do, it is out-of-date. You could fork the dialog repo and use the sample in it, then share it. One last setting to try before that `lock: true, ignoreTransitions: true`.

[2017-01-24 16:57] filipegeraim commented on #248
Look, it worked fine by putting these two parameters in the settings. Can you explain why you put this on?

[2017-01-24 17:27] StrahilKazlachev commented on #248
So `ignoreTransitions` is for a bug where the promise does not get resolved if the dialog does **not** have transitions - fix will be out in the next release. `lock` - currently this setting controls 3 things:
- `false`
  - ESC key cancels the dialog
  - clicking outside the dialog cancels it - I think that when you click on the second dialog this is triggered - not 100% sure.
  - the `x` button i

[2017-01-24 17:27] #248 closed

[2017-01-26 12:02] m-andrew-albright commented on #193
I am seeing this behavior in the latest version of aurelia-dialog.

I have a large dialog/modal that allows the user to select some items, and upon choosing "delete" our application presents a small confirmation dialog (both of which are aurelia-dialogs).  Upon calling modalController.close() or modalController.ok() from the small confirmation modal, both modals close.

I'm not sure if I should op

[2017-01-30 16:14] kuechlerm commented on #155
This still litters the console if you use the aurelia-cli and run `au test`.
Any chance to avoid that?

[2017-02-01 01:00] lulumetro commented on #183
For me the simplest workaround is to use a couple of css rules:

[code]

[2017-02-09 16:06] vthibeault commented on #183
@lulumetro nice trick, i've tested it and works very well!

[2017-02-10 10:07] RomkeVdMeulen commented on #183
I've also noticed another difference between my own solution and the one implemented in aurelia-dialog: I'm placing the dialog by only adjusting `margin-top`, while the standard solution [also adjusts `margin-bottom`](https://github.com/aurelia/dialog/blob/1.0.0-beta.3.0.1/src/dialog-renderer.js#L174). Any reason for this? It often causes the entire `div` to be so large that a scrollbar appears on

[2017-02-13 20:47] ajoslin103 commented on #244
please add useCSS() to the readme -- it took forever to find it by reading thru comments

[2017-02-15 15:01] timfish commented on #1
Allowing the user to `tab` to the underlying page and execute events on it is huge potential source of bugs.

I shouldn't really have to add logic to every control to disable it when dialogs are open!

[2017-02-17 05:34] jedd-ahyoung opened #249 "Enhancement: Dynamic template enhancement in Dialog Service"
I'm looking for a way to wrap an existing view in a custom element that uses named slots, without having to specify the custom element inside of the view itself. The idea is to allow a view to use slots to separate its content, without embedding dialog-specific elements in the view itself, so that it can be reused easily inside and outside of dialogs.

I've come up with a very primitive implementa

[2017-02-19 01:16] EisenbergEffect commented on #249
I'm having a hard to following this. Can you provide some consumer code that the developer would want to write and explain the use case more?

[2017-02-20 15:26] jedd-ahyoung commented on #1
Putting this here as I was thinking of a custom attribute that would determine a "tabcontext" - basically tabindex the way I think it should have worked originally. This doesn't directly address the "initial focus" issue but it would address the "tabbing to underlying content" issue.

[2017-02-20 18:34] zedL opened #250 "[BUG] enableEscClose dont work when lock=true"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.4.0

* **NPM Version:**
4.0.3

* **Browser:**
Chrome

* **Language:**
TypeScript

**Current behavior:**
pressing escape dont close the dialog

**Expected/desired behavior:**
when I set lock and enableEscClose to true, the dia

[2017-02-20 19:46] StrahilKazlachev commented on #250
I'm closing this since there is no `enableEscClose` setting  in 1.0.0-beta.3.0.1. It is still just in master. Also I don't follow what is role of the *enter* key here.

[2017-02-20 19:46] #250 closed

[2017-02-20 20:01] zedL commented on #250
Why you close this issue?

From your own documentation:
enableEscClose allows pressings escape to close the modal without lock: false. (optional, defaults to true)
But this not works.

[2017-02-20 20:17] StrahilKazlachev commented on #250
This "doc" is for the master - the latest. The version you have specified - *1.0.0-beta.3.0.1*, does not have/support that setting. To see the *readme* for a specific version select the tag for the version.
From the next release we will have the dialog API doc and articles in the hub.

[2017-02-21 09:07] d-kostov-dev commented on #229
I can confirm this. I don't have animated button, but setting centerHorizontalOnly to true, then the dialog is never resolved.

[2017-02-21 09:46] d-kostov-dev commented on #229
I went trough the code and the only difference is that this function is not called:

[code]

So I configured a position function: config.settings.position... that uses the exact same function. But when you remove this line:

[code]
the dialog is not resolved. I just can't understand why.

[2017-02-24 04:31] stickfigure opened #251 "Docs for yieldController out of date"
The README has instructions under "Getting access to DialogController API outside" that do not work. This doesn't actually yield and call the promise:

`this.dialogService.open({yieldController: true, viewModel: EditPerson, model: this.person}).then(`

From experimentation it looks like `openAndYieldController()` needs to be called instead.

[2017-02-24 06:35] StrahilKazlachev commented on #251
You are looking at the "doc" in the master branch - the latest. From the branch menu select a tag for the appropriate version.
We are working on a new set of docs for the next release that will go in the hub.

[2017-02-24 06:35] #251 closed

[2017-03-01 22:46] jods4 opened #254 "Compatibility with new webpack build"
One goal of the new webpack build is that libs work out-of-the-box with zero config.
To achieve this goal a few small changes are required.
- [x] Be sure to wrap dynamically loaded modules into `PLATFORM.moduleName`, for example here: https://github.com/aurelia/dialog/blob/master/src/dialog-configuration.js#L9-L13
- [ ] @niieani mentionned that this lib encourages passing a VM loaded with a static

[2017-03-02 11:35] gama410 commented on #229
I confirm I have the same problem. setting centerHorizontalOnly to true makes the promise never resolve.
I noticed that the promise resolved when I clicked on the overlay (when settings.lock = false) but never when I call controller.ok() or controller.cancel(), though...

[2017-03-02 12:54] gama410 commented on #229
While trying to bypass this problem, I tried to replace the 'centerHorizontalOnly' setting with a 'position' callback setting. This triggered the same problem...

By the way, I need to override the vertical centering because I'm displaying a dialog with a compose element inside that is populated from a server query. This means (as far as I understand it) that the dialog content is empty when the d

[2017-03-02 14:56] StrahilKazlachev commented on #229
@gama410 Did you try setting `ignoreTransitions: false`? If that helps as a workaround, the fix for this will be in the next release.

[2017-03-02 15:39] gama410 commented on #229
@StrahilKazlachev as the default value of this settings is 'false', I guess you meant to set it to true?
When I set it to true, it indeed fixed the problem for me! Thanks a lot!

[2017-03-03 11:36] stuartbloom opened #256 "Tabbing behind modal dialog"
Hi there, I have a modal dialog that has a couple of anchors in the header and a button in the footer.

What I use the tab key, the anchors are not included in the tab order and the elements in the page that is under the overlay get focus.

Is there anything I am doing wrong?

Thanks

[2017-03-03 16:18] jedd-ahyoung commented on #256
@stuartbloom Thanks for using the dialog plugin! No, you're not doing anything wrong. This is something that we're looking to support natively: https://github.com/aurelia/dialog/issues/1

[2017-03-04 05:05] EisenbergEffect commented on #256
Closing as duplicate.

[2017-03-04 05:05] #256 closed

[2017-03-05 14:32] glen-84 opened #257 "Cannot read property 'canActivate' of undefined"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
jspm 0.17.0-beta.40

* **Browser:**
all

* **Language:**
TypeScript 2.2.0

**Current behavior:**

When calling DialogService.open, it is no longer possible t

[2017-03-05 14:37] larvanitis opened #258 "Request for new release"
When can we expect a new release, please?

The latest (1.0.0-beta.3.0.1) has an issue when the dialogs `canActivate` returns false, which is fixed in dc44a34fdebfbf79129d4f4ac0c0f0009b0a2a64.

[2017-03-05 14:43] StrahilKazlachev commented on #258
We are prepping a new big one for this month.

[2017-03-05 14:43] #258 closed

[2017-03-05 14:43] larvanitis commented on #258
Thanks, I'll have to work around that issue until then.

[2017-03-05 14:47] StrahilKazlachev commented on #257
Can you provide a repro? This is strange indeed.
Is it possible to be a SystemJS issue?

[2017-03-05 16:24] glen-84 commented on #257
The Gist that you provide is using an old version of this library (aurelia-dialog@0.5.7). Is there an updated version?

No, the OP in #135 was using webpack.

[2017-03-05 17:10] StrahilKazlachev commented on #257
There isn't an updated gist - sorry.
Passing a relative path for the ViewModel directly - I'm not sure if this has been supported - *will check*.

If the following is what you meant, it should work.
[code]
I'm adding this to my *TODO* list for the next release.

[2017-03-06 11:01] stuartbloom commented on #256
@jedd-ahyoung thanks for the update.  Do you have any timeline?  if not, does the plugin have any callback that is called and can be used when the dialog is displayed/hidden?

Thanks again

[2017-03-07 10:28] glen-84 commented on #257
@StrahilKazlachev Repro @ https://github.com/glen-84/aurelia-dialog-issue

[2017-03-07 20:33] StrahilKazlachev commented on #257
@glen-84 When passing a relative path it must be relative to the app root, in SystemJS the `baseURL`.
Why using the class doesn't work, I'm not sure.
@PWKad In the repro when a class is provided to the `viewModel` setting, `Origin.get` fails to resolve the origin because [System._loader.modules](https://github.com/aurelia/loader-default/blob/a4607b97bfc2016e6feced5c04eb8259504b2efe/src/index.js#L1

[2017-03-10 12:00] StrahilKazlachev opened #260 "Support dialog integration in custom elements"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
all

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Can not make a dialog be part of a custom element - both DOM and DI hierarchy.
  1. the dialog

[2017-03-10 12:00] StrahilKazlachev commented on #260
@EisenbergEffect @PWKad What do you think?

[2017-03-10 15:34] no1melman commented on #254
What is the state on getting dialog to work with the current webpack implementation? Can it? What else do we have to do to get it to work?

[2017-03-10 18:01] EisenbergEffect commented on #260
Yes, let's support this as long as we can fall back to a the root container and the body if they aren't provided.

[2017-03-10 18:01] EisenbergEffect commented on #260
With all of the customizations, we need to make sure that the basic behavior remains as simple as always.

[2017-03-11 14:51] StrahilKazlachev commented on #257
Tracked in aurelia/loader-default#40

[2017-03-11 14:51] #257 closed

[2017-03-12 11:23] niieani commented on #254
@no1melman I didn't have the capacity to test this yet. If you do, feel free to let us know if everything works as it should, or if there are complications.
Thanks

[2017-03-13 08:27] ydbondt opened #261 "feat(dialog-controller): Add indication of user action in canDeactivate."
**I'm submitting a feature request**

* **Library Version:**
1.0.0-rc-1

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
all

* **Language:**
all

**Current behavior:**
`canDeactivate` and `deactivate` function is called just before closing a dialog. However,

[2017-03-13 15:43] EisenbergEffect commented on #261
You can return a result of any type from your custom dialogs.

[2017-03-14 08:41] ydbondt commented on #261
How do you mean ?
I would like this to work transparently, without having to program any logic in the dialog.
The way I do this dirty check is to inject the function canDeactivate() in the dialog and do the check.
When canDeactivate is called, the controller doesn't know anything about the user interaction.

To give you more context. I wrote a custom attribute that I put on the form of the dialog.

[2017-03-17 04:44] #245 closed

[2017-03-21 09:01] ydbondt commented on #261
@EisenbergEffect Since I want to make something generic I can't just write the code in the dialog callback. Can you take a look at my previous comment please ?

[2017-03-21 10:54] StrahilKazlachev commented on #261
OK, so here is a use case:
1. You need to know whether the close was *cancel* or not, and/or the output, in `.canDeactivate()`/`.deactivate()` of the dialog VM.
2. You have passed the `DialogController` to some other API and the close was triggered programmatically through the `DialogController` API.

If we go with this API extension it should:
* cover both `.canDeactivate()` and `.deactivate()`
*

[2017-03-22 14:15] glen-84 opened #264 "Invalid value for padding"
`aurelia-dialog@1.0.0-beta.3.0.1`

The padding is set to a value of `3` (it is missing the unit of measurement).

[2017-03-23 10:19] timfish opened #266 "Access dialog view/view-model from dialogService.controllers"
I've been looking into a few ways to selectively confirm the top dialog with the Enter key on the keyboard.

Firstly I tried using a custom attribute which I use on dialogs that I would like to be 'confirmable' with the enter key:

[code]

This has a few major issues:
- It does not work if the dialog loses focus
- It confirms the 1st dialog even if a 2nd dialog is over the top and the 1st one stil

[2017-03-23 11:27] StrahilKazlachev commented on #266
You go me confused. What do you mean by *selectively*?
We've added a new dialog setting, that will be available in the next release, `keyboard: boolean | 'Escape' | 'Enter' | ('Escape' | 'Enter')[]`. You can check the `DialogRenderer` in the `rc-1.0.0` branch for impl - it just adds to the current Esc key impl.

[2017-03-23 11:32] timfish commented on #266
Ah, I simply meant that I want to selectively apply it to dialogs.
Thanks, I'll check out the RC code.

[2017-03-23 20:04] Vaccano opened #267 "Will not typescript compile with March release"
**I'm submitting a bug report**

* **Library Version:**
Aurelia-Dialog 1.0.0-beta.3.0.1 (latest via npm)
Aurelia-Templating 1.3.0 (latest via npm)

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.10.1

* **NPM Version:**
4.4.4

**Webpack AND Version**
webpack 2.2.1

* **Browser:**
N/A - Typescript Compile Issue

* **Language:**
TypeScript 2.2

**

[2017-03-23 20:15] StrahilKazlachev commented on #267
This is strange, you sure your project setup is OK? Only from the errors you've provided I would say the problem is in `aurelia-templating`. But [here](https://github.com/aurelia/templating/blob/fae7342220a6a8d8fafbef38e650b09dd43db172/dist/aurelia-templating.d.ts#L1178) is the exported `ViewSlot`(will not search for the other errors).

[2017-03-23 20:18] Vaccano commented on #267
@StrahilKazlachev No, I am not sure.  I got rid of what I had and installed fresh compiled my code and got this error.  I am sure I have everything installed like I did before the upgrade, but if there is some new dependencies, I may be missing them.  (I have not updated Aurelia for some time.)

[2017-03-23 20:34] StrahilKazlachev commented on #267
There are no new deps in the dialog.
If you import any of the above, lets say `customAttribute` or `customElement` **from** `aurelia-templating` in your code, do you get the same error?

[2017-03-23 20:37] Vaccano commented on #267
@StrahilKazlachev Yep.  My bad.  For some reason that I cannot fathom, `aurelia-templating.d.ts` is not being found by the typescript compiler.  (It is clearly there on the disk in the `node_modules/aurelia-templating/dist` folder.)

I will close this issue since it is clearly not an issue with Aurelia Dialog.  Sorry for the confusion.

[2017-03-23 20:37] #267 closed

[2017-03-24 11:44] #260 closed

[2017-03-24 15:21] bellstrand commented on #183
@lulumetro Works great in evergreen browsers, but in Internet Explorer (even 11) it looks funky.

[2017-03-25 17:28] no1melman commented on #254
I didnt get it to work in the end, but that was like 2 weeks ago - I can't say i tried very hard...

[2017-03-26 12:41] StrahilKazlachev commented on #266
@timfish Does the new setting work for your case? You can specify on dialog basis whether the `ENTER` will `.ok()` the current(top) dialog - can be combined with the `ESC` key.

[2017-03-26 13:05] timfish commented on #266
Not had a chance to try this yet.

What if I want to call something other `controller.ok()`. For example, if want to call a method on the view-model to do validation checks first? Does `canDeactivate()` work here or will that only work to block navigation through the router?

[2017-03-26 13:59] StrahilKazlachev commented on #266
So currently you can set up `ESC`(`controller.cancel()`) and/or `ENTER`(`controller.ok()`), you can not pass any data or specify custom keys and/or handlers.
`.canDeactivate()` can *cancel* the closing if it returns `false | Promise<false>`, and since it you can return a `Promise` you can do some async work if needed.

[2017-03-26 14:13] StrahilKazlachev commented on #261
@EisenbergEffect @PWKad what do you think of the use case above ☝️?

[2017-03-26 14:14] timfish commented on #266
That should be exactly what I need then.

I did try `jspm install aurelia-dialog=github:aurelia/dialog@rc-1.0.0` but `dist` doesn't contain the build output for that branch so I'll have to fork it and try again.

[2017-03-26 14:14] #266 closed

[2017-03-26 14:15] StrahilKazlachev commented on #266
Yeah, sorry, we commit the dist when making a release.

[2017-03-26 14:47] timfish commented on #266
@StrahilKazlachev
A couple of things:
- Had to change my css from `ai-*` to `ux-*`. Is this permanent?
- `click.delegate="controller.cancel()"` from the view no longer closes the dialogs

[2017-03-26 15:17] StrahilKazlachev commented on #266
The `ux-*` - yes.
About the second, are there any errors in the console? Can you check if the overlay is not on too of the dialog. I'll also check again with my local sample.

[2017-03-26 15:37] StrahilKazlachev commented on #266
@timfish OK, so there is something. I'll look try to find and fix it today, in the mean time use `trigger` instead of `delegate`.

[2017-03-26 15:38] timfish commented on #266
Out of the office so will check your example later. I'm using `await` in Typescript on the `open`.

Nothing in the console. I put a breakpoint in the `aurelia-binding` delegate handler and it's making it there and the binding context all looks good. Strangely occasionally when stepping through the binding code the calls all work. Seems to suggest it's something promisey?

[2017-03-26 21:28] EisenbergEffect commented on #261
I'm fine to add something like this. However, instead of simply passing a boolean to the callback, we should pass an object with properties. This would allow it to match the same basic signature as what the router would do with these callbacks and it allows us to add other parameters in the future, if needed.

[2017-03-27 08:06] ydbondt commented on #261
I'll change the PR.

[2017-03-31 00:38] Vaccano commented on #258
The aurelia release did not have a new version of `aurelia-dialog`.

Did I miss something or was the promise of a big release not intended for `aurelia-dialog` (even though the issue was asked on the dialog repository).

[2017-03-31 00:46] Vaccano commented on #254
@niieani Just an FYI, this does not work.  I get the following error:

**Unable to find module with ID: aurelia-dialog**

Here is the full stack trace:

    at WebpackLoader.<anonymous> (http://my-computer/my-app/bundle.js:35379:35)
    at step (http://my-computer/my-app/bundle.js:35228:23)
    at Object.next (http://my-computer/my-app/bundle.js:35209:53)
    at http://my-computer/my-app/bundle.js

[2017-03-31 01:21] Vaccano commented on #254
I was able to get it working using the ModuleDependencyPlugin:

Declare:

        const { AureliaPlugin, ModuleDependenciesPlugin } = require('aurelia-webpack-plugin');

Added to `plugins`

         new ModuleDependenciesPlugin({
            "aurelia-framework": [ 'aurelia-dialog' ],
            "aurelia-dialog": [ './ai-dialog', './ai-dialog-header', './ai-dialog-body',

[2017-03-31 08:23] jods4 commented on #254
@Vaccano
The first part looks like you forgot to `moduleName` the plugin when you import it:
[code]
The internal stuff has to be done inside the `aurelia-dialog` library itself.

[2017-03-31 20:45] Vaccano commented on #254
@jods4 Do I need the `PLATFORM.moduleName` even if I am not doing any splits?

[2017-03-31 20:49] Vaccano commented on #254
@jods4 You are right.  Adding in the `PLATFORM.moduleName` made the first part unneeded.

[2017-04-11 03:26] #264 closed

[2017-04-13 09:52] radenkozec opened #275 "Aurelia Dialog closes on mouse up not mouse down"
This is not a bug but not expected behavior.

**Current behavior:**
I have unexpected behavior on Aurelia Dialog. I have enabled auto-closing dialog.
What is the problem is that Aurelia Dialog captures events outside dialog on mouse up not mouse down event.
This way I have unwanted behavior when I have input box in Aurelia Dialog body with some text already populated.
User wants to select text and

[2017-04-13 22:39] StrahilKazlachev commented on #275
Currently the `click` event is used. I'll see what can be done to cover this use case, I also have one more in mind. Will follow up when I have something.

[2017-04-21 09:35] heruan commented on #254
The `master` branch has support for the latest Webpack plugin (`PLATFORM.moduleName` and such). Any ETA for the next release?

[2017-04-21 11:03] StrahilKazlachev commented on #254
@heruan Very soon.

[2017-04-24 20:39] RobertHerhold opened #276 "No property observer for a property declared in a superclass within a dialog"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.4

* **Node Version:**
7.6.0

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
webpack 1.13.2

* **Browser:**
Chrome 57.0.2987.133

* **Language:**
ESNext

My code (sorry for so many files, but this is how I can reproduce it on my system)

[2017-04-24 20:49] StrahilKazlachev commented on #276
See if aurelia/templating#463 is of any help.

[2017-04-25 11:19] stsje commented on #239
The docs in README seems to have been removed.
The hub docs don't work (it isn't loading). Has been a problem for weeks now.

Did you guys mean to remove the docs from the README already, or was it a mistake?

[2017-04-25 12:38] StrahilKazlachev commented on #239
@stsje Removing the docs from the README is not a mistake. About the HUB, so far there hasn't been a dialog page. With the next release of the dialog that should be rectified(hope it's this week).

[2017-04-25 12:53] stsje commented on #239
@StrahilKazlachev But you are linking to the hub docs in the README: http://aurelia.io/hub.html#/doc/article/aurelia/dialog/latest/dialog-basics

So we're supposed to view the history of README to find the docs?

[2017-04-25 14:41] StrahilKazlachev commented on #239
@stsje No, you are not supposed to view the history, just it's taking a bit longer than anticipated to get the release. After the release the HUB page should be OK.

[2017-04-25 14:45] stsje commented on #239
Can't you just rollback the README until the hub page is released?

The docs for the dialog plugin has been missing for quite a while now. I don't see how that can be acceptable when so many of us are using the plugin.

[2017-04-25 15:05] StrahilKazlachev commented on #239
I can, but that will not help much. The release is scheduled for this week, right @EisenbergEffect? There are changes, new features, ... Those that are unable to upgrade to the RC will have to check an older version, by tag, ... - didn't think of that in the previous message.

[2017-04-25 15:28] EisenbergEffect commented on #239
Yes, it's going out this week :)

[2017-04-26 19:03] Robbe64 opened #277 "Named slot inside ai-dialog not working."
**I'm submitting a bug report**

* **Library Version:**
aurelia-dialog@1.0.0-beta.3.0.1
aurelia-templating@1.4.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Browser:**
Chrome 58
* **Language:**
TypeScript

**Current behavior:**
I've created a custom element for dialogs and tried to use named slots inside like this:
[code]
But the slot is never filled. Even t

[2017-04-27 14:37] tetious opened #278 "Documentation link in readme.md broken"
The link in the readme seems to lead to a bad URL on Aurelia Hub that just shows a loading spinner forever.

I tried poking around and using the search to find the correct link and was unsuccessful. Maybe it didn't get deployed?

Documentation content does seem to be in this repo... :)

[2017-04-27 15:07] StrahilKazlachev commented on #278
The docs will be available in the hub with the next release, hopefully. The docs are in `./doc/article/**.*`.

[2017-04-27 15:07] #278 closed

[2017-04-28 07:03] bernatvadell opened #279 "Issue installing typings... status code (404)"
Hi guys,
I've a bug when try install a typings.
When execute typings install github:aurelia/dialog displays on console the next message:

typings ERR! message Unable to read typings for "aurelia-dialog". You should check the entry paths in "typings.json" are up to date
typings ERR! caused by https://raw.githubusercontent.com/aurelia/dialog/master/dist/aurelia-dialog.d.ts/index.d.ts responded with

[2017-04-28 08:33] StrahilKazlachev commented on #279
The `typings.json` has not been updated. The `typings` field in the `package.json` is OK.

[2017-04-28 09:03] StrahilKazlachev commented on #277
Not dialog related.
Also I don't see it as an issue. When using a custom element and adding a `slot`, with fallback content, as a direct child of it, you should do it to target a slot in that custom element - more [here](http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-content-projection/4).
[code]
Wrapping it in another element, in your case `<span>`, works since that

[2017-04-28 09:03] #277 closed

[2017-04-28 09:14] StrahilKazlachev commented on #22
The new `rejectOnCancel` setting provides the ability to opt-in to rejecting the promise when canceling. Off by default.

[2017-04-28 09:14] #22 closed

[2017-04-28 09:18] StrahilKazlachev commented on #179
The new `host` setting allows specifying the element to parent the dialog. Defaults to the `<body>`.

[2017-04-28 09:18] #179 closed

[2017-04-28 09:20] StrahilKazlachev commented on #204
Fixed in the latest release.

[2017-04-28 09:20] #204 closed

[2017-04-28 09:23] StrahilKazlachev commented on #217
Done and released. Common build infrastructure is being discussed separately.

[2017-04-28 09:23] #217 closed

[2017-04-28 09:55] AdamWillden commented on #279
@StrahilKazlachev are you looking at this right now or do I need to create a local workaround (trying to perform a release of software and ran into this issue)

[2017-04-28 10:06] StrahilKazlachev commented on #216
The latest release has this covered - `interface OpenDialogResult`.

[2017-04-28 10:06] #216 closed

[2017-04-28 10:07] AdamWillden commented on #279
See related PR which I guess should allow this to function again.

[2017-04-28 10:13] StrahilKazlachev commented on #220
With `rc-1` we introduced the `childConainer` setting. You can provide a `Container`, preconfigured how to resolve `Renderer`, per `.open()` call.

[2017-04-28 10:13] #220 closed

[2017-04-28 10:15] StrahilKazlachev commented on #254
Out in `1.0.0-rc.1`.

[2017-04-28 10:15] #254 closed

[2017-04-28 10:20] StrahilKazlachev commented on #214
`DialogService.prototype.closeAll()` is in `1.0.0-rc.1`.

[2017-04-28 11:10] bernatvadell commented on #279
@AdamWillden your changes have worked for me. @StrahilKazlachev can you merge to master?

[2017-04-28 11:39] jods4 commented on #254
@StrahilKazlachev thanks!
I updated aurelia/pal#21 accordingly.

[2017-04-28 14:38] TGMorais commented on #239
Any ETA on this?
The blog post was out yesterday, but the docs link is still [broken](http://aurelia.io/hub.html#/doc/article/aurelia/dialog/latest/dialog-basics), leaving aurelia-dialog rather undocumented.

[2017-04-28 14:50] StrahilKazlachev commented on #239
@TGMorais Probably next week. The docs have been basically moved [here](https://github.com/aurelia/dialog/blob/master/doc/article/en-US/dialog-basics.md).

[2017-04-28 14:54] don-bluelinegrid commented on #214
Upgrading from 1.0.0-beta-3 to 1.0.0-rc.1 produces many typing errors:

[code]
Please provide a readme/changelog that provides migration instructions.

Thanks,
Don

[2017-04-28 15:13] RomkeVdMeulen opened #281 "Events on elements inside dialog are prevented (RC1)"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 16.04)

* **Node Version:**
6.10.2

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
Chrome 58

* **Language:**
TypeScript 2.2.1

**Current behavior:**
Most interactive elements inside a dialog stopped working

[2017-04-28 15:23] dinkzilla opened #282 "Dialog's no longer have borders or modals"
I updated from 1.0.0-beta.3.0.1 to 1.0.0-rc.1 this morning and all of the dialogs in my project lost their container and modal. Switching back to the beta version immediately fixed issue, all other things in my project and environment remaining the same.

I don't have time today to look into what is happening or produce a repro demo unfortunately, but I wanted to get this out there since it doesn'

[2017-04-28 15:23] StrahilKazlachev commented on #214
http://blog.aurelia.io/2017/04/27/aurelia-dialog-release-candidate/
https://github.com/aurelia/dialog/blob/master/doc/article/en-US/dialog-basics.md - still not published in the HUB
TS =>2.2

[2017-04-28 15:26] StrahilKazlachev commented on #282
Did you saw the breaking changes in naming for elements/css classes(`ai-` =>`ux-`)?

[2017-04-28 15:27] RomkeVdMeulen commented on #282
See breaking changes in [release notes](http://blog.aurelia.io/2017/04/27/aurelia-dialog-release-candidate/)

[2017-04-28 15:30] StrahilKazlachev commented on #281
I'll look into it when I get back from work. I do remember fixing something like this 😞

[2017-04-28 15:33] don-bluelinegrid commented on #214
@StrahilKazlachev

With all due respect, the reply is not really helping me.  I read through both of the links you provided, and those both appear to provide "Getting Started" information for implementation.  I don't see any information about migration from the previous version, and I saw no information about a specific version dependency for TypeScript.

Where do we find the dependency informatio

[2017-04-28 15:50] dinkzilla commented on #282
Makes sense, I had not seen those.
Are these breaking changes referenced somewhere on Github?

[2017-04-28 17:08] #279 closed

[2017-04-28 17:57] larserikfinholt opened #283 "An anchor tag in dialog-body causes infinite loop"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.1

**Please tell us about your environment:**
Windows 10

* **Node Version:**
6.10.0

* **NPM Version:**
4.0.5

* **Webpack**
webpack 2.4.1

* **Browser:**
chrome

* **Language:**
TypeScript 2.3

**Current behavior:**
Dialog goes into recurisve loop and terminates with a stackoverflow exception when there is an anchor tag in the

[2017-04-28 18:07] StrahilKazlachev commented on #283
Will check after #281, probably the same cause.

[2017-04-28 18:22] StrahilKazlachev commented on #281
It's only the click handler, now I'm trying to find/remember why I did it like that.

[2017-04-28 19:09] StrahilKazlachev commented on #283
I'm not able to reproduce this - Chrome 58.0.3029.81. Does it crash when you open it or after some interaction? A repro is appreciated.

[2017-04-28 19:15] StrahilKazlachev commented on #282
@dinkzilla Only in the [changelog](https://github.com/aurelia/dialog/blob/master/doc/CHANGELOG.md), but there isn't a *breaking change* marker. I'll leave this open if the naming change is not the case.

[2017-04-28 19:20] don-bluelinegrid commented on #214
@StrahilKazlachev

I followed some other advice about resolving the typescript errors in Aurelia, and that eliminated most of the typings errors.

However, now i am seeing errors specifically related to aurelia-dialog:

[code]

Are these related to breaking changes in aurelia-dialog rc-1?  Is there specific information about breaking changes and developer migration instructions?  I looked at your

[2017-04-28 19:38] StrahilKazlachev commented on #214
Apologies for the lack of sufficient migration documentation. Regarding `class DailogResult` it is a slip on my part, it is removed. In the API is replaced by [interface DialogCloseResult](https://github.com/aurelia/dialog/blob/1.0.0-rc.1.0.1/src/dialog-result.ts#L20).
Also the usage of the dialog plugin does not require TS. The source was migrated to TS and is currently compiled with TS 2.2. The

[2017-04-28 20:44] don-bluelinegrid commented on #214
@StrahilKazlachev
Thanks for the reply.

This is still unclear to me about how to migrate my code that was using beta-3.  I have a lot of code that looks like this:

[code]

The current implementation of ```dialogService.open()``` seems significantly different than this.  How exactly do I get access to DialogController after opening the dialog - or, is there a different pattern to use now?

Also,

[2017-04-28 20:48] dinkzilla commented on #282
Can you please add it to the changelog? Preferably note breaking changes there directly, but at least a link to that Aurelia Blog entry would have been super helpful.

[2017-04-28 21:29] don-bluelinegrid commented on #214
@StrahilKazlachev

Hi -

I am seeing other issues now, as I am trying to refactor.

1. First of all, I see that the DialogController is available in the Promise result object, but there is something wrong with the typings, because this is appearing as a plain native Object, not any DailogXXResult type.

2. Second, I see there is a not about removing "viewModel" from the controller because it was u

[2017-04-28 21:30] StrahilKazlachev commented on #214
`old` => `new`
`dialogService.openAndYieldController(...).then(controller => ...)` => `dialogService.open(...).then((result: DialogOpenResult | DialogCancelResult) => ...)` - resolves when the dialog opens/shows(**not** closed) with `DialogOpenResult`, or when `canActivate` returns/resolves to false - considered a cancellation, resolves with `DialogCancelResult`.

`dialogService.open(...).then((re

[2017-04-28 21:37] StrahilKazlachev commented on #214
`DialogController` - the `.viewModel`, `.view` and `.controller` were available directly on the `DialogController` instance. Since `controller: Controller`(from `aurelia-templating`) contained them it was unnecessary duplication.

[2017-04-28 21:40] don-bluelinegrid commented on #214
OK, thanks.
And what will be the `new` version of this?

[code]

[2017-04-28 21:43] StrahilKazlachev commented on #214
The controller is no longer augmented. Use the `OpenDialogResult` `closeResult` property.

[2017-04-28 21:50] StrahilKazlachev commented on #282
@dinkzilla Will bring it up with the team.

[2017-04-29 00:01] jrigsby opened #284 "input type=file no longer works after loading RC"
**I'm submitting a bug report**

* **Library Version:**
RC latest as of 4/28/2017

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v7.7.2

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.52

* **Browser:**
Chrome Version 57.0.2987.133 (64-bit)
also IE and Edge

* **Language:**
Typescript 2.1.5

**Current behavior:**
Prior to

[2017-04-29 04:51] MECLab-Michelle opened #285 "DialogRenderer must implement getDialogContainer()"
Hi Team,

Not sure if this is a bug or if I am missing something. I have a very simple dialog that I am attempting to launch but fails with an exception.

Details as follows:

* **Library Version:**
[code]

* **Operating System:**
Windows 10

* **Node Version:**
7.7.2

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
Chrome 57.0.2987.133

* **Language:**
ESN

[2017-04-29 06:22] StrahilKazlachev commented on #284
Tracked in #281

[2017-04-29 06:22] #284 closed

[2017-04-29 06:36] StrahilKazlachev commented on #285
The log shows that the `DialogRenderer` is not registered in the DI container under the `Renderer` key. Check your plugin configuration if you really are calling `.useDefaults()`. If this is the only thing you do in the config callback, just skip the callback altogether.

[2017-04-29 06:36] #285 closed

[2017-04-29 21:34] MECLab-Keags commented on #285
@StrahilKazlachev cheers for the help.
You were right on the money. It seems that I was't bootstrapping main.js correctly.

I was using `aurelia-app` instead of `aurelia-app="main"` in my body html tag.

Again thanks for the help.

[2017-04-29 21:58] RomkeVdMeulen commented on #281
Not just the clickhandler: keyboard also doesn't work. It should be possible to tab to a checkbox and hit space to check it but that also doesn't work.

[2017-04-29 22:03] StrahilKazlachev commented on #281
Tried exactly that, the `click` handler gets invoked. It's not hard to fix, I'm just trying to reason with the *beta* version of the handler.

[2017-04-30 08:51] #281 closed

[2017-04-30 15:04] jrigsby commented on #281
I just updated and #284 is still a problem.  I looked at the code and see the changes in dialog-renderer.js, so the update got the latest.  When I open my dialog and press the type=file nothing happens.

[2017-05-01 14:43] sebastien-roch commented on #244
Found out that it works like this now:

[code]

[2017-05-02 06:52] larserikfinholt commented on #283
ok, did take the latest typescript skeleton, and reproduced with the following (I'll add each step, maybe you can spot where I'm going wrong)

_index.ejs_
Added `<div aurelia-app="main">` (instead of having on body)

_package.json_
Added ` "aurelia-dialog": "^1.0.0-rc.1.0.2",`

_main.ts_
Added ` .plugin(PLATFORM.moduleName('aurelia-dialog'), config => { config.useDefaults(); config.settings.lock =

[2017-05-02 13:16] rjpvroegop opened #286 "Dependency injection not working in the dialog"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-rc.1.0.2

* **Operating System:**
Linux (ubuntu)

* **Node Version:**
7.9.0

* **NPM Version:**
4.2.0

* **Aurelia CLI version**
0.27.0

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Dependency injection from the DI container does not share its state with the dialog.

**Expected/desired behavior:**
If you inject

[2017-05-02 13:19] rjpvroegop commented on #286
I've posted this on SO as a question, too: http://stackoverflow.com/questions/43738446/how-do-i-inject-objects-from-the-di-container-in-aurelia-dialog

[2017-05-02 13:54] rjpvroegop commented on #286
The answer was passing a child container into the dialog when creating it. See the stack-overflow answer for details. This works perfect.

[2017-05-02 13:54] #286 closed

[2017-05-02 14:57] sebastien-roch opened #287 "Typescript complains about "object" in definition"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.2

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.1

* **NPM Version:**
4.4.4

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.27

* **Browser:**
all

* **Language:**
TypeScript 2.1.1

**Current behavior:**
The typescript compiler complains with this error:
[code]
I gues

[2017-05-02 15:30] StrahilKazlachev commented on #287
Checking what should be the min TS version.

[2017-05-02 16:00] StrahilKazlachev commented on #283
@jods4 @EisenbergEffect Some help would be appreciated. I can not reproduce with non-webpack build. The recursion starts in `aurelia-templating` [return m.create](https://github.com/aurelia/templating/blob/1.4.2/src/composition-engine.js#L146) then it loops through:
1. [HtmlBehaviorResource.prototype.create](https://github.com/aurelia/templating/blob/1.4.2/src/html-behavior.js#L338)
2. [ViewFactor

[2017-05-02 18:53] don-bluelinegrid commented on #284
+1

Experiencing the same problem; has broken several critical aspects of our application.

[2017-05-02 18:55] don-bluelinegrid commented on #281
+1

I am experiencing the same problem described in #284; has broken several critical aspects of our application.

[2017-05-02 20:52] AdamWillden commented on #281
Am I correct in thinking that the linked fix is not yet in a release? I have a form within a dialog which will not submit. Am I right to assume the behaviour is related to this bug?

[2017-05-02 23:00] jods4 commented on #283
I don't see how that could be even remotely linked to Webpack...
Surely Webpack is not the _only_ difference between a working build and a broken one, is it?

What strikes me as odd is that this `<a>` gets tagged with `.au-target`.
I'm no expert in our view compiler, but doesn't that mean that Aurelia thinks this tag has a behavior applied -- i.e. that it is a custom element or that it has a custo

[2017-05-03 07:16] AdamWillden commented on #281
@EisenbergEffect it appears you perform the releases yourself. Is it possible to get this into a release ASAP, it's quite a critical bug.

[2017-05-03 08:10] StrahilKazlachev commented on #283
@jods4 [here](https://github.com/StrahilKazlachev/aurelia-dialog-err) is simplified repro and a cli setup using the same sources.

[2017-05-03 09:37] StrahilKazlachev commented on #283
@jods4 in the bundle in ` CompositionEngine.prototype.ensureViewModel` function body I see this
` var m = __WEBPACK_IMPORTED_MODULE_1_aurelia_metadata__["a" /* metadata */].getOrCreateOwn(__WEBPACK_IMPORTED_MODULE_1_aurelia_metadata__["a" /* metadata */].resource, HtmlBehaviorResource, context.viewModel.constructor);`
I don't know what `__WEBPACK_IMPORTED_MODULE_1_aurelia_metadata__["a" /* metadat

[2017-05-03 09:47] jods4 commented on #283
It's the compiled import/export. Everything is renamed, Webpack leaves comments so that you can figure out what is what.

`__WEBPACK_IMPORTED_MODULE_1_aurelia_metadata__` is `aurelia-metadata`.
`"a"` is its `metadata` export.

So I read the code above like:
[code]

[2017-05-03 10:50] StrahilKazlachev commented on #283
@jods4 I found the issue, the `HtmlBehaviorResource` created for the dialog vm `class RequestDialogNew` gets an `elementName` of *a* in the webpack case. In the cli case it is *request-dialog-new*.
`ModuleAnalyzer.prototype.analyze` uses the `fallbackKey` when creating the resource. And webpack has rewritten the export names, the cli hasn't.

[2017-05-03 11:26] jods4 commented on #283
@StrahilKazlachev OK I see.

Some background:
- Webpack does rename exports for minimal size.
- Aurelia has a dependency on exported names if you use conventions, e.g. `MyAwesomeButtonCustomElement` is interpreted as a custom element `<my-awesome-button>`.
- Dependencies created with the Aurelia plugin (through `PLATFORM.moduleName`, `<require>`, `ModuleDependenciesPlugin` and co.) preserve the ex

[2017-05-03 12:21] StrahilKazlachev commented on #283
@jods4 Mmm, we basically delegate all the lifting to the `CompositionEngine`.
1. If `viewModel` is
  * constructor function - use `Origin` to acquire the module name and fall to the case bellow.
  * string - it is the module name, do nothing
    * call `CompostionEngine.prototype.ensureViewModel` with the module name, it will return the instantiated the VM
  * is object - do nothing - the view mod

[2017-05-03 12:25] StrahilKazlachev commented on #283
@larserikfinholt Not a bug in the dialog.
I tried what @jods4 suggested and it works, use `PLATFORM.moduleName('./request-dialog');` iwhere you do `import { RequestDialogNew } from './request-dialog';`, not nice but a workaround.
When we have time we will check **if** there is something we ca rework in the dialog itself to avoid this scenario from happening.

[2017-05-03 12:33] larserikfinholt commented on #283
@StrahilKazlachev  Thanks for you attention to this issue, and for finding a workaround.
You might add a note about this in the dialog docs.

Thanks again for your contributions to aurelia.

[2017-05-03 12:59] jods4 commented on #283
@StrahilKazlachev Maybe we should open an issue in `aurelia-templating`?

I'm no expert, but my understanding of this code:
https://github.com/aurelia/templating/blob/7693dbd65e59e428e4052922920145b76240f3cf/src/module-analyzer.js#L253
is that the module analyzer will consider that is your export has no decoration, no metadata, does not follow any convetion... then it's a custom element given by i

[2017-05-03 14:48] StrahilKazlachev commented on #287
For now we are staying TS >=2.2 compliant.

[2017-05-03 14:48] #287 closed

[2017-05-03 14:58] #282 closed

[2017-05-03 15:19] EisenbergEffect commented on #283
Aurelia does *not* rely on class names. It relies on export names which should be preserved since they are part of the public API contract for a module.

[2017-05-04 07:00] larserikfinholt commented on #283
In case others have the same trouble. A few workarounds has been presented in this thread, I ended up with this one that works fine:

In `request-dialog.ts`

     constructor(private controller: DialogController) {
        PLATFORM.moduleName('./request-dialog');
     }

[2017-05-04 09:47] bebor opened #288 "the change `dialog-renderer: let click events bubble (6a03bbd)` causes a click event not to be handled by the target"
**I'm submitting a bug report**

* **Operating System:**
linux 4.10.13-1-ARCH

* **Node Version:**
v7.5.0

* **NPM Version:**
3.8.9
4.1.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17
webpack 2.4.1

* **Browser:**
all | Chromium Version 58.0.3029.81 (64-bit)

* **Language:**
all

**Current behavior:**
`
  <ux-dialog class="import-dlg">
    <ux-dialog-body>
     <md-file

[2017-05-04 09:57] StrahilKazlachev commented on #288
Duplicate of #281 - awaiting release.

[2017-05-04 09:57] #288 closed

[2017-05-04 10:01] StrahilKazlachev commented on #239
@PWKad Can we close this now?

[2017-05-04 10:11] stsje commented on #239
Really nice. The new documentation is well written.

[2017-05-04 13:31] AStoker commented on #155
@kuechlerm, did you figure out your issue with the test? Just starting to see this on my machine.

[2017-05-04 15:33] jods4 commented on #283
That's a work-around but I think it's less than ideal and I'm pretty sure others will hit this.

@larserikfinholt
Now that it works, could you please try to add an unknown
`<request-dialog-new>test</request-dialog-new>`
in your template (where the `<a>` is).
I suspect it will break and that would be proof that there is a bug in `aurelia-templating`.

[2017-05-04 15:52] CD-UNCC opened #289 "Forms no longer work within <ux-dialog-body> [submit.delegate] broken"
**I'm submitting a bug report**

* **Library Version:**
aurelia-dialog@1.0.0-rc.1.0.2

**Please tell us about your environment:**
* **Operating System:**
Win 10 x64

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
using aurelia-cli

* **Browser:**
Chrome latest

* **Language:**
ESNext

**Current behavior:**
Putting a form in an aurelia-dialog modal and tyin

[2017-05-04 17:19] RobertHerhold opened #290 "Promise resolves immediately after opening a dialog"
**I'm submitting a bug report**
* **Library Version:**
1.0.0-rc.1.0.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.4

* **Node Version:**
7.6.0

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
webpack 1.13.2

* **Browser:**
Chrome 57.0.2987.133

* **Language:**
ESNext

**Current behavior:**

Promise returned from `dialogService.open` resolves immediatel

[2017-05-04 17:38] CD-UNCC commented on #290
you can no longer use `open().then()` you must use `open().whenClosed((response)=>{/*logic*/})`

[2017-05-04 17:44] RobertHerhold commented on #290
@CD-UNCC Thanks, that works. What's the benefit of using `whenClosed` instead of just a standard Promise?

[2017-05-04 17:47] CD-UNCC commented on #290
@RobertHerhold not sure. probably had something to do with being able to configure aurelia-dialog to break the promise chain with an error upon cancel now if the user wanted to. This version has brought lots of changes. I have an issue open at the moment where forms no longer work in modals. If you check the docs page on the git readme, however, its up to date if you have further inquires.

[2017-05-04 17:59] RobertHerhold commented on #290
👍 Thanks

[2017-05-04 17:59] #290 closed

[2017-05-04 18:42] StrahilKazlachev commented on #289
#281

[2017-05-04 18:42] #289 closed

[2017-05-04 20:18] CD-UNCC commented on #281
New to this, how can I be informed when this path is live?

[2017-05-04 20:30] AdamWillden commented on #281
Best bet is to keep an eye on the commits/releases, there's no automated method to get notified ...someone might be kind enough to ping a message on here to say when it's released!

[2017-05-05 04:09] #239 closed

[2017-05-05 04:09] EisenbergEffect commented on #214
We shipped an PI for this, so closing.

[2017-05-05 04:09] #214 closed

[2017-05-05 04:10] EisenbergEffect commented on #249
@jedd-ahyoung Can this be closed?

[2017-05-05 04:11] EisenbergEffect commented on #281
Released :)

[2017-05-05 04:11] EisenbergEffect commented on #289
Released :)

[2017-05-05 07:58] AdamWillden commented on #281
Just wanted to confirm that the fix worked for my use case :-) Thanks for the release.

[2017-05-05 12:50] CD-UNCC commented on #289
@EisenbergEffect You are a glorious human being. Thank you

[2017-05-11 10:33] salminio opened #292 "Close button (x) should automatically appear when dialogController.settings.lock = true"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-dialog": "1.0.0-beta.3.0.1",

**Please tell us about your environment:**
* **Operating System:**
Windows 7 (although it's true for others I've tested on)

* **Node Version:**
v7.7.4

* **NPM Version:**
npm info using npm@4.1.2
npm info using node@v7.7.4
npm info ok
3.8.6

* **JSPM OR Webpack AND Version**
aurelia-cli (AMD)

* **Brows

[2017-05-11 13:13] JSeligsohn commented on #292
According to [this](http://blog.aurelia.io/2017/04/27/aurelia-dialog-release-candidate/) blog post, announcing the updated version - 1.0.0-rc.1.0.3 there is a bindable property `showCloseButton`.
Add it to the `<ux-dialog-header>` tag like this:
`<ux-dialog-header showCloseButton.bind="false">`

[2017-05-12 10:24] StrahilKazlachev commented on #292
Working as intended.
We acknowledged that the `lock` is too involved, that's why we introduced the `keyboard` and `overlayDismiss` settings as well as the bindable property `show-close-button`, as @JSeligsohn mentioned. `lock` is still present since we wanted to keep the breaking changes at minimum. It is used to init settings that were not set, keeping the beta version behavior.

[2017-05-12 10:24] #292 closed

[2017-05-14 03:49] #276 closed

[2017-05-16 19:10] sebastien-roch opened #294 "Unhandled rejection TypeError: Cannot read property 'querySelectorAll' of undefined"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
2.1.0-beta.27

* **Browser:**
all

* **Language:**
TypeScript 2.1

**Current behavior:**
When opening a dialog, i get an exception:
[code]

**Expected/desired beha

[2017-05-16 20:33] jdemeuse1204 commented on #254
@StrahilKazlachev Why was this closed?  I do not see this issue as resolved.  I am still getting `Unhandled rejection Error: Unable to find module with ID: aurelia-dialog`.  I have the latest skeleton as of two days ago.

[2017-05-16 20:36] jdemeuse1204 commented on #254
@StrahilKazlachev I am trying to load the dialog with options:

` .plugin(PLATFORM.moduleName('aurelia-dialog'), config => {
      config.useDefaults();
      config.settings.lock = true;
      config.settings.centerHorizontalOnly = false;
      config.settings.startingZIndex = 9999;
    })`

this does not work, however ` .plugin(PLATFORM.moduleName('aurelia-dialog'))` does work.  This should be a

[2017-05-16 21:05] jods4 commented on #254
@jdemeuse1204
Something is confusing because the situation you describe can't really happen.

Having `PLATFORM.moduleName('aurelia-dialog')` in the file ensures inclusion by Webpack.
So if it works in the second case, there is no way the first case results in `Error: Unable to find module with ID: aurelia-dialog` at runtime.

Other things could go wrong but not that.

[2017-05-16 21:21] jdemeuse1204 commented on #254
@jods4 I am not sure how, but that is the case.  I can create a quick repo if you want to see it, or would you rather see a gist?

[2017-05-16 21:48] jods4 commented on #254
have you taken the debugging steps outlined in the wiki?
What is the problem in the first case: `aurelia-dialog` is _not_ in your bundle? Or is it there under an alternate name? Or is it correctly there?

[2017-05-17 12:32] jdemeuse1204 commented on #254
I have `aurelia-dialog` installed, and am trying to use it as a plugin but I cannot configure it.  I get this error referenced above.

`Unhandled rejection Error: Unable to find module with ID: aurelia-dialog`

[2017-05-17 13:00] jods4 commented on #254
Have a look at the output of webpack with `--display-modules` please and let me know if the module is really missing or if it has an incorrect ID.

https://github.com/aurelia/webpack-plugin/wiki/Debugging-missing-modules#cant-find-module-id-at-runtime

[2017-05-23 10:13] StrahilKazlachev commented on #283
Tracked in aurelia/templating#549

[2017-05-23 10:13] #283 closed

[2017-05-25 11:19] rowellx68 opened #295 "Uncaught TypeError createElement is not a function - Webpack"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.5

* **Node Version:**
7.10.0

* **NPM Version:**
4.6.1

* **JSPM OR Webpack AND Version**
webpack 2.6.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Throws a console error originating from [dialog-renderer](https://github.com/aurel

[2017-05-29 07:13] radenkozec opened #296 "Dialog is 100% transparent when upgrading to RC dialog"
**I'm submitting a bug report**

* **Library Version:**
npm:aurelia-dialog@1.0.0-rc.1.0.2 and rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
 Chrome

* **Language:**
ESNext

**Current behavior:**

**Expected/desired behavior:**
When upgraded

[2017-05-29 10:30] StrahilKazlachev commented on #296
Did you update the custom elements names accordingly(`ai-` => `ux-`)? Also if you have custom styles you'll have to update all places where you have `ai-`.

[2017-05-30 07:06] radenkozec commented on #296
So @StrahilKazlachev this is breaking change? I need in all my custom elements update:
 <ai-dialog>
        <ai-dialog-body>
<ai-dialog-footer

to appropriate ux variants such as ux-dialog right?

Did not noticed this is breaking change sorry. I will close this ticket now.

[2017-05-30 07:06] #296 closed

[2017-05-31 06:20] StrahilKazlachev commented on #295
@PWKad If I remember correctly we've discussed this scenario already and decided that the dialog(or any other module depending on PAL) should not be loaded before the PAL is initialized, right?

[2017-05-31 08:39] rowellx68 commented on #295
Is there a possible workaround for this bug?

[2017-06-01 04:14] PWKad commented on #295
@StrahilKazlachev seems correct I thought those in the know with WebPack mentioned how this should not be able to happen (I thought) but if it is not working when compiled does that just mean that you forgot to include polyfills?  Not very familiar with webpack...

[2017-06-01 04:37] StrahilKazlachev commented on #295
@rowellx68 could you see if this helps - aurelia/webpack-plugin#103?

[2017-06-01 20:58] doubleaa93 commented on #295
I'm getting same error but not when compiled but when running karma and testing a component that imports the DialogService

[2017-06-04 01:04] dkent600 opened #297 "Example code still using the old html tags"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v6.10.3

* **NPM Version:**
5.0.0

* **JSPM OR Webpack AND Version**
webpack 2.5.1

* **Browser:**
All

* TypeScript 2.3

**Current behavior:**
`prompt.html` in the shipped doc\example folder is still using old `ai` instead of th

[2017-06-04 12:47] Inawire commented on #182
Thanks @shanegray that worked for me since that was the only thing I wanted to override. Note on June 4, 2017 I had to override ux-dialog-overlay.active. I think at some point ai- was changed to ui-

To others, there are some other ways to do this with the API but I can only find references to it in these closed issues not on the doc hub. This trick was quick and simple but not for all.

[2017-06-04 16:26] dkent600 opened #298 "viewModel is not found by webpack"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.3
* **NPM Version:**
5.0.0

* **JSPM OR Webpack AND Version**
webpack 2.5.1

* **Browser:**
All

* **Language:**
TypeScript 2.3

**Current behavior:**
DialogService is not finding my viewModel.  It does not report the proble

[2017-06-06 19:02] RichiCoder1 commented on #275
Ideally it would only close if both the mouse down & mouse up are outside the dialog bounds. That may be a little complicated however.

[2017-06-07 13:05] dkent600 commented on #298
Would be nice to know if there are any workarounds for the time being.  At the moment I've got no dialogs...

[2017-06-07 16:52] StrahilKazlachev commented on #295
Closing since I think aurelia/webpack-plugin#103 explains quite well the issue and what to do.

[2017-06-07 16:52] #295 closed

[2017-06-07 17:02] StrahilKazlachev commented on #298
OK, finally found it - a nice [explanation](https://github.com/aurelia/dialog/issues/283#issuecomment-298885151) of what is happening. It is related to a separate issue but the `import` part is the same.

[2017-06-07 19:38] eamodio commented on #283
We've hit the same issue moving from our previous systemjs/jspm setup to webpack. Is there a way to get webpack to stop shortening the sames for these modules?

[2017-06-07 19:42] StrahilKazlachev commented on #283
@eamodio Did you try using `PLATFORM.moduleName()` in any of the suggested ways, for [example](https://github.com/aurelia/dialog/issues/283#issuecomment-299110588)?

[2017-06-07 19:49] eamodio commented on #283
@StrahilKazlachev thanks for the quick reply! Yeah, we tried the `PLATFORM.moduleName()` and it does indeed work, but I was more asking if there was a more global/configuration setting to get the same behavior without having to explicitly tag each case.

[2017-06-07 19:57] StrahilKazlachev commented on #283
As far as I've understood - no. @jods4 ☝️ am I wrong?

[2017-06-07 20:28] jods4 commented on #283
@eamodio I don't think so but I would need to dive into Webpack source code to be sure.

You can try to work-around it in a few ways, though...
- Modules that are declared as Aurelia dependencies somewhere (with `moduleName` or `ModuleDependenciesPlugin` for example) should not have their exports renamed.
-  Same for modules that are `import * as X from "..."`
- Only ES `export` are renamed. So if

[2017-06-07 20:49] eamodio commented on #283
@jods4 Thank you for the follow up. We weren't able to get `import * as X from "..."` to work -- seem to have the same error, but `moduleName` worked, and might check out `ModuleDependenciesPlugin` -- thanks for that info.

Yeah, agree that the bug is pretty bad -- we lost quite a bit of time going nuts before we found this issue. Though I'm not sure I'm totally understanding the issue https://git

[2017-06-07 21:13] jods4 commented on #283
That's seems pretty bad.

So any exported class in your resources is a custom element? Why not a custom attribute, value converter or binding behavior?

The breakage will bad indeed, where did you get the idea to go like this?
I think the docs have always been explicit that you should either follow a (customizable) naming convention or use decorators?

[2017-06-07 21:35] eamodio commented on #283
We do use the conventions for the value converters and the decorators for attributes, but we've never used them on elements -- mainly because we didn't know about it (and it works without them), but also thinking about it now, that would mean most of the classes in our app would have `CustomElement` tacked on the end.

I swear I've seen demos by Rob that never used the `CustomElement` suffix nor d

[2017-06-07 22:00] jods4 commented on #283
@eamodio good points, I will add a comment in the other issue, because it's where this problem is currently tracked.

[2017-06-07 22:00] eamodio commented on #283
Since it seems that https://github.com/aurelia/templating/issues/549 would be quite a breaking change, since it is a "supported" (even if slightly discouraged) scenario -- is there a much easier (low risk) fix here?
Without breaking things it doesn't seem like you can reasonably stop people from exporting a module that matches a dom thing -- but honestly if you do that -- you are on your own. But

[2017-06-07 22:00] eamodio commented on #283
@jods4 doh -- should I move my last comment over to that issue too?

[2017-06-08 09:56] ClintGeense opened #299 "Hot Module Replacement with Webpack doesn't refresh in a dialog"
**I'm submitting a bug report**

* **Library Version:**
"^1.0.0-rc.1"

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.10.0

* **NPM Version:**
4.2.0

**WebpackVersion**
2.4.1

* **Browser:**
all

* **Language:**
TypeScript 3.0.2

We are using  Webpack's "Hot Module Replacement". This updates the view while running when changing .less files. Whe

[2017-06-08 12:12] rowellx68 commented on #295
@StrahilKazlachev

A few things seems to have solved my problem.

And then I was getting an error with the SVGAnalyzer which was solved with this workaround.
https://github.com/aurelia/validation/issues/445#issuecomment-305650958

[2017-06-09 14:04] dkent600 commented on #298
@StrahilKazlachev Your suggestion,

`settings.viewModel = PLATFORM.moduleName('../resources/commonDialogs/prompt')`

doesn't work.  It results in the following error message:

"Unable to find module with ID: ../resources/commonDialogs/Prompt"

I haven't had a chance to experiment to figure out what *does* work.

[2017-06-11 15:26] jdemeuse1204 commented on #254
@jods4  I was able to get it working by putting this in my `webpack.config`:

[code]

And this in my `main.js` file

[code]

[2017-06-11 16:14] jods4 commented on #254
Having `.plugin(PLATFORM.moduleName('aurelia-dialog'))` (same for the other two) in your `main.js` should have exactly the same effect as `ModuleDependenciesPlugin`.

[2017-06-11 16:51] jdemeuse1204 commented on #254
@jods4 That worked, thank you!

[2017-06-11 18:12] dkent600 commented on #298
Following my previous comment above ^^^ , I can make the error message go away by referencing the `Prompt` viewmodel in the code to force webpack to include it in the bundle.

However, when I do that, while there is no more error message, there is also no dialog being shown.  The `aurelia-webpack-loader` creates a promise to load the module, but the promise never resolves, so nothing ever happens.

[2017-06-11 19:34] StrahilKazlachev commented on #298
@dkent600
https://github.com/aurelia/dialog/issues/283#issuecomment-298895875
https://github.com/aurelia/dialog/issues/283#issuecomment-299110588

[2017-06-12 21:47] dkent600 commented on #298
@StrahilKazlachev

Thanks.  As far as I can tell, https://github.com/aurelia/dialog/issues/283#issuecomment-298895875 is the work-around that you originally proposed that I already found doesn't work (see above).

#283 (comment)  Is a no-op  (I get the undefined viewemodel as returned by `DialogService.prototype.ensureViewModel`, as I described above).

You are taking these work-arounds from an is

[2017-06-13 07:33] StrahilKazlachev commented on #298
I don't see what more I can do without a repro.

[2017-06-13 11:12] jmezach commented on #1
Any updates on this? We're still seeing the focus moving off the dialog and onto the underlying content. We would really like to prevent this from happening.

[2017-06-13 11:36] dkent600 commented on #298
Do you have a GitHub repository set up that I could fork and use to make a gist repo for you?

[2017-06-13 11:56] StrahilKazlachev commented on #298
No. Also in this case we also want to see your webpack setup, since this scenario was tested and worked - with the caveat of needing `PLATFORM.moduleName`.

[2017-06-13 11:59] dkent600 commented on #298
Yes, you would get the webpack setup with the fork

[2017-06-13 14:06] jmezach commented on #299
This is the exception we're getting when the dialog is open:

[code]

[2017-06-13 15:17] StrahilKazlachev commented on #299
[This](https://github.com/aurelia/dialog/blob/02b424ca40e54fa5a9fb9359741757704f795d4c/src/ux-dialog-header.ts#L33) is the only place where there is `lock`. Which means `.settings` is undefined - either it is not passed to the constructor or someone is messing up the `DialogController`.
Those who know how *Webpack Hot Module Replacement* works should check how it works with the DI and what are the

[2017-06-15 08:01] ogliznutsa opened #300 "[BUG] Anchor tag crashes dialog"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

* **Operating System:**
Windows 10

* **Node Version:**
6.10.3

* **NPM Version:**
3.10.10

* **Webpack Version**
webpack 2.4.1

* **Browser:**
Chrome 58 | Firefox 54

* **Language:**
TypeScript 2.3.4

**Current behavior:**
Tag `<a>` placed inside `<ux-dialog>` crashes dialog - dialog can't be opened, error in console:

    at

[2017-06-15 08:32] abruilo commented on #300
I confirm the problem! I faced with it recently.

[2017-06-15 09:39] StrahilKazlachev commented on #300
Duplicate of #283 - check for details. Source of the issue is tracked in aurelia/templating#549.

[2017-06-15 09:39] #300 closed

[2017-06-16 18:07] dkent600 commented on #298
OK, here is a repro.  To run it:
1)  unzip it
2) on a Windows command prompt, run the following commands:
    a) `dotnet restore`
    b) `npm install`
    c) `dotnet run`
3) browse to http://localhost:5000
4) Click on "Open local dialog" button and see that it works as advertised with no workarounds required
5) Click on "Open plugin dialog" button and see that it doesn't work.  The code is using t

[2017-06-16 20:27] jods4 commented on #298
Disclaimer: I haven't read most of the thread above, sorry.

Wanted to say: `PLATFORM.moduleName('../resources/commonDialogs/prompt')` is most likely not good because at runtime `aurelia-loader` is going to try to resolve the relative path `../resources/commonDialogs/prompts` and situations where it actually works are few.

If this is your own app I suggest you always use absolute module ids, like

[2017-06-16 21:43] dkent600 commented on #298
@jods4 Thanks for the suggestion.  I can only find one other path that will get past compilation:

`moduleName("ferngully-aurelia-tools/dist/native-modules/resources/commonDialogs/prompt")`.

When I use this it still fails at runtime, but with a different error message.  Instead of saying it can't find "prompt" it says it can't find "prompt.html".

In any case, even if it worked, I would not be wi

[2017-06-16 21:52] jods4 commented on #298
ah it's inside a library? isn't great then, indeed. That's why I said "if this is your own app".
`ferngully-aurelia-tools/resources/commonDialogs/prompt` is worth a shot (there's a plugin inside AureliaPlugin that allows that kind of things) but I'm not sure it'll work.

What's the full path it says it can't find for the `prompt.html` part? Is that HTML view expected -- I'm not too familiar with `

[2017-06-16 22:00] dkent600 commented on #298
@jods4  OK, looks like we have a workaround!  `PLATFORM.moduleName("ferngully-aurelia-tools/resources/commonDialogs/prompt")` both compiled, functioned properly and is acceptable.

That gets me past this issue.  Thanks!

[2017-06-16 22:03] dkent600 commented on #298
If anyone would like, I can provide another repro for the case where we pass class name and it fails.

[2017-06-16 22:15] dkent600 commented on #298
If anyone would like, I can provide another repro for the case where we pass class name and it fails.

In any case, I'm resubmitting the original zip to lock-in the version of the plugin "library" that it grabs.

[2017-06-16 22:18] dkent600 commented on #298
If anyone would like, I can provide another repro for the case where we pass the class name and it fails.

In any case, I'm resubmitting the original zip to lock-in the version of the plugin "library" that it grabs.

[2017-06-17 12:20] dkent600 opened #303 "keyboard set to Escape closes on Enter"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.1.2

* **NPM Version:**
5.0.3

* **JSPM OR Webpack AND Version**
webpack 2.6.1

* **Browser:**
all

* **Language:**
TypeScript 2.4

**Current behavior:**
Supply `keyboard: ["Escape"]` and observe that the dialog closes on Ente

[2017-06-17 12:24] dkent600 commented on #303
As an aside to this, the documentation is not clear, at least to me, exactly *how* the keyboard setting "overrides" the lock setting.  I would request that this bit of documentation be cleared up.

The "lock" setting makes a dialog model with respect to mouse clicks outside the dialog (and removes the "X" button).  That would seem to me to be independent of the keyboard behavior.

[2017-06-17 12:33] dkent600 opened #304 "create separate setting to control presence of 'X' button"
**I'm requesting a feature change **

The "lock" setting makes a dialog model with respect to mouse clicks outside the dialog.

It also removes the 'X' button.  What is the motivation for removing the 'X' button?  Being modal should not imply anything about whether a dialog can be closed by clicking on the 'X' button *within* the dialog.

I would request that there be a separate dialog setting tha

[2017-06-17 12:38] StrahilKazlachev commented on #303
1. About the `ENTER` issue - please do make sure you don't have any button that closes the dialog on focus when pressing the enter key.
2. The `lock` setting is pre RC setting that used to control 3 things:
    - false - can close on ESC or outside click, the `x` button is visible
    - true - can not close on ESC or outside click, the `x` button is not visible.
For the RC we introduced `keyboard`

[2017-06-17 12:39] StrahilKazlachev commented on #304
Use the bindable property `show-close-button` to the `<ux-dialog-header>`.

[2017-06-17 12:39] #304 closed

[2017-06-17 12:50] dkent600 commented on #304
That doesn't work unless you have access to the view/viewmodel that defines the dialog.  But if one is providing settings for a dialog that is contained in, for example, a plugin, then this option is not available.

[2017-06-17 12:59] dkent600 commented on #303
You are right, Enter was being trapped by a button with focus.  Sorry for the false alarm, and thanks for the documentation update.  This can be closed.

Regarding `show-close-button`, I don't think this is such a great idea as adding a new setting that controls it's visibility.  I explained why [here](https://github.com/aurelia/dialog/issues/304).

[2017-06-17 12:59] #303 closed

[2017-06-17 13:03] dkent600 commented on #303
With regard again to docs, such as `overlayDismiss`, it would be really good, and standard, if the docs gave the default value for each optional setting.

[2017-06-17 13:12] StrahilKazlachev commented on #304
I'm against any new settings that control/provide defaults for bindable properties.
The user of the plugin may use own custom elements and not the `aurelia-dialog` provided ones - which are *optional*.
Plugins should provide their own API for any additional custom settings. We may reserve a keyword in `DialogSettings` for a custom settings object - like the `settings` field in `RouteConfig`.
@PWKa

[2017-06-17 14:13] dkent600 commented on #304
OK, but I assume `lock` is deprecated, so it isn't reliably supported.

[2017-06-17 14:16] dkent600 commented on #304
I am little uncomfortable with the mix of bindable properties and configuration settings here.....

[2017-06-18 11:17] Vheissu commented on #298
@dkent600 It sounds like [this link](https://github.com/aurelia/webpack-plugin/wiki/Managing-dependencies#moduledependenciesplugin) might be what you're after (leading off of @jods4 point). The issue is modules that do not define their dependencies, so Webpack has no idea they exist unless you specifically tell it about them.

[2017-06-18 12:34] dkent600 commented on #298
@Vheissu That is definitely good to know about, thanks!

However, in my case, I am the plugin author so `ModuleDependenciesPlugin` is not required.  What was required for me, as a plugin author, is that when I supply a value for the `DialogSettings.viewModel`, I must supply it as follows:

[code]

...where the path starts with the name of the plugin.

Example that works for my case:
[code]

Neithe

[2017-06-18 12:43] dkent600 commented on #298
@Vheissu @StrahilKazlachev

I think it would be good if all this ( just above ^^^) were documented [here](https://github.com/aurelia/webpack-plugin/wiki/Managing-dependencies#platformmodulename).

Namely:

1) include `aurelia-dialog`-in-a-plugin in the list of cases where using `PLATFORM.moduleName` is required (would be good if this were also documented in the `Aurelia-dialog` documentation for `

[2017-06-18 19:23] jods4 commented on #298
I thought `aurelia-dialog` did not require `moduleName` usage, even for models loaded through ES imports? I thought that we did something to fix the origin detection code in that case, didn't we?

Is this a general problem or is it linked to the fact that it's inside a library?

I'm sorry I didn't follow everything in the thread and I don't know the inner workings of `aurelia-dialog` well. I can a

[2017-06-18 19:26] dkent600 commented on #298
@jods4 `moduleName` is currently only required inside a plugin.

[2017-06-18 19:51] jods4 commented on #298
ok, did you figure out why?

Is there something we could do to make it work?
If not, can I have an explanation why it doesn't work in a plugin? I can add that to the docs.

[2017-06-18 20:03] dkent600 commented on #298
No, I didn't figure it out, though I gave some hints farther above in this issue report.  But I can easily provide a repro that will enable someone to figure it out.  Let me know...

[2017-06-18 20:11] jods4 commented on #298
@StrahilKazlachev @PWKad any insight?

[2017-06-19 02:49] jmzagorski commented on #295
@doubleaa93 did you get the issue with karma resolved? I experienced the same issue using `dotnet new aurelia` and adding just the necessary packages to get karma + jasmine working. I created one dummy test and it failed as soon as i imported `DialogService`, receiving the error `__WEBPACK_IMPORTED_MODULE_0_aurelia_pal__.DOM.createElement is not a function`

[2017-06-19 14:24] PWKad commented on #298
From what I can tell here @dkent600 is a plugin author trying to re-expose the dialog plugin functionality through a plugin to an app being bundled by WebPack.  That nor anything mentioned above appears to be related to any issues in dialog so I'm closing this issue for now.

Doug - If you feel there is documentation needs for Webpack plugin setup please feel free to open or track a documentation

[2017-06-19 14:33] dkent600 commented on #298
@jods4 Looks like the ball is being passed to you to  determine whether or not this is to be viewed as a bug or a feature, and whose bug it is.  Please let me know if I can assist on that (such as providing a repro).

As for my request for documentation, I believe it will depend on whether this will be fixed or will require the work-around of using `moduleName`.

[2017-06-19 14:43] PWKad commented on #1
PR welcome here.  Some pseudo-code you could use -

[code]

[code]

[2017-06-19 14:44] PWKad commented on #275
Touch events, etc... also.  There are probably a number of references to use here for which events should be supported, Bootstrap modal always seems to have a well-documented list of events we could use to learn from probably.

[2017-06-19 14:45] #249 closed

[2017-06-19 14:46] PWKad commented on #261
@StrahilKazlachev this is closed now correct?

[2017-06-19 14:49] ydbondt commented on #261
Correct. Thnx !

[2017-06-19 14:49] #261 closed

[2017-06-19 14:51] doubleaa93 commented on #295
@jmzagorski I got it to work by adding this to the top of karma-bundle.js

[code]

[2017-06-19 14:56] PWKad opened #305 "Add TypeScript samples to documentation"
Add in the docs.

[2017-06-20 01:04] hoangcuongvn opened #306 "Styles still use old naming "ai-" instead of "ux-""
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
webpack 2.6.1

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Styles still use old naming "ai-" instead of "ux-".
https://github.com/aurelia/dialog/tree/master/styles

**Expected/desired be

[2017-06-20 21:27] PWKad commented on #298
@dkent600  PR's are welcome for all documentation issues

[2017-06-21 07:07] StrahilKazlachev commented on #306
@PWKad This file is not in use, the styles are inlined in `dialog-configuration.ts` since beta. Are there any plans to use it? If not I suggest we remove it.

[2017-06-21 07:28] hoangcuongvn commented on #306
I think it's used to generate that inline css. This output.less is necessary in customizing aurelia-dialog through custom css. So please do not remove it.

[2017-06-21 08:09] StrahilKazlachev commented on #306
@hoangcuongvn definitely not used. Currently they are out-of-sync. The inlined styles are OK, you can check if you want. There has not been any build task to do such injection.

[2017-06-21 14:34] dkent600 commented on #298
@PWKad it is not yet clear what is going to be the resolution of this, so I wouldn't know, at this point, what to document.

[2017-06-22 11:22] tdamir opened #307 "Dialog renderer and css not registered when using custom configuration"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
4.5.0

* **Browser:**
all

* **Language:**
TypeScript 2.X

**Current behavior:**
I'm overriding the header template with my own. This is my configuration:
[code]

Unfortunately with this configuration I'

[2017-06-22 11:37] tdamir commented on #307
Temporary hack:
[code]

[2017-06-22 11:53] GabrielMancik opened #308 "Dialog is not modal in IE10"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.9.2

* **NPM Version:**
3.9.6

* **JSPM Version**
JSPM 0.16.48

* **Browser:**
IE 10

* **Language:**
TypeScript (did not tried other)

**Current behavior:**
Buttons outside dialog are clickable

**Expected/desired behavior:**

[2017-06-22 14:43] StrahilKazlachev commented on #308
Can we get this issues formatted according to the template and some more descriptive info?

[2017-06-22 16:14] RichiCoder1 commented on #306
I'd like them to stick around as they make an excellent template if I want to replace the inline styles.

[2017-06-23 04:33] khuongduybui opened #309 "No CSS when bundled with aurelia-cli (requirejs)"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 16.04)

* **Node Version:**
7.10

* **NPM Version:**
4.2

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Adding dependencies as shown in the docs [here](http://aurelia.io/hub.html#/doc/article/aurelia/dialog/latest/dialog-basics/2)

[2017-06-23 04:37] khuongduybui commented on #309
Never mind, I was using old elements (ai-dialog).
When I switched my code to using ux-dialog elements, everything works without having to require styles/output.css

[2017-06-23 04:37] #309 closed

[2017-06-23 07:24] GabrielMancik commented on #308
I was so vague because I thought that everything was clickable. But it is not. I am using aurelia-mdl package (https://github.com/genadis/aurelia-mdl) and whole menu element is clickable.
[code]

Here checkbox itself is not clickable but label is.

[code]

Here button is clickable only one time and then i can not click it anymore

[2017-06-25 16:45] StrahilKazlachev commented on #299
@jods4 @niieani any help will be appreciated.

[2017-06-25 17:32] StrahilKazlachev commented on #308
@GabrielMancik Can you confirm that you have this problem only with elements that have the `mdl` attribute?

[2017-06-25 19:52] StrahilKazlachev commented on #298
@dkent600 How can I rebuild the repro? When I run `webpack` it fails with a lot of errors:
[code]

[2017-06-25 21:46] dkent600 commented on #298
@StrahilKazlachev

Running `webpack` isn't part of the instructions I gave, here https://github.com/aurelia/dialog/issues/298#issuecomment-309095582

Let me know if those don't work.

[2017-06-25 21:49] dkent600 commented on #298
To rebuild the webpack vendor bundle, do this:

`node node_modules/webpack/bin/webpack.js --config webpack.config.vendor.js`

The app bundle is automatically rebuilt when you start the app, but you can do it manually like this:

`node node_modules/webpack/bin/webpack.js`

[2017-06-25 21:51] dkent600 commented on #298
FYI, this is the standard template produced for JavaScriptServices: https://github.com/aspnet/JavaScriptServices.

[2017-06-25 22:00] StrahilKazlachev commented on #298
@dkent600 I ran it according your instructions. Now I'm asking how do I rebuild `wwwroot/dist`? I want to change some things.

[2017-06-25 22:05] StrahilKazlachev commented on #298
OK, so had to launch it from VS to get the `dist` rebuid. I'll post more tomorrow.

[2017-06-25 22:24] dkent600 commented on #298
You don't technically have to relaunch from VS.  `dotnet run` should work the same.

[2017-06-25 22:44] dkent600 commented on #298
It just occurred to me that if running via `dotnet run` you may actually need to do it like this:  `dotnet run environment=development`

[2017-06-26 20:37] StrahilKazlachev commented on #298
@dkent600 This sample just doesn't work. Following just your normal run steps(restore, install, run) it's OK.
After I rebuild the vendors bundle - `node node_modules/webpack/bin/webpack.js --config webpack.config.vendor.js`, I get `Uncaught ReferenceError: vendor_aeffab828c1031bcccd2 is not defined`.
Then I rebuilt the app bundle - `node node_modules/webpack/bin/webpack.js`(a *lot* of TS errors),

[2017-06-26 20:49] jods4 commented on #299
@niieani is the brain behind HMR really, I am not too familiar with how it works sorry.

[2017-06-26 20:55] jods4 commented on #298
Quoting @dkent600

It is not clear for me either what the core of this issue is... A _minimal_ demo or a good explanation would help.

I am currently preparing a Webpack plugin RC3 release (which will hopefully be the last one before 2.0) and I really don't mind including a tweak of it helps some specific scenarios. I'd also gladly enhance the docs where it might be needed, I'm going to add a few

[2017-06-26 20:58] dkent600 commented on #298
@StrahilKazlachev @jods4 I will  check out this problem with building the bundles in the next few hours.

[2017-06-26 21:04] StrahilKazlachev commented on #298
It's already late for me, but I was thinking that the next thing I can try is to setup a repro using one of jods4 demos and only focus on to what ` Origin.get().moduleId` is resolved in a couple of scenarios.

[2017-06-26 21:15] dkent600 commented on #298
@StrahilKazlachev  I just unzipped the second zip that I posted [here](https://github.com/aurelia/dialog/issues/298#issuecomment-309147197) and was able to rebuild both the vendor and app bundles without problem, and the app ran fine with them.

Are you sure you used the second zip?  If so, I guess I would need more info or be standing over your shoulder.

[2017-06-27 18:48] StrahilKazlachev commented on #298
@dkent600 Could you try the following:
- in your plugin > in `services/dialog-service`
  - `import {Prompt} from '../resources/commonDialogs/prompt';`
  - `settings.viewModel = Prompt;`
- in your sample/test/repro app > in `main`(app entry point)
  - in addition to `.plugin(PLATFORM.moduleName("aurelia-dialog"))` *add also* `.plugin(PLATFORM.moduleName('ferngully-aurelia-tools'))`

[2017-06-27 19:09] dkent600 commented on #298
@StrahilKazlachev That case fails with:

    at DialogRenderer.attach (vendor.js?v=DWMVnLLAWpT78HMhLZZayWHtZL3fehw_Fz93D5c1YVk:67829)
    at DialogRenderer.showDialog (vendor.js?v=DWMVnLLAWpT78HMhLZZayWHtZL3fehw_Fz93D5c1YVk:67901)
    at vendor.js?v=DWMVnLLAWpT78HMhLZZayWHtZL3fehw_Fz93D5c1YVk:68019
    at <anonymous>

The line of code:

`dialogController.controller.attached();`

[2017-06-27 19:11] dkent600 commented on #298
BTW, with regard to rebuilding the repro app:

The tools I'm using:
npm v5.0.3
tsc v2.3.4
node v8.1.2
webpack v2.6.1

[2017-06-27 19:17] StrahilKazlachev commented on #298
@dkent600 in the repro you've attached `.plugin(PLATFORM.moduleName('ferngully-aurelia-tools'))` is missing. So could you check you have it now?
In regard to the above error *if* you are passing a config callback to `aurelia-dialog` plugin, please *do call* `.useDefaults()` on the config object.
Do *not* rely on HMR - there might be something with it and the dialog.

[2017-06-27 19:23] dkent600 commented on #298
[code]

This is the original case that I reported in this issue.  I gave details that you can review above about what is happening.

[2017-06-27 20:48] StrahilKazlachev opened #312 "Ensure .viewModel or .view"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**

* **Browser:**
all

* **Language:**
all

**Current behavior:**
When `CompositionEngine.prototype.compose` is called with context that has both `.viewModel` and `.view` missing the dialog service does **not** fail, but it continues and calls `.showDialog` on the renderer.

**Expected/

[2017-06-27 21:06] StrahilKazlachev commented on #298
@jods4
1. Using your `01-No_splits` demo I opened  the prompt from `ferngully-aurelia-tools` successfully - the modification I did in the `ferngully-aurelia-tools` plugin was:
    * in services/dialog-service
[code]
     * removed all PLATFORM.moduleName related to the prompt - in the plugin
     * and it just works, `Origin.get(compositionContext.viewModel).moduleId` is resolved OK.
2. In the pro

[2017-06-27 22:17] jods4 commented on #298
OK, now we're talking.
It's @niieani's magic, but thankfully I understand that part well enough that I can explain.

Aurelia has a lot of reliance on the _origin_ (module name) of resources (viewmodels & co.). As long as modules are loaded through `aurelia-loader`, they are tagged so that this works (it's done inside `aurelia-loader-webpack`).

The issue arises when something that was _not_ loaded

[2017-06-27 22:31] dkent600 commented on #298
Thanks for working this out guys!

[2017-06-27 22:36] jods4 commented on #298
@dkent600 I'll try to fix it.

[2017-06-27 22:37] jods4 commented on #298
@StrahilKazlachev please re-open and assign this to me.

[2017-06-28 15:10] PWKad commented on #298
Doesn't this issue belong in `aurelia-loader-webpack`?

[2017-06-30 07:29] sahshaurya commented on #139
Hi, I tried adding
[code]
to the CSS file that I'm importing, but it doesn't help.

Any suggestions?

Thank you.

[2017-06-30 08:31] StrahilKazlachev commented on #139
@sahshaurya If you are using a `rc` version, the classes are prefixed with `ux-` and not `ai-`, so `ux-dialog-overlay`.

[2017-06-30 23:04] jods4 commented on #298
I've done some tests and it works better than I though -- the origin is the proxy in main bundle rather than the real origin in the dll bundle... but I don't think that will make much difference and it's certainly not `undefined`.

How did you export the class in the DLL?
How did you import it on the other side?
Then `Origin.get()` is null?
What module-style are you using in the compiled code feed

[2017-07-01 07:21] StrahilKazlachev commented on #298
@jods4 Could you also check the repro, just in case?
- From what I see, for the vendors bundle(DLL), the `native-modules` builds are fed to Webpack. Not sure for the app bundle.
- Inside `ferngully-aurelia-tools` - the `Prompt` `moduleId` is what we want to get.
  - *no* `PLATFORM.moduleName` is used as I said in my last comment.
  - in `resources/commonDialogs/prompt` - `export { Prompt };`
  - i

[2017-07-01 10:37] jods4 commented on #298
OK I get it:

I imported in the main bundle, which "kind of" works. Because what you use from the DLL is proxied by a module in the main bundle, you find that module name. It's not "the real deal" but it shouldn't matter.

What is not used outside the DLL does not leak out. There's a complicated way, which involves emitting additional infos at compile-time in JS code that I could reach out that DL

[2017-07-05 10:35] StrahilKazlachev commented on #298
@jods4 I think for now we should document such cases as *limitations* and how to deal with them.
What I'm not sure is *whether*, and if *how*, `PLATFORM.moduleName` should have runtime semantics? Like if invoked *inside* a *plugin* with a relative path(only if the moduleId is static), at runtime it should return the path relative to the app root? For the current case we **could** *have* recommende

[2017-07-06 14:20] zhhz opened #314 "showCloseButton bindable property not working"
**I'm submitting a bug report**
aurelia-dialog

* **Library Version:**
1.0.0-rc1.0.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all

* **Language:**
ES6

**Current behavior:**
UxDialogHeader component seems like ignores the bindable property 'showCloseButton'.

**`<ux-dialog-header showCloseButto

[2017-07-06 16:51] StrahilKazlachev commented on #314
Use `show-close-button` as you would with any other bindable property.

[2017-07-06 16:51] #314 closed

[2017-07-06 17:02] zhhz commented on #314
duh, how silly I was. It got me again. Thanks for the quick response.

[2017-07-07 10:13] RomkeVdMeulen opened #315 "Typings fail to install"
458477c broke our build: typings fail to install. This is because of the same reason described in #279: `typings.json` [refers to `dist/aurelia-dialog.d.ts`](https://github.com/aurelia/dialog/blob/master/typings.json#L3) but that file was deleted. It should refer to `dist/commonjs/aurelia-dialog.d.ts` [like it did in RC 1.0.3](https://github.com/aurelia/dialog/blob/1.0.0-rc.1.0.3/typings.json#L3).

[2017-07-07 13:30] StrahilKazlachev commented on #315
Concerning [@types packages standard](https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/), if you mean publishing to `@types`, this is definitely not what is recommended for our case - [If you control the npm package you are publishing declarations for, then the first approach is favored.](http://www.typescriptlang.org/docs/handbook/declaration-files/publishing

[2017-07-07 14:43] RomkeVdMeulen commented on #315
[The announcement of the Release Candidate](http://blog.aurelia.io/2016/06/22/the-aurelia-release-candidate-is-here-2/) stated that the `@types` standard would be supported. Has this changed?

It could be that typings are currently shipped with npm, which would work for webpack builds. I wouldn't know: I'm still working with JSPM and I'm not finding any typings in `jspm_packages`. I'm installing t

[2017-07-07 17:10] jods4 commented on #298
@StrahilKazlachev
At one point I wondered if Webpack should replace the `moduleName` arg with a normalized one...
It's a double-edged sword:
- it would help people for sure (albeit not in this specific case, as there is no `moduleName` and that's the problem);
- but it would create a surprising behavior unlike other platform, so new problems for sure.

As far as this issue is concerned, I'm going

[2017-07-08 04:13] EisenbergEffect commented on #315
@jods4 @niieani What is your opinion on this? Should we be publishing to `@types` in addition to the typings being distributed with our npm packages?

[2017-07-08 07:27] StrahilKazlachev commented on #315
@RomkeVdMeulen Restored how it was in #280.

[2017-07-08 13:18] niieani commented on #315
@EisenbergEffect to tell the truth I think a better way would be to recommend users install the packages both with NPM and JSPM. Otherwise, we'll just confuse and make problems for users that do not use JSPM, and still try to install the @types package. Either way it's a bad situation, I think the this has to be solved by TypeScript team itself (i.e. dynamically referencing outside packages from n

[2017-07-08 13:44] StrahilKazlachev commented on #315
I do have setup that uses jspm and I found it way simpler to install both as @niieani said. There is the overhead in traffic and install time. Disk space can also be of a concern for some.

[2017-07-08 15:13] #307 closed

[2017-07-08 15:13] #312 closed

[2017-07-08 15:16] #294 closed

[2017-07-10 08:24] RomkeVdMeulen commented on #315
@niieani I do foresee some confusion among JSPM users with your solution ("I have to install the package twice? So which is used?"), but that may be less important than preventing confusion among other users.

By the way, whether users install the typings through NPM or `typings`, there is also a problem with versioning. Webpack users don't run into this since typings and code are installed as one

[2017-07-10 09:21] jods4 commented on #315
@EisenbergEffect I can answer your question as far as NPM + TS is concerned, but I know nothing about JSPM peculiarities.

The preferred way to ship types is to include them in your NPM package.
From the official docs themselves:

If your package has a `main` entry point you should have a `types` property that locate its definition.

That way, when users `npm install` Aurelia, they will auto-magic

[2017-07-10 12:19] niieani commented on #315
@jods4 this is the issue: https://github.com/Microsoft/TypeScript/issues/6012

Since JSPM installs all packages into flat directories named: `${name}@${version}`, it is not possible to dynamically point TypeScript to the right file. Hence, TS would need to resolve the JSPM config file to find the right directory. A workaround would be perhaps to make a script that creates symlinks of the current v

[2017-07-10 16:06] jods4 commented on #315
@niieani I see.
I'm out of my knowledge area here as I don't use JSPM.
I used to have Bower for front-end packages, but these days I find that NPM everything (Yarn actually) is the best way to go.

Maybe *if* installing an `@types` package would work for JSPM users, we could publish both?
- NPM users -> `npm install aurelia-bootstrapper`, everything works 😎
- JSPM users -> install `aurelia-bootstr

[2017-07-11 23:47] niieani commented on #315
Yeah. Not sure there's benefit to publishing and maintaining @types, since the users can already simply install the package both with JSPM and NPM.

[2017-07-17 15:49] samueldjack opened #316 "Presssing Esc/Enter in popups closes dialog"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.6

* **JSPM OR Webpack AND Version**
webpack 3.0.0

* **Browser:**
Chrome 59

* **Language:**
TypeScript 2.2

**Current behavior:**
If I have a popup open in my dialog and I press Escape or Ente

[2017-07-19 17:19] AngkouLee opened #317 "Cannot read property 'lock' of undefined when using ux-dialog-header"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.5.0

* **NPM Version:**
4.3.0

* **JSPM OR Webpack AND Version**
No JSPM or webpack

* **Browser:**
Chrome Version 59.0.3071.115 | Firefox 54.0.1

* **Language:**
TypeScript 2.0.0

**Current behavior:**

1. Using DialogServer in

[2017-07-19 17:25] StrahilKazlachev commented on #317
I'll request a repro. Under normal circumstances I can't think of a case where the `DialogController` will not be injected.

[2017-07-20 19:11] StrahilKazlachev commented on #316
I feel somewhat reluctant using `.preventDefault` as a mechanism to signal the dialog, in particular the  `Renderer`, that it should ignore an event. I'm more for marking such events with our own marker - `Symbol.for('ux-ignore-event')` or something like that.

[2017-07-20 19:34] davismj commented on #316
I think you need to go with 1 here. Event.defaultPrevented() is not the same as Event.stopPropagation().

From MDN, preventDefault():
[code]

From MDN, stopPropagation()
[code]

The key word here is "user agent," i.e. the browser. In other words, preventDefault() is a good way to tell the browser not to check a checkbox when a checkbox is clicked. stopPropagation() is a good way of handling logic

[2017-07-20 19:45] StrahilKazlachev opened #318 "Add custom renderer to the docs"
Add how to create and register a custom `Renderer` to the docs.

[2017-07-21 08:14] jmvtrinidad commented on #281
Still not working with the latest version(^1.0.0-rc.1.0.3).
Submit event is triggered when the input element is only one inside a form element, but with two input, submit event is not trigger.

Here's my template
[code]

Any idea?

[2017-07-27 22:14] christianmontecino opened #319 "Aurelia bundle grows to 7MB when using Dialog"
**I'm submitting a bug report**

Hi. After we bundle our Aurelia app and include the validation and dialog plugin, app grows to 7MB. Any help on this is greatly appreciated.

Thanks.

Christian

* **Library Version:**
major.minor.patch-pre

aurelia-framework@1.1.2
aurelia-bootstrapper@2.1.1
aurelia-dialog@1.0.0-rc.1.0.3
aurelia-validation@1.1.1

* **Operating System:**

macOS 10.12.5
* **Node Vers

[2017-07-28 03:02] ppn2 opened #320 "Feature request - make ux-dialog-open class configurable"
When the dialog is opened the dialog adds ux-dialog-open class to the host and removes it when the dialog is closed. Please make this value configurable through settings.

[2017-07-28 07:56] StrahilKazlachev commented on #320
1. Please format the issue according to the template or it will be closed.
2. Present your use case so that we can discuss it.

[2017-07-28 08:00] StrahilKazlachev commented on #319
@jods4 Do you have any ideas without a repro?

[2017-07-28 08:13] jods4 commented on #319
This is your friend:
https://www.npmjs.com/package/webpack-bundle-analyzer

[2017-07-29 16:32] ppn2 commented on #320
my mistake. I thought the template is just for submitting the bug but I looked again I see it is meant for feature request as well. Will format it soon.

[2017-07-30 21:49] christianmontecino commented on #319
Hi StrahilKazlachev. Why do you mean by repro?
Thx

[2017-07-30 21:53] christianmontecino commented on #319
Hi jods4. Will try that. Hopefully it can tell me how to bring size down...
Thanks

[2017-07-31 13:05] exasky commented on #183
I found something configuring the plugin in my main.js:

aurelia.use
    .standardConfiguration()
    .plugin('aurelia-validation')
    .plugin('aurelia-dialog', config => {
      config.useDefaults();

      // Center automatically (vertical/horizontal) the dialog
      config.cssText += "ux-dialog-container{display: flex;}ux-dialog-container>div{display: flex;flex: 1 1 auto;justify-content: cent

[2017-07-31 18:35] mttmccb commented on #188
I'm having a look at this, not sure how far I'll get, trying to unpick it, I think refactoring first might be a better option. I would be nice to have a bit more control of the dialogs.

[2017-08-01 14:05] PWKad commented on #319
Closing, no repro and alternative suggested.  Feel free to re-open.

[2017-08-01 14:05] #319 closed

[2017-08-04 20:36] ppn2 commented on #320
**I'm submitting a feature request**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
all

* **Language:**
TypeScript 2.4

**Current behavior:**
When the dialog is opened, the aurelia adds ux-dialog-open class to t

[2017-08-06 20:34] #297 closed

[2017-08-08 14:35] StrahilKazlachev commented on #320
For me allowing for custom *marker* class is not OK. Changing the *marker* class will break our and other 3rd party library styles.

[2017-08-10 12:35] chabou-san commented on #297
I'm coming here a little too late, but you missed a replacement `ai` -> `ux` on line 3 on the closing tag of the dialog-header. :)

[2017-08-14 04:47] ppn2 commented on #320
I don't understand why it would break anything. You will have a default option, that way the the dialog will behave exactly the same way as it does today.

In any case the problem I described is real. As I said earlier, if anybody have any other solution in mind, I am all ears.

[2017-08-22 01:20] thinkOfaNumber opened #323 "DialogCancelError - class or interface?"
**I'm submitting a feature request**

* **Library Version:**
aurelia-dialog 1.0.0-rc.1.0.3

(I think the other bug template questions don't apply to a feature request but I can provide if required)

I'm using aurelia-dialog to confirm an action that gets posted to the server to change some object. It seems using `rejectOnCancel` is a good way to skip over the promise chain that deals with successf

[2017-08-22 18:24] StrahilKazlachev commented on #323
The reason we used an `interface` are the `Error` subclassing issues when targeting <`ES2015`.
I prefer not introducing them. Also I don't find *duck-typing* that uncommon.
@PWKad Any comment from you?

[2017-08-22 23:58] thinkOfaNumber commented on #323
Ohhhh... that!

[2017-08-28 08:46] jods4 commented on #298
News: this just got a little worse.

If you use ES `import` to import your ViewModel, unless it came from a DLL the origin detection code usually works.

With Webpack 3, if you use `ModuleConcatenationPlugin` that safety net is very likely to break. Your ViewModel is likely to get scope merged with the module that uses it and then there's no way to make Origin work anymore.

I think we should disc

[2017-08-29 17:12] niemyjski commented on #290
I'm also hitting this behavior? It seems really odd that the returned type has promise in the name but I can't await it.... Is this a bug? The samples should reflect async and await too, this isn't very idiomatic.

[2017-08-30 16:06] dkent600 commented on #298
Thanks @jods4.  I would like to confirm that I understand what you are recommending here.

When you say

are you referring only to the use case originally described in the original description of this issue?  Or are you speaking more broadly?  One reason I wonder is because I thought we had already agreed that using `moduleName` was going to be required in this scenario (and that this needed to be

[2017-08-30 16:12] jods4 commented on #298
@dkent600
I meant ES `import` a viewmodel that is then feeded as a ctor to `aurelia-dialog`.

With Webpack it creates unsolvable origin problems when using DLL and now when using `ModuleConcatenationPlugin`.

Instead you should pass the module name, wrapped with `moduleName`.

Using ES `import` in your code is fine. In fact it's the module system I recommend when using Webpack to bundle your app (

[2017-08-30 16:24] dkent600 commented on #298
@jods4  Ah, gotcha, so the idea is that this is a problem with `aurelia-dialog` not only when using a DLL, but also anytime when using `ModuleConcatenationPlugin`.

Perhaps this might need to be documented in `aurelia-dialog` as well.

[2017-08-30 16:25] jods4 commented on #298
Not anytime, but very likely.
If the module that contains your class is added to a concatenated module, then it won't work.

[2017-09-05 22:48] ajoslin103 commented on #298
I'm using the new aurelia-cli with webpack

  * I followed the instructions on the aurelia-dialog page
  * I changed my style prefixes from ai- to ux-
  * I specified the viewModel using the PAL

I did not need to do any import of my dialog modelView
   I only needed to specify the viewModel properly

I was previously specifying a relative path: '../../resources/dialogs/enrollment'
And I tried spe

[2017-09-06 15:02] Xceno commented on #283
Hey folks, just to let you know:
I've just moved a project over to webpack, based on the latest skeleton and ran into this bug. The workarounds described above work, but I still run into the stackoverflow exception described above, as long as I have any `<a>`-tag in the modal.

So I'll comment them out for the moment, but is there still no workaround / solution for this?

[2017-09-06 21:12] jods4 commented on #283
The cause of this problem is identified but not fixed... It's currently tracked by  aurelia/templating#549.

The workarounds above should work, though.
The culprit is the following pattern:
[code]
Independently of this bug, more problems have arisen when using the first pattern with Webpack.
For example it's not compatible with the new Webpack 3 `ModuleConcatenationPlugin` and it might also break

[2017-09-07 07:44] Xceno commented on #283
Thanks again for summing it all up @jods4!

Though I think I phrased my question wrong. The workarounds for loading viewmodels work well.
Instead I was wondering if there is a workaround for using `<a>`-tags in the viewModel. Currently i use buttons and some JS to open links.

[2017-09-07 07:58] jods4 commented on #283
You should be able to use `<a>` tags if you load the VM with `moduleName`... doesn't it work?

[2017-09-07 08:42] Xceno commented on #283
No, I still run into an infinite loop. Here's what I do:

**package.json**
[code]

**modal.html**
[code]

I load the viewmodel with `PLATFORM.moduleName("./modalVm")`.

It crashes as soon as it sees the `<a>` no matter if further arguments are applied.
When I comment out all the links it works again.

[2017-09-07 09:00] jods4 commented on #283
Does it go away if you don't pass the `model` in this way?
Not saying it's a solution, just trying to understand what happens...

With `moduleName("./modalVm")` this module should not register (by accident) a `<a>` custom element.
Can there be another module interfering?

[2017-09-07 09:27] Xceno commented on #283
Okay I figured out what was going on!
My `webpack.config` was messed up, so I loaded the same file for `model` and `viewModel`.

I have my dialog resources configured as `globalResources` in `main` with some redirects via `ModuleDependenciesPlugin` and screwed up the paths inside this.

Sorry for the hassle and thanks for your time!

[2017-09-07 17:28] jods4 commented on #233
@StrahilKazlachev so I'm moving the discussion about webpack + dialog startup here.

I think that the `<body>` think is a gotcha and not a great experience for users. It also happens that you don't want a `<div>` at the root (happened to me before).

The cause here is that Webpack resolves everything very quickly and synchronously. This can result in a different execution sequence from what you mi

[2017-09-07 19:47] StrahilKazlachev commented on #233
@jods4 I think there is some misunderstanding, I'll try to explain what happens.
- the dialog does **no** DOM modifications at startup
- the dialog modifies the DOM only when a dialog is being open, when it is being attached to the DOM tree(for now)
- `starting` is too early
- the issue comes from Aurelia replacing the content of the `aurelia-app` marked element
  - this issue was about opening a

[2017-09-12 20:15] Vaccano commented on #96
@EisenbergEffect, @jedd-ahyoung - I know it has been over a year since the call for an example was made, but this is still relevant (to me).

An example would be helpful.

[2017-09-14 15:55] StrahilKazlachev commented on #96
@Vaccano What example do you need? How to get a `DialogController`, how to use a `DialogController`, how to close all currently open dialogs, ...?

[2017-09-14 16:03] Vaccano commented on #96
I was hoping for an example on how to use the Controller, but it is largely academic for me now as I think I found [another way to solve my problem](https://stackoverflow.com/a/46209504/16241).

At this point I am curious, but don't need it.  So don't worry about it if it is not easy to make.

[2017-09-15 18:04] StrahilKazlachev commented on #298
Added info about this in the docs #324. I don't see what more we can do here.

[2017-09-15 18:04] #298 closed

[2017-09-20 07:01] huochunpeng opened #325 "question: is it still recommended to use "trigger" not "delegate" to bind event handler?"
I remember I read something in old dialog doc, but could not find relevant information on current [aurelia doc hub](http://aurelia.io/hub.html#/doc/article/aurelia/dialog/latest/dialog-basics/1).

I tested click.delegate, submit.delegate inside a dialog, all seems working fine.

Is is still recommended to use "trigger" for event handler? Does "delegate" break dialog behaviour on certain browser, o

[2017-09-21 08:17] StrahilKazlachev commented on #325
So if we switch the examples from `trigger` to `delegate` does that mean that we are not recommending `trigger`?
As I said, I do not remember nor could find, an explicit warning about the use of `delegate`. All recommendations regarding [Binding: Delegate vs Trigger](http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-delegate-vs-trigger) do apply.

[2017-09-21 15:51] PWKad commented on #325
Use whichever works best for you there is no recommendation to use either.

[2017-09-27 15:33] ajoslin103 commented on #155
seeing this with the latest cli-webpack but only in prod...

[2017-09-29 15:18] vermilion commented on #320
At work we need to pass custom class to dialog top level element.
Would be great if this class could also be passed to dialogController.open method.

[2017-10-13 21:52] StrahilKazlachev commented on #188
So I have 2 crude PoC working. It will take me some more time to get the internal refactoring done so I can present it.
In the mean time some feedback will be appreciated:
1. What should be animated?
    - only the dialog - the provided view.
    - also the elements that the `Renderer` creates e.g, the overlay.
2. If we also want to animate the elements that the `Renderer` creates how do we mark t

[2017-10-15 17:50] StrahilKazlachev commented on #188
PR open for discussion #326

[2017-10-15 19:29] StrahilKazlachev opened #327 "CSS and HTML distribution"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
all

* **Browser:**
all

* **Language:**
all | TypeScript X.X | ESNext

**Current behavior:**
The styles are inlined in [src/dialog-configuration.ts](https://github

[2017-10-15 19:29] StrahilKazlachev commented on #327
@EisenbergEffect @ZHollingshead can you give some input based on the `ux` repos experience?
The dialog current approach, of inlining the styles, does not require any additional configuring of the loader/bundler. But maintainability/readability/build integration is :scream:

[2017-10-15 20:16] ZHollingshead commented on #327
Is there a reason we can not set the individual pieces up as regular custom component modules like so?

ux-dialog.ts
[code]

ux-dialog.html
[code]

ux-dialog.css
[code]

[2017-10-15 20:29] StrahilKazlachev commented on #327
@ZHollingshead the current approach is towards zero-configuration(minimum) for loader/bundler. That's the only reason for the current setup.
I saw that `ux-components` has it all in separate files/folders/...(neatly organized), and was wondering if that's the setup *we* are in favour of.

[2017-10-19 08:27] rmja opened #328 "Proposal: Use AbortController instead of the whenClosed() api on open()"
**I'm submitting a feature request**

**Current behavior:**
The current interface for open() has a nested promise to allow for cancellation of the dialog and wait for the result.

**Expected/desired behavior:**
An example of the current proposal for `AbortController` for the use in `fetch()` is [here:](https://developer.mozilla.org/en-US/docs/Web/API/AbortController). A similar example for `dialog

[2017-10-19 09:00] StrahilKazlachev commented on #328
I would vote **not** to integrate **till** *ECMAScript* clears the *cancellation* topic.

But here is something with which we can start preparing:
- in both the WHATWG spec and ES proposals a cancellation of async process results in the rejection of the `Promise` with a dedicated `Error` -we dont' do that currently by default - it is configurable though.
- currently there are 3 points that are con

[2017-10-23 01:01] bigopon opened #329 "[proposal] attach focus should accept an empty string"
https://github.com/aurelia/dialog/blob/0d35c2d3c5d54514715ab01014817e3e10990d2b/src/attach-focus.ts#L18

The above line should be

[code]

I think we should make `attach-focus` boolean attribute for the following usage

[code]

[2017-10-31 14:15] rokaskuciauskas opened #331 "Tabbing is allowed under dialog"
Do Aurelia support tabbing prevention under the aurelia dialog, because now it is possible to use tab on page under modal.

[2017-10-31 14:17] rokaskuciauskas commented on #1
Any news when this will happen?

[2017-11-02 14:23] bulldetektor commented on #295
Any idea on when this will be shipped? Latest release on NPM is 1.0.0-rc.1.0.3 from May 5th.

[2017-11-02 14:47] StrahilKazlachev commented on #295
@bulldetektor All is ready for release, waiting @EisenbergEffect to release it.

[2017-11-05 23:32] bigopon commented on #329
This could be a breaking change, can we discuss it before official release @StrahilKazlachev @EisenbergEffect

[2017-11-06 00:04] StrahilKazlachev commented on #329
@bigopon can you give a scenario where it will be a breaking change?

[2017-11-06 00:12] bigopon commented on #329
When someone bind to a string, that may have value equals `''`

[code]

Currently, It doesn't focus if message is `''`

[2017-11-08 10:56] timfish commented on #1
I've got something working by putting this `trap-focus` attribute on the parent modal element. It even works with multiple dialogs open as long as all apart from the top one are hidden via css. To make it more generic, It needs more checking to ensure it's not trying to focus disabled controls.

[code]

[2017-11-11 21:30] TonyLugg opened #333 "Using an Anchor tag inslide a list causes rendering issues"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

Using CLI with Webpack

* **Browser:**
all

* **Language:**
TypeScript 2.5.3

**Current behavior:**

`            <ul class="vdis-list vdis-track-mouse">
                <li repeat.for="item of listOptions">
                    <a click.delegate="lstOptions_itemSelected(item)">
                        ${item}

[2017-11-11 21:36] StrahilKazlachev commented on #333
Closing as duplicate of #283. Feel free to reopen if you think it's different issue.

[2017-11-11 21:36] #333 closed

[2017-11-12 08:22] timfish commented on #331
This is party covered by #1.

See [my comment](https://github.com/aurelia/dialog/issues/1#issuecomment-342782883) there which details a custom attribute which can help.

[2017-11-13 13:56] ItWorksOnMyMachine opened #334 "Aurelia dialog throws Access is denied error in IE11 and Edge when running in iFrame"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.2.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.8.1

* **NPM Version:**
5.5.1

* **JSPM OR Webpack AND Version**
webpack 3.5.5

* **Browser:**
IE11 and Edge

* **Language:**
TypeScript 2.4.2

**Current behavior:**
When using an Aurelia application embedded in an iFrame, when

[2017-11-13 14:13] StrahilKazlachev commented on #334
Since you've pinpointed the problem, why not submit the issue in `aurelia-metadata`? I can dig into the issue, but I'll need the version of `aurelia-metadata` you are using.

[2017-11-13 14:15] StrahilKazlachev commented on #334
You are probably opening a dialog passing a `class` for `viewModel`? If so a work around will be to use a app root relative *moduleId*.

[2017-11-13 14:25] StrahilKazlachev commented on #331
Questions are to be asked on our [Discourse forums](https://discourse.aurelia.io/), [Gitter channel](https://gitter.im/aurelia/discuss), SO, ... Also this is part of #1.

[2017-11-13 14:25] #331 closed

[2017-11-13 16:26] ItWorksOnMyMachine commented on #334
@StrahilKazlachev, you rock!  The switch to moduleId fixes this issue for me.

[2017-11-13 16:26] #334 closed

[2017-11-29 12:46] radenkozec commented on #254
@jods4 @jdemeuse1204 For me it works only without config.

`aurelia.use.plugin(PLATFORM.moduleName('aurelia-dialog'));`
As soon as I put additional settings via config like this:
[code]
it does not work anymore. Error message is:

Do you have some suggestion?

[2017-12-07 11:18] glen-84 commented on #257
@StrahilKazlachev,

This is still not working. I get `Can not resolve "moduleId" of "ArticlesDelete".`

[2017-12-08 22:59] StrahilKazlachev commented on #257
@glen-84 do you reproduce it with the previous repro you provided?
Also can you check you have `loader-default@1.0.3` - especially if you have any *lock* file?

[2017-12-10 13:33] glen-84 commented on #257
I just updated the repro (locally), and it's now working.

I guess there is some other issue with my app.

[2018-01-03 15:31] dannyBies commented on #1
Any updates on this? We're still seeing the focus moving off the dialog. I'm hoping for an official solution.

[2018-01-04 09:16] RomkeVdMeulen commented on #1
@timfish I like your solution, but if I understand this correctly it intercepts every tab press, which might not be the best in terms of a11y (I'm not sure, but I imagine some screenreader software might have other uses for tab that are incompatible with this).

I was thinking we could reverse this approach: once focus enters an element with `trap-focus` or one of its descendants, set `tabindex="-

[2018-01-04 10:13] timfish commented on #1
My only concern with that is `"every focusable element outside the trap-focus element"` could potentially be hundreds of elements which would need to be tracked to return their original tabindex.

If we're going to consider screen readers there are other things too
- `aurelia-dialog` should be adding `aria-hidden="true"` to the non-modal content (ie. everything behind).
- When dialog is closed, fo

[2018-01-04 12:59] RomkeVdMeulen commented on #1
Complying with all a11y requirements is indeed important, but I suggest we stick to focus considerations for this issue. That does include returning focus to the opening element when the dialog closes, but I'm not sure how to do that with the current structure of the aurelia-dialog plugin.

Good point. I've done some searching, but there's a lot of ways to potentially handle this. [Here's an examp

[2018-01-04 13:00] RomkeVdMeulen commented on #1
[Here are the WAI-ARIA specifications for dialog keyboard behaviour](https://www.w3.org/TR/wai-aria-practices/#dialog_modal).

[2018-01-04 13:03] RomkeVdMeulen commented on #1
[This SO answer may also be helpful](https://stackoverflow.com/questions/44452084/how-to-keep-focus-within-modal-dialog)

[2018-01-04 13:58] timfish commented on #1
My implementation will probably also stop users from tabbing to the browsers search/URL entry and other UI which is not really desirable. My app is currently only running in Electron where this is not an issue.

[2018-01-07 16:01] timfish commented on #160
We're seeing an exception like this in the latest RC:
![image](https://user-images.githubusercontent.com/1150298/34651136-5e51cc48-f3cc-11e7-9f39-c367961a21e8.png)

[2018-01-10 07:57] dannyBies commented on #1
Is it a good idea to use the implementation @timfish provided while waiting for official support? I'd like to use an official implementation instead of this one so we don't have to support this piece of code for our dialogs.

[2018-01-11 16:52] jholland918 commented on #283
Why is this closed?

[2018-01-11 16:55] jods4 commented on #283
@jholland918 scroll above, up to the "close issue" event, look at the last comment:

[2018-01-11 17:29] jholland918 commented on #283
@jods4 thanks, I didn't see it was tracked in https://github.com/aurelia/templating/issues/549 :)

[2018-01-11 21:10] jods4 commented on #283
No problem.
It was moved because I identified the bug inside the Aurelia core libraries, it's not specific to `aurelia-dialog`.

[2018-01-12 16:42] timfish opened #335 "Should be based on web standards HTML <dialog> element"
Aurelia is forward looking and supports web standards so shouldn't aurelia-dialog be built using the [HTML dialog element](https://www.w3.org/TR/html52/interactive-elements.html#the-dialog-element), be based around that API and use the relevant polyfils to aid with older browsers?

Obviously the API is not as nice as the `aurelia-dialog` API (ie. no async) so it might be worth wrapping it but in C

[2018-01-12 16:48] timfish commented on #1
My testing of [these demos](https://demo.agektmr.com/dialog/) in Chrome 64 seem to suggest that the HTML dialog element and `showModal()` seem the handle all the focus issues. No doubt they have better accessibility too.

[2018-01-12 16:57] timfish commented on #335
The HTML 5.2 specification [mentions an `autofocus` attribute](https://www.w3.org/TR/html52/sec-forms.html#autofocusing-a-form-control-the-autofocus-attribute) which works along with the dialog spec to set the focus in the dialog. This would replace the aurelia-dialog `attach-focus` which does the same thing.

[2018-01-12 19:45] zewa666 commented on #335
Great idea, now lets hope all the browsers and electron catch up soon enough

[2018-01-13 09:35] timfish commented on #335
It was added to chrome 37 so we don't have to worry about electron and the polyfill seems to work well as it appears to fix #1 on Safari.

[2018-01-13 19:11] StrahilKazlachev commented on #335
So lets see if this can be cleanly added in a `Renderer`.

[2018-01-15 10:24] RomkeVdMeulen commented on #335
As for accessibility: in my experience most screenreaders are still somewhat lagging in HTML5 support, but hopefully they'll catch up over time. I don't know how well the `<dialog>` is / can be made backwards compatible using ARIA. I'll do some testing and come up with some recommendations.

[2018-01-15 11:52] timfish commented on #335
For backwards compatibility I think we'd probably have to include:
[code]
`aria-modal` was introduced in ARIA 1.1. To support ARIA 1.0 screenreaders, anything outside the dialog should have `aria-hidden="true"` added which should have a similar effect.

[2018-01-15 17:03] Renaud009 opened #336 "Error: Mismatched anonymous define() module on dialogService.open()"
**I'm submitting a bug report**

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
Latest Aurelia CLI

* **Browser:**
Chrome

* **Language:**
TypeScript 2.4

**Current behavior:**
Based on documentation (welcome.js / edit-person.js) and latest Aurelia CLI (TypeScript) project
I get the following error when trying to open the dialog

this.dialogService.open({ vi

[2018-01-15 17:07] #336 closed

[2018-01-16 10:19] RomkeVdMeulen commented on #335
Some quick testing tells me support for the `<dialog>` tag is surprisingly good on Windows. Chrome seems to support the tag natively: when using NVDA 2017.4 and Chrome 63, the dialog is announced. NVDA with IE 11 or Firefox doesn't have native support, but the polyfill already sets `role="dialog"` automatically and with that, the dialog is announced on NVDA as well.

VoiceOver on Mac didn't announ

[2018-01-19 14:38] dijkpim opened #337 "'window.webkitStorageInfo' is deprecated. Please use 'navigator.webkitTemporaryStorage' or 'navigator.webkitPersistentStorage' instead."
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.2.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.9.1

* **NPM Version:**
v5.5.1

* **JSPM OR Webpack AND Version**
webpack 3.8.1

* **Browser:**
all

* **Language:**
TypeScript X.X

**Current behavior:**
[Deprecation] 'window.webkitStorageInfo' is deprecated. Please use 'nav

[2018-01-19 15:00] StrahilKazlachev commented on #337
Issue is for `aurelia-pal`/`aurelia-pal-browser`, the dialog does not use any storage APIs.

[2018-01-19 15:00] #337 closed

[2018-01-22 21:21] timfish commented on #335
I managed to find some time this evening to hack about with a modified version of `DialogRenderer` which simply inserts `<dialog>` rather than `<ux-dialog-container>` calls `showDialog()`, `close()` methods and removes some redundant code.

It looks like it will simplify quite a few things:
- No longer required to set `z-index` on any elements, dialog automatically ends up on top
- Overlay is no l

[2018-02-08 19:11] zhhz commented on #155
Same here, I'm seeing it in my console too....

[2018-02-15 11:59] timfish opened #339 "Feature Request - Means to keep overlay between multiple dialogs"
**I'm submitting a feature request**

**Current behavior:**
If you display one dialog after another, there is a brief time where the overlay disappears before the next dialog is displayed.

**Expected/desired behavior:**
There could be a way to keep the overlay between dialogs. This could probably be separate to this library but I'm sure others will find it useful

[code]

[2018-02-15 12:03] StrahilKazlachev commented on #339
For me this is entirely up to the `Renderer`. We can experiment using only one `overlay` in the `Renderer`s implementations.

[2018-02-15 12:12] timfish commented on #339
How would you tell the renderer that you want to keep the overlay even when no dialogs are in the stack?

I suppose you could always add an invisible dialog at the start and remove it in a `finally` once all your other dialog operations are complete?

[2018-02-15 12:16] StrahilKazlachev commented on #339
So your scenario is something like *conditional sequence* of dialogs? Whether the *next* shows depends on the result of the *previous*, bu the result is available *after* a dialog closes.

[2018-02-15 12:31] timfish commented on #339
Yes, conditional sequence of dialogs where I want keep the overlay between the dialogs to:
- stop the visual flash of removing and re-adding the overlay
- block the main app context

Currently this can be achieved by opening the subsequent dialogs from the previous dialog but this is a terrible pattern as the logic get spread through dialogs which then can't be reused for other purposes.

[2018-02-15 17:32] Alexander-Taran commented on #339
looks like a wizard scenario.
do you have branching inside this chain?
if not could you maybe instead of resolving after first dialog move on to next step? And conditionally render steps dialog?

[2018-02-15 19:06] timfish commented on #339
There are branches yes.

I did at one point have a single dialog that loaded steps though a `<compose>` but as soon as it started having conditional steps and branches I took a step back and noticed I was starting to create my own dialog renderer. 😆

Our overlay backdrop uses a CSS filter on the main content so fixing the flash of un-overlayed content was as simple as:
[code]

[2018-02-16 18:21] chrsmrtn- opened #340 "templating load error "Too much recursion" when using aurelia-bootstrapper 2.2.0"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.2.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.4.0

* **NPM Version:**
5.3.0

* **JSPM OR Webpack AND Version**
Aurelia CLI 0.31.3

* **Browser:**
Chrome 64.0.3282.167
Firefox 58.0.2 (64-bit)
Edge 41.16299.15

* **Language:**
TypeScript 2.7.1

**Current behavior:**
Unable t

[2018-02-17 07:40] compgumby commented on #340
Same here... Serious bummer.

[2018-02-17 10:56] Alexander-Taran commented on #340
If you look at changes between 2.1.1 and 2.2.0, only the dependencies changed
https://github.com/aurelia/bootstrapper/compare/c781a80515d35c9ab2f571138fe916d2bfe47d1f...master

[2018-02-17 11:39] StrahilKazlachev commented on #340
Try a clean install of the dependencies.

[2018-02-21 00:01] chrsmrtn- commented on #340
Will do. I think this means I just delete node_modules folder and run `npm install`? If not, how does one perform a clean install of dependencies

[2018-02-21 06:09] StrahilKazlachev commented on #340
Yes, delete and install.

[2018-02-21 23:13] chrsmrtn- commented on #340
That did the trick. I did update NPM to version 5.6.0 in the meantime

[2018-02-21 23:13] #340 closed

[2018-03-02 18:26] Alexander-Taran commented on #113
Stale since 2016

[2018-03-08 17:37] Alexander-Taran commented on #339
Seems like not a general case for framework.
Maybe it could be an extention of dialog plugin.
But then again how one would generalize the work done in wizard?

@timfish do you think it can be closed?

[2018-03-09 09:19] #339 closed

[2018-03-13 23:41] Alexander-Taran commented on #306
pr seems legit
if css file is not used -> can merge
if css file is used and styles are wrong -> should be merged

[2018-03-15 22:36] Alexander-Taran commented on #323
@thinkOfaNumber do you think it can be closed?

[2018-03-16 01:08] thinkOfaNumber commented on #323
It would be nice to move away from duck-typing, but I have no idea how error subclassing issues would affect other users of the framework! Given this is just my opinion and it's been "noted", then yes, I'll close :+1:

[2018-03-16 01:08] #323 closed

[2018-03-16 14:24] pape87 opened #344 "Dialog VM hooks for keyboard (Enter/Escape)"
**I'm submitting a feature request**

**Current behavior:**
When settings.keyboard is configured to respect keyboard events, upon pressing the key (Enter or Escape), only controller.ok()/controller.cancel() are called respectively.
There is no opportunity to verify or pass a result.

**Expected/desired behavior:**
Introduce two new life-cycle hooks to the dialog VM like this:

[code]

[2018-03-16 20:52] StrahilKazlachev commented on #344
1. Yes, there is no way to pass custom data.
2. I don't understand *verify*. To verify what? When calling `.ok()`/`.cancel()` if the VM implements `.canDeactivate`, that hook will be called with a `DialogCloseResult`. So you can see what *intention* it is being closed and prevent the closing if needed by returning `false`.
3. The keyboard logic is all in the *default* `Renderer` implementation. An

[2018-03-16 20:59] Alexander-Taran commented on #344
Oh my!!
and it is referenced in the docs
http://aurelia.io/docs/plugins/dialog#lifecycle-hooks

never knew

[2018-03-16 21:08] StrahilKazlachev commented on #344
Now that I think about it, both `canDeactivate` and `deactivate` hooks are called with `DialogCloseResult`. So you can manipulate the `.output` field - definitely not intended and feels like a hack but it is doable, since we are not freezing the result object(don't think we'll do it).

[2018-03-16 21:21] Alexander-Taran commented on #344
@pape87 do you think this satisfies you?

[2018-03-19 06:58] pape87 commented on #344
Yes this solved my issue. I've added some info to the docs about the canDeactivate result parameter.

Thank you

[2018-03-19 06:58] #344 closed

[2018-03-19 14:13] Alexander-Taran commented on #344
@pape87 take a look at this comment about interfaces available for dialog vm
https://github.com/aurelia/framework/issues/874#issuecomment-374203146

[2018-03-20 11:20] Alexander-Taran commented on #344
@pape87 thanks for your help with docs (-:

[2018-03-21 13:33] elitemike commented on #340
I am running into this issue and a clean install didn't help me.  I'm using NPM 5.7.1

[2018-03-27 12:18] RomkeVdMeulen commented on #155
And here...

[2018-04-20 09:57] iiiyx commented on #283
Sometimes `moduleId` resolved by Webpack is a number and the workaround doesn't help in this case.

We have such DialogService's ensureViewModel method after compilation using Webpack:
[code]
`compositionContext.viewModel` is our viewModel described as:
[code]
Then we go to this line:
[code]
And it becomes  `moduleId === "474"`

And then `compositionContext.viewModel === "474"`

Then we go to this

[2018-04-20 10:31] bigopon commented on #283
I see that you are using `webpack`, and already used `PLATFORM.moduleName` on the path, you can use the `moduleId`

[code]

[2018-04-20 10:43] iiiyx commented on #283
@bigopon thanks! It helped.

[2018-05-25 14:21] #1 closed

[2018-05-30 03:59] huochunpeng commented on #229
Boostrap doesn't use native transitionend event, but rather simulated it with setTimeout for reliable callback.

from https://github.com/twbs/bootstrap/blob/master/js/transition.js#L35-L43
[code]

Quote from the linked article by ALEX MACCAW:

@StrahilKazlachev how do you think about
[code]

The down side is now I need to use TRANSITION_DURATION to build defaultCSSText.
I can make a PR around this

[2018-05-30 04:04] huochunpeng commented on #229
How did this happened?? I don't think I got the privilege for doing that.

[2018-05-30 07:59] StrahilKazlachev commented on #229
I'll refrain from promising specific dates, but soon I'll merge the `Animator` support - *no* transitions there. I have a bit more to refactor.

[2018-05-30 10:01] huochunpeng commented on #229
Great to hear.

[2018-06-01 17:55] #188 closed

[2018-07-10 15:17] Sayan751 commented on #155
@RomkeVdMeulen Can you please share how you loaded aurelia-dialog plugin before the tests? I have tried the following, but without luck.

[code]
On `aurelia.start()` I am geeting the following error.

    at Loader.loadAllModules (webpack-internal:///./node_modules/aurelia-loader/dist/native-modules/aurelia-loader.js:113:11)
    at ViewEngine.importViewResources (webpack-internal:///./node_modules

[2018-07-10 16:19] RomkeVdMeulen commented on #155
@Sayan751 Sorry, my setup is based on SystemJS, and this seems to be webpack-based.

[2018-07-11 08:45] jfstephe commented on #101
@EisenbergEffect - can you provide a link to that config option? I can't see it in the [docs](https://aurelia.io/docs/plugins/dialog#styling-the-dialog).

I too need to be able to configure ux-dialog-container and below.

[2018-07-11 09:50] jfstephe commented on #101
@StrahilKazlachev - thanks for that - I can't find any documentation on the [aurelia site](https://aurelia.io/docs/) for 'useCSS'. Where did you find information about that from? Do I provide a css file location or the css itself? Does this apply to the ux-dialog-container or only ux-dialog?

[2018-07-11 10:42] StrahilKazlachev commented on #101
@jfstephe no idea why the API docs are missing, did ping the right person about that though.
1. `.useCSS` is basically a wrapper around `DOM.injectStyles`, so the argument is just the content of a `.css` file.
2. It completely replaces the default styles. There is no scoping.

[2018-07-24 13:16] seel93 commented on #91
This is still an issue for me, even with the solution provided above

[2018-07-27 20:48] StrahilKazlachev opened #353 "Add class reference support for .viewModel"
**I'm submitting a feature request**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
all

* **JSPM OR Webpack AND Version**
all

* **Browser:**
all

* **Language:**
all

**Expected/desired behavior:**

Adopt the new features from `aurelia-templating@1.8.0` in regard to the usage of `class` references. This will make the `class` ref for `.viewModel`

[2018-07-28 02:57] bigopon commented on #353
For this, I think we can also say they are both for later optional / uncertain usage. Typically the code responsible for opening dialog will be inside a class method, which makes it

[2018-07-28 06:08] StrahilKazlachev commented on #353
@bigopon what you are saying is that the execution of the code(user code) that is using those APIs is uncertain and for that was my example `import().then(m => this.dialogService.open({viewModel: m.MyDialogVM}))`. This does not change the fact that when you call the dialog API the `class` *will* be used.

[2018-08-03 03:40] TomStark16 opened #355 "Plugin setting configurations not working"
**I'm submitting a bug report**

* **Library Version:**
^1.0.0-rc.1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.11.3

* **NPM Version:**
6.1.0

* **JSPM OR Webpack AND Version**
No JSPM or webpack

* **Browser:**
all

* **Language:**
TypeScript ^2.6.2

**Current behavior:**
1. Default settings are configured for the aurelia-dialog with

[2018-08-03 06:51] StrahilKazlachev commented on #355
`lock` has been *deprecated*(*not* remove), since `v1.0.0-rc.1.0.0` - use `keyboard` and `overlayDismiss`.
`showCloseButton` - this is *undocumented* *@bindable* property of `<ux-dialog-header>`, it isn't a *general* dialog setting.

[2018-08-03 06:51] #355 closed

[2018-08-03 12:41] StrahilKazlachev commented on #317
No response.

[2018-08-03 12:41] #317 closed

[2018-08-03 12:44] StrahilKazlachev commented on #308
Closing since there hasn't been a response for over a year.

[2018-08-03 12:44] #308 closed

[2018-08-03 13:20] StrahilKazlachev commented on #315
Closing since no activity for over a year.
If someone still insists of maintaining the typnigs in duality - published under `@types` and part of the *npm* packages, *please* do open an issue in [aurelia-framework](https://github.com/aurelia/framework/issues) since this should apply to all Aurelia packages.

[2018-08-03 13:20] #315 closed

[2018-08-05 17:30] ormasoftchile opened #356 "Error when building"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.2.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.6

* **Node Version:**
v9.11.1

* **NPM Version:**
6.0.0

* **Browser:**
all

* **Language:**
TypeScript X.X

**Current behavior:**

When cloning the master branch, and after npm i, when building, I get this error:

 [3] src/dialog-composition-engine.

[2018-08-11 16:35] StrahilKazlachev commented on #353
Keeping the current API.
Change already merged.

[2018-08-11 16:35] #353 closed

[2018-08-11 19:34] #306 closed

[2018-08-18 09:31] StrahilKazlachev commented on #356
The `aurelia-templating` typings got a fix, but I forgot the usage here, fixed.

[2018-08-18 09:31] #356 closed

[2018-08-21 08:41] StrahilKazlachev opened #358 "AttachFocus is not the default export"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
2.0.0-rc.1

* **JSPM OR Webpack AND Version**
all

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Currently `undefined` is passed to `.globalResources`, because `AttachFocus` is not the `default` export, which results in an error.

**Expected/desired behavior:**

* **What is the expected be